[2016-03-14 09:22] ExtremeMan commented on #672
xctool will remain as a much more reliable and configurable testing tool for running iOS and OS X tests in CIs than Apple tools. Once Apple tools provide the same set of features we can start thinking about discontinuing this repository. Meanwhile xctool is the test runner for Buck, for example. For building you can use xcbuild, xcodebuild or Buck. There is no much sense to support building featur

[2016-03-14 09:22] #672 closed

[2016-03-14 10:57] mmmulani commented on #671
hey, sorry for the late response, was on PTO. it looks like `xctool` isn't hanging on anything interesting. Could you do a `sample xctest 1` as well or maybe just run `sysdiagnose` and upload the tar somewhere?

[2016-03-17 13:05] jonasman commented on #651
+1

[2016-03-22 19:28] ianhirschfeld commented on #666
Running into this as well, any word on when the next release will be?

[2016-03-22 23:10] mokagio commented on #666
@ExtremeMan

I can confirm that it's fixed on `master`.

[2016-03-23 10:35] plu opened #674 "Xcode 7.3"
Hi,

I've noticed some issues when using `xctool` on Xcode 7.3. To reproduce the issue I'm describing, it's easiest to clone my fork: https://github.com/plu/xctool.git

First let's reset it to a commit that just adds some `SampleApp`:

[code]

It does not execute the tests at all. Good news: I found a fix for this problem (9a8526c4d1dd21e4b73235db8212b620e61703e8). Bad news: There's no test output

[2016-03-23 20:49] LeffelMania commented on #655
@jaskooo Can you share what your error was? I'm experiencing the same issue and am having trouble hunting it down.

[2016-03-23 23:38] oliverhu commented on #674
Same here. xctool stopped working under Xcode 7.3

[2016-03-23 23:53] tinyfrog commented on #674
please help update xctool. it's crucial for us to build iOS 9.3 app

[2016-03-24 02:18] phatblat opened #675 "Release 0.2.9?"
Updating Quick to build with Xcode 7.3 in Quick/Quick#504 I ran across #666. In testing master with `brew uninstall xctool && brew install --HEAD xctool`, I've verified that the issue is resolved.

Can we get an official release with this fix?

[2016-03-24 04:13] plu commented on #674
The missing log output seems to be related to the usage of `KIF` in the `SampleApp`: https://github.com/kif-framework/KIF/issues/820

[2016-03-24 20:57] abbeycode commented on #172
I'm getting this now on Travis CI with the HEAD version of xctool (0.2.9). I'm using HEAD because of a different issue that `master` should fix (#666)

[2016-03-24 21:00] abbeycode opened #677 "Failed to query the list of test cases in the test bundle"
I'm getting the same error as #172 now on Travis CI ([link to the build](https://travis-ci.org/abbeycode/UnrarKit/jobs/118325194)) with the HEAD version of xctool (0.2.9) and the final release of Xcode 7.3. I'm using HEAD because of a different issue that `master` should fix (#666)

[2016-03-24 21:14] chibipanda opened #678 "XCTool failed on running one test with multiple tests inside"
I have a test case that looks like this:

[code]

I can run this on xcode without any problem. However, running this through XCTool got me the following error:
[code]

This is the command I am using:
[code]

Any thoughts why this might be?

Running other scheme (the one without the test suite) works fine. Running one test method without test suite also works fine. It's just this test suite thing t

[2016-03-24 21:33] oliverhu commented on #677
check #676

[2016-03-24 21:40] abbeycode commented on #677
@oliverhu Thanks, I'll keep an eye on it. Is it possible to do a `brew` install from the PR's branch?

[2016-03-24 21:43] oliverhu commented on #677
check https://github.com/PSPDFKit-labs/xctool. The fix is merged there... You should be able to brew from that fork.

[2016-03-24 21:46] abbeycode commented on #677
@oliverhu I haven't done that before. Do you know what the `brew` command would look like to point to a different fork?

[2016-03-25 01:33] #674 closed

[2016-03-25 02:30] oliverhu commented on #677
@abbeycode there was a way to do it. Cannot remember now. Anyway, that fix is already merged into Facebook's xctool master :)

[2016-03-25 02:50] abbeycode commented on #677
@oliverhu Ha. Thanks

[2016-03-25 02:50] #677 closed

[2016-03-29 06:31] johnbill commented on #534
Looks like AWS device farm claimed to support Xcode 7 UI Test: http://docs.aws.amazon.com/devicefarm/latest/developerguide/test-types-ios-xctest-ui.html

[2016-03-29 14:41] thomasvl commented on #619
fyi - travis rolled 0.2.8 into their base images - https://blog.travis-ci.com/2016-03-23-xcode-image-updates, so more folks are likely to hit these crashes.

[2016-03-29 16:31] michaeltnguyen opened #682 "Tests not running after simulator launch"
xctool appears to hang after outputting the following:

[code]

also looks like there are two xctool processes running
[code]

running the code on master
[code]
Any ideas?

[2016-03-30 14:41] raksik commented on #682
I noticed the same issue on Xcode 7.3 + EL Capitan, and it happens for all iOS simulators whose version >= 9.0

[2016-03-31 19:27] thalmicMark opened #684 "Assertion failed: [NSThread isMainThread]"
When I run this:

    xctool -project MyApp.xcodeproj -scheme MyApp test

I get the following output when testing starts:

    [Info] Collecting info for testables... (2126 ms)
    2016-03-31 15:12:20.134 xctool[37826:19788395]  DVTAssertions: ASSERTION FAILURE in /Library/Caches/com.apple.xbs/Sources/DVTFrameworks/DVTFrameworks-10174/DVTFoundation/FoundationClassCategories/DVTNSBundleAdditions.m:

[2016-04-01 00:41] danielribeiro commented on #636
closing. ios 7 is too old as of 2016.

[2016-04-01 00:41] #636 closed

[2016-04-01 08:03] tonyblues commented on #684
I got the same error! Please help to fix it!!! Thanks!

[2016-04-01 09:52] tomangistalis commented on #682
Is there a workaround for this? I've installed xctool directly from master to fix [#684](https://github.com/facebook/xctool/issues/684) but now I got this issue.

[2016-04-01 10:03] arturogutierrez commented on #682
@tomangistalis I did exact the same thing and I'm suffered this problem now.

[2016-04-01 10:21] stephanheilner commented on #682
I'm totally broken as well since upgrading to Xcode 7.3. I tried installing the HEAD version of xctool, but half the time the Simulator won't start, half the time it just hangs after launch.

[2016-04-01 11:12] stephanheilner opened #685 "Simulator hangs after launch with `run-tests` on Xcode 7.3"
I'll attach a sample project, but when running HEAD (0.2.9), the simulator will launch with Xcode 7.3 and iOS 9.3, but shortly after launch, the simulator just hangs. It gets further if I just use `test` instead of `build-tests` and `run-tests`, fwiw.

[2016-04-01 20:27] fen-x opened #686 "Phabricator reporter fails to handle build failure"
Following exception is raised every client project build failure:

[code]

Xcode: Version 7.2.1 (7C1002)
xctool: 0.2.8, installed with brew

[2016-04-02 08:57] TYRONEMICHAEL commented on #248
Still having xctool recompile files on every run.

For eg:

`xctool  -workspace MyWorksSpace  -scheme MyScheme -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6,OS=9.2'  test`

`xcodebuild  -workspace MyWorksSpace  -scheme MyScheme -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6,OS=9.2'   test | xcpretty --test --color`

The former recompiles everytime

[2016-04-03 01:28] #685 closed

[2016-04-03 01:30] stephanheilner opened #687 "No output logs even with specified reporters with Xcode 7.3"
Logs show up when running `build-tests`, but none show up, even with `-reporter json-stream` (or pretty/plain) or when using `run-tests` or `test` with Xcode 7.3.

[2016-04-04 21:15] jtreanor commented on #684
I am so seeing this error. Let me know if I can send details to help diagnose this.

[2016-04-05 12:51] steipete opened #688 "Unable to find a destination matching the provided destination specifier"
We're using latest master xctool including https://github.com/facebook/xctool/pull/679.

Currently running our CI is like roulette. It sometimes works, but most of the time we get a log like this:

[code]

Is anyone else seeing this? I have no idea why this seemingly fails at random and sometimes does run through. Any hints or things we could try are appreciated, my goal for the week is to get our

[2016-04-06 03:55] phatblat commented on #687
What test framework(s) are you using? Nimble (Quick/Nimble#270), Cedar (pivotal/cedar#383) and KIF (kif-framework/KIF#819) all ran into this issue with Xcode 7.3.

[2016-04-06 04:14] stephanheilner commented on #687
I'm using KIF. I'll definitely give what they suggest in that link a shot.

[2016-04-06 13:22] plu commented on #688
Are you by any chance switching back between Xcode 7.2 and Xcode 7.3? We had similar issues when doing that. The hint I'm seeing in your logs is this:

[code]

Unfortunately I have no solution for you, but once we switched all branches to Xcode 7.3 the problem disappeared. Maybe it's worth a shot figuring out what this `CoreSimulatorService` is and try to kill it on the start of each CI run?

[2016-04-06 13:42] plu commented on #682
We had the same problem, unfortunately yet without a proper solution. I have implemented a workaround though, which you can try: https://github.com/technology-ebay-de/xctool/commit/6290d227234d3f25d796f940f97ea08200757998
This got our CI stable again, with the penalty of the retries of course.

[2016-04-06 14:29] arturogutierrez commented on #682
@plu, how can I install your fork/patch with `brew`? Thanks!

[2016-04-06 18:20] alanzeino commented on #682
I'm seeing this issue manifest where the app quits right after the 'Launched' step.

[2016-04-07 02:13] plu commented on #682
@arturogutierrez no idea about `brew`, sorry. But you can just clone the fork, check out the branch `ebk/release` and build `xctool` via `./scripts/make_release.sh`. You might need to comment out the test section in the script, there's two failing `tvos` tests on Xcode 7.3, at least on my machine. The result of the script will be a zip file containing `xctool` binaries that you can use.

[2016-04-07 20:35] danielribeiro commented on #678
Have you tried running against Xctool master?

[2016-04-07 20:51] oliverhu opened #689 "xctool hangs at `run-tests --listTestsOnly` (Xcode 7.3)"
Environment: Mac OS El Capitan + Xcode 7.3
I am trying to list the tests by running:

~/ios/xctool/xctool.sh -derivedDataPath /Users/khu/ios/demo-ios_trunk/build --scheme DemoUITests -sdk iphonesimulator -workspace demo.xcworkspace run-tests --listTestsOnly -reporter plain

It hangs at:

[Info] Loading settings for scheme 'DemoUITests' ... (2848 ms)

=== RUN-TESTS ===

It was working with Yosemite

[2016-04-07 20:58] oliverhu commented on #689
Sampled the process:

[code]

[2016-04-07 21:26] ExtremeMan commented on #682
Can any of you confirm that similar warnings are printed to simulator logs:

[code]

Most likely it causes that issue.
Can any of you confirm that Xcode can run tests xctool fails to run?

We see similar issues for our apps and for some of them we were able to fix it by resolving those warnings.

[2016-04-08 00:34] mikecole20 commented on #682
Looks like we are having this issue as well using CircleCI. We were able to override the test call with the `xcodebuild` command to get around it for now.

[2016-04-08 06:45] ExtremeMan commented on #682
Additionally can anyone try my branch - https://github.com/facebook/xctool/tree/nekto/xcode7?

[2016-04-08 15:16] oliverhu commented on #682
@plu that also fixed our issues in our CI. Normally 1 - 3 retries :(

[2016-04-08 16:06] stephanheilner commented on #689
Are you sure that its hung, or is the problem that you don't see any output logs? Are your tests actually running?

[2016-04-08 16:17] oliverhu commented on #689
It hangs.

It seems to be the same issue as  #682

The ` xcodebuild -showBuildSettings` command hangs intermittently in Xcode 7.3 env

[2016-04-08 16:56] bielikb commented on #684
same thing happens to me also

[2016-04-08 17:11] ExtremeMan commented on #684
Are you on master?

[2016-04-08 17:11] ExtremeMan commented on #689
Can you try my branch please?

[2016-04-08 17:12] ExtremeMan commented on #682
We are seeing at Facebook that fix on branch nekto/xcode7 fixes the issue. If anyone can confirm or deny would be much appreciated. I will push it to master and make a new release then.

[2016-04-08 17:13] ExtremeMan commented on #687
Merging into https://github.com/facebook/xctool/issues/682.

[2016-04-08 17:13] #687 closed

[2016-04-08 17:14] thalmicMark commented on #684
I installed via `brew install xctool`.

[2016-04-08 17:14] ExtremeMan commented on #678
xctool doesn't support dynamic tests creation unless tests are created on test bundle launch.

[2016-04-08 17:14] #678 closed

[2016-04-08 17:21] ExtremeMan commented on #684
Got it. I suspect I fixed that bug on master.

[2016-04-08 18:11] thalmicMark commented on #684
I'll give master a try and see if it works.

[2016-04-08 18:19] thalmicMark commented on #684
Yup, master does not have this bug.

[2016-04-08 18:20] ExtremeMan commented on #684
Awesome. Thanks for checking! Hopefully I will prepare new release soon. Closing since it is fixed on master.

[2016-04-08 18:20] #684 closed

[2016-04-08 18:22] ExtremeMan commented on #688
The error you see is actually xcodebuild error and not the one generated by xctool. Also as @plu mentioned the warning `CoreSimulator is attempting to unload a stale CoreSimulatorService job.` means you are switching between Xcodes on your machine which might cause such broken behavior.

[2016-04-08 18:22] #688 closed

[2016-04-08 19:01] mgetzbw opened #690 "xctool fails Test did not run: the test bundle stopped running or crashed before the test suite started."
Environment: Mac OS El Capitan + Xcode 7.3

    xctool --version
    0.2.9
    xcodebuild -version
    Xcode 7.3
    Build version 7D175

Tests fail with xctool reporting:

    Test did not run: the test bundle stopped running or crashed before the test suite started.

Notes:
* Debug output from the executable is noticed
* Tests succeed in xcode

[2016-04-08 21:09] briankracoff commented on #682
@ExtremeMan your branch worked for us, thanks!

[2016-04-08 21:13] ExtremeMan commented on #682
@briankracoff, thanks for confirmation! I just pushed changes to master. New release is coming.

[2016-04-08 21:20] ExtremeMan commented on #689
Fix should be on master.

[2016-04-08 22:12] steipete commented on #688
Hmm. There's only the latest Xcode version installed on our Jenkins workers, so that can't be it. We've temporarily switched back to xcodebuild+xcpretty which work reliable, but slower. Will continue to investigate...

[2016-04-08 22:17] ExtremeMan commented on #688
Can you try removing `platform=` form destination?

[2016-04-08 22:18] ExtremeMan commented on #688
Also same as in PR - try running with `-showTasks` and verify that `-destination` argument is passed by xctool correctly to `xcodebuild`.

[2016-04-09 07:37] oliverhu commented on #689
👍

[2016-04-09 15:49] MP0w opened #691 "Consider Performance test baseline"
Hi, I tried to search about this but I couldn't find anything. Is there a way to consider the baselines for performance tests stored in the .xcodeproj shared data?
Here is the build on travis: https://travis-ci.org/devlucky/Kakapo/jobs/121923285

thank you in advance

[2016-04-11 10:56] mmmulani commented on #690
have you tried adding some NSLog's to the test in setUp/tearDown and the body to see if it's actually started?

[2016-04-11 10:58] mmmulani commented on #691
no clue about this. In this a feature Xcode/xcodebuild supports already? If it's only in the Xcode UI then the answer is probably no.

[2016-04-11 11:03] mmmulani commented on #686
is there anything weird with the project? it looks to be crashing here: https://github.com/facebook/xctool/blob/49464a431b51ad6d0e7de3f15eb611db5817e93a/reporters/phabricator/PhabricatorReporter.m#L83

also could you try building xctool from this repo? the latest version seems to be 0.2.9

[2016-04-11 12:30] mgetzbw commented on #690
@mmmulani I just did, I'm getting the NSlogs out in triplicate, both setup and teardown:

2016-04-11 06:28:38.069 app[3019:3982936] Tearing down tests
2016-04-11 06:28:38.069 app[3019:3982936] setting up tests!
2016-04-11 06:28:38.070 app[3019:3982936] Tearing down tests
2016-04-11 06:28:38.070 app[3019:3982936] setting up tests!
2016-04-11 06:28:38.070 app[3019:3982936] Tearing down tests

[2016-04-11 12:35] mgetzbw commented on #690
@mmmulani appears to be a conflict with Quick and Nimble versions 0.9.1 and 3.2.0 respectively on a hunch I ran a `pod update` and it installed the following:

Installing Quick 0.9.2 (was 0.9.1)

Everything seems to be working now

[2016-04-11 12:35] #690 closed

[2016-04-11 16:51] oozbekta commented on #682
Hey, @ExtremeMan when do you think you will release a new version?

[2016-04-11 16:54] ExtremeMan commented on #682
@oozbekta, today!

[2016-04-11 18:05] ExtremeMan commented on #682
New release is already available on github. Homebrew will have it soon too: https://github.com/Homebrew/homebrew-core/pull/220.

[2016-04-11 18:05] ExtremeMan commented on #675
New release is now available on github. Homebrew will have it soon as well: https://github.com/Homebrew/homebrew-core/pull/220.

[2016-04-11 18:05] #675 closed

[2016-04-11 18:07] ExtremeMan commented on #671
Could you try 0.2.9?

[2016-04-11 18:07] #682 closed

[2016-04-12 09:40] fen-x commented on #686
Double checked with `0.2.9`.

Steps to reproduce:

1. Create new Xcode project. (I've used `iOS/Application/Single View Application` template)
1. Break something in code to fail the build. (I've commented out return statement in `application(_:didFinishLaunchingWithOptions:)`)
1. Run `xctool -project test_project.xcodeproj -scheme test_project build -reporter phabricator`.
1. Get crash with except

[2016-04-13 10:12] wongzigii commented on #684
After upgrade to v0.2.9, it works!

[2016-04-14 12:15] Gogle commented on #534
@johnbill Does that really work?

[2016-04-14 12:28] marekcirkos commented on #534
You can use `XCTestBootstrap` which is part of `FBSimulatorControl` to launch xcuitests. We use it to launch  https://github.com/facebook/WebDriverAgent on simulators and devices. It might not report test results,but that should not be difficult to add :).

[2016-04-14 12:29] marekcirkos commented on #534
You can also use `fbsimctl` which is also part of `FBSimulatorControl` to start xcuitests from command line.

[2016-04-14 12:36] lawrencelomax commented on #534
`XCTestBootstrap` in isolation should provide support for launching on Devices. `XCTestBootstrap ` has no awareness of `FBSimulatorControl` but linking with some of the XCode frameworks allows it to do it's magic.

The API may not be as convenient as is currently the case for `launch_xctest` on `fbsimctl`, but we don't have anything specific to announce around Open-Sourcing of `fbsimctl` for devic

[2016-04-14 13:30] stephanheilner commented on #689
Its still hanging, and I'm using HEAD. Are you positive this is fixed?

[2016-04-14 15:45] stephanheilner commented on #689
I can confirm that this is NOT fixed. It hangs for me maybe 2 out of 3 times I run `run-tests --listTestsOnly`

[2016-04-14 16:26] MP0w commented on #691
I'm trying to understand more but I'm not sure how it works, when testing form Xcode the baseline are considered.
In the derived data the `.xctest` bundle contains a plist with the baselines and a `.xctestconfiguration`.

Looking at the logs doesn't help to understand how xcodebuild is used but :
[code]

[2016-04-14 16:30] ExtremeMan commented on #689
Can you sample and provide the sample? Or even better a test project on which xctool hangs.

[2016-04-14 17:34] oliverhu commented on #689
Intermittently failing, not fixed. See hanging again.

It hangs because `xcodebuild -showBuildSettings` hangs

[2016-04-14 20:51] stephanheilner commented on #689
An Apple engineer friend of mine said to add `spindump xcodebuild -showBuildSettings` (with sudo) to get the output logs from xcodebuild and see what is actually hanging. I can file a radar if its something we can't work around.

[2016-04-14 23:23] oliverhu commented on #689
There is a walk around from @plu [https://github.com/technology-ebay-de/xctool/commit/6290d227234d3f25d796f940f97ea08200757998](url) That works for us

[2016-04-14 23:28] ExtremeMan commented on #689
@oliverhu, any chance you can copy-paster the hack? Link doesn't work for me.

[2016-04-15 02:37] plu commented on #689
It's the old workaround retrying a few times in case `xcodebuild` hangs: https://github.com/technology-ebay-de/xctool/commit/6290d227234d3f25d796f940f97ea08200757998

We had the discussion here: https://github.com/facebook/xctool/pull/681

:)

[2016-04-18 10:28] wongzigii opened #692 "NSInternalInconsistencyException', reason: 'Platform 'iphoneos' is not yet supported."
[Info] Collecting info for testables... (1334 ms)
    2016-04-18 18:23:00.413 xctool[62265:9152864] *** Assertion failure in -[SimulatorInfo systemRootForSimulatedSdk], /Users/nekto/Projects/xctool/xctool/xctool/SimulatorWrapper/SimulatorInfo.m:280
    2016-04-18 18:23:00.414 xctool[62265:9152864] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Platform '

[2016-04-18 21:16] alanzeino opened #693 "Crash in TestableExecutionInfo in xctool 0.2.10 [Xcode 7.3]"
[code]

[2016-04-18 21:19] alanzeino commented on #693
Specifically, it seems nil is being passed into `BuildSettingsFromOutput()` here:

`NSDictionary *allSettings = BuildSettingsFromOutput(output[@"stdout"]);`

[2016-04-18 23:48] stephanheilner commented on #689
That workaround still doesn't work. I submitted a radar to Apple, verified the problem is with xcodebuild and sent them a sample project that replicates it. rdar://25779929

[2016-04-18 23:49] stephanheilner commented on #689
I'll post the sample project if you want. But the bug is outside of xctool. Maybe there's a temporary workaround, but if not, we'll have to wait in Apple for this one.

[2016-04-19 01:44] oliverhu commented on #689
@stephanheilner  could you please post the sample project.

Our workflow is:
Step 1: list test cases
Step 2: start multiple simulators to run tests.

So even the first step failed to run. It hangs at `xcodebuild -showBuildSettings`. I am not convinced the hanging is caused by multiple simulators. But yeah, this has nothing to do with xctool :)

[2016-04-19 02:01] stephanheilner commented on #689
[MyTestProject.zip](https://github.com/facebook/xctool/files/225099/MyTestProject.zip)

Execute the 'makeHang.sh' script that basically just runs a bunch of `xcodebuild` commands simultaneously. It will cause xcodebuild to hang. To see the threads, after you run that script and while you're waiting to see if they will finish, run `sudo spindump`, which will track and log every process for 10 secon

[2016-04-19 03:11] ExtremeMan commented on #689
Actually we started hitting this as well when running even one instance of `xcodebuild -showBuildSettings`.

[2016-04-19 19:00] stephanheilner commented on #689
I'm seeing the same thing now, @ExtremeMan. Running a single instance of run-tests will cause it to hang as well. If there was another progress is was waiting on, we could kill it, or if we could just run tests serially, but with this, we're stuck until they fix it. Xcode 7.3.1 GM is out today, but not fix listed for this.

[2016-04-20 14:15] mmmulani commented on #692
it looks like you're specifying 'iphoneos', i.e. to test on device, which I do not believe is supported.

[2016-04-21 06:59] odedgold commented on #689
Hi, I'm having the same problem, running unit-tests or kif-ui-tests. run-tests hangs. Any news or workaround?

[2016-04-25 18:27] ExtremeMan commented on #689
We aren't working on any workaround currently since the bug is in xcodebuild.

[2016-04-25 20:33] oliverhu commented on #689
@odedgold currently i think you can either put a timeout/retry logic in xctool or in your test runner

[2016-04-25 21:54] ExtremeMan commented on #689
Ideally you should all start switching to `xcodebuild` (or other build tools).

Then you can use those tools to build test targets with test hosts. But for running tests `xctool` is still the best tool. Though you will still need to figure out what to pass to `xctool` in order to run tests. For that purpose you will need to use `xcdebouild -showBuildSettings` which is the root cause of these deadl

[2016-04-26 02:17] plu commented on #689
It would be great if you could share the scripts :).

[2016-04-26 06:43] odedgold commented on #689
Thanks @oliverhu I'll try this, @ExtremeMan - scripts would be great :)

[2016-04-26 07:03] oliverhu commented on #689
@ExtremeMan Lol same here, we also use `xcodebuild` to build while use `xctool` to run tests, `xcodebuild` is like 3-4 times faster to build. However, a major pain point in you cannot specify the UUID of a simulator as the destination of a test target, nor can you specify the test cases easily, xctool rocks :)

[2016-04-26 12:49] bielikb commented on #684
brew still has only v0.2.8, where this problem appears

[2016-04-26 20:32] joshuafeldman commented on #684
Using the latest HEAD of master I am still seeing this during tests running from Jenkins.

[2016-04-29 20:22] onlydole opened #695 "Jenkins iOS Simulator timeout during xctool app install (Xcode 7, iOS 9.3.x)"
I am running Jenkins on an older Mac Pro (2012) and am having trouble running my xctool test suite.

My setup mirrors this [blog post](http://staxmanade.com/2015/01/setting-jenkins-up-to-run-xctool-and-xcode-simulator-tests) (which is recommended by the xctool project).

The specific error I'm seeing tends to happen intermittently as of the latest Xcode 7 and iOS 9.3 update, and I am running xctoo

[2016-05-02 17:56] brennantaylor commented on #671
Actually I'm closing this issue. The test is gone now and we're not experiencing the issue anywhere else.

[2016-05-02 17:56] #671 closed

[2016-05-02 20:06] AnthonyUccello opened #696 "What is an xctool.sh file?"
Setting up Unit Testing is broken on my project (there are endless linker and file issues and every time one is solved another pops up). xctool looks promising but I'm having issues getting started.

I got it installed but then I immediately run into issues with the xctool.sh file:

Can you shed some light on what this file `xctool.sh` is, and perhaps where I can learn how to make/edit one? (Googl

[2016-05-02 20:33] ExtremeMan commented on #696
`xctool.sh` is shipped with open sourced version of xctool: https://github.com/facebook/xctool/blob/master/xctool.sh. If you are using xctool from homebrew you can just directly call to `xctool`. xctool.sh behind the hood builds xctool from source codes and then invokes a binary.

[2016-05-03 18:35] oscarmk1 commented on #534
Is there any tool that currently allows to run a XCTest UI test individually, as opposed to the whole suite, like xctool does?. I looked at fastlane/scan, and while it is a very nice wrapper of xcodebuild with xcpretty that also handles many other issues, it is limited to xcodebuild capabilities, meaning you have to build and then test, and also you cannot run individual tests or classes.

[2016-05-04 08:36] fdierick commented on #326
Still no planned support for this? I found XCUITests to be unreliable in Simulator but still would like to use xcbuild/xctool for clean build output

[2016-05-04 09:23] lawrencelomax commented on #534
Not yet, but I've been playing with getting [`XCTestBoostrap`](https://github.com/facebook/FBSimulatorControl/tree/master/XCTestBootstrap) working with Application tests with a full reporting interface. It connects directly to the `testmanagerd` service running on the Device/Simulator and receives all the progress callbacks that Xcode/`xcodebuild` receives. If you pour through the code there, you

[2016-05-04 14:09] arturogutierrez commented on #689
Did anyone try with Xcode 7.3.1 released yesterday? I will try ASAP but in the release notes I can't find anything about this issue

[2016-05-04 14:41] oscarmk1 commented on #534
@lawrencelomax Thanks for the update, I will take a look at `XCTestBoostrap`, sounds promising.

[2016-05-05 01:02] ExtremeMan commented on #469
Support for building projects with xctool is deprecated and will not be updated to support future versions of Xcode. We suggest moving to xcodebuild (with xcpretty) for simple needs, or xcbuild for more involved requirements. xctool will continue to support testing.

[2016-05-05 01:02] #469 closed

[2016-05-05 01:02] ExtremeMan commented on #532
Support for building projects with xctool is deprecated and will not be updated to support future versions of Xcode. We suggest moving to xcodebuild (with xcpretty) for simple needs, or xcbuild for more involved requirements. xctool will continue to support testing.

[2016-05-05 01:02] #532 closed

[2016-05-05 01:03] ExtremeMan commented on #651
Support for building projects with xctool is deprecated and will not be updated to support future versions of Xcode. We suggest moving to xcodebuild (with xcpretty) for simple needs, or xcbuild for more involved requirements. xctool will continue to support testing.

[2016-05-05 01:03] #651 closed

[2016-05-05 01:04] #696 closed

[2016-05-05 01:05] ExtremeMan commented on #695
What is said in other logs? xctool prints the error. But if xctool wasn't able to install the app, that means that your CI is most likely configured incorrectly. Does it work if you run the app from Xcode?

[2016-05-05 01:05] ExtremeMan commented on #692
What Mehdi said.

[2016-05-05 01:05] #692 closed

[2016-05-05 01:06] ExtremeMan commented on #686
Support for building projects with xctool is deprecated and will not be updated to support future versions of Xcode. We suggest moving to xcodebuild (with xcpretty) for simple needs, or xcbuild for more involved requirements. xctool will continue to support testing.

[2016-05-05 01:06] #686 closed

[2016-05-05 01:07] ExtremeMan commented on #644
Closing because we are deprecating build support. Please open new issue if purely running tests is still a problem.

[2016-05-05 01:07] #644 closed

[2016-05-05 01:07] ExtremeMan commented on #242
Support for building projects with xctool is deprecated and will not be updated to support future versions of Xcode. We suggest moving to xcodebuild (with xcpretty) for simple needs, or xcbuild for more involved requirements. xctool will continue to support testing.

[2016-05-05 01:07] #242 closed

[2016-05-05 01:07] ExtremeMan commented on #248
Support for building projects with xctool is deprecated and will not be updated to support future versions of Xcode. We suggest moving to xcodebuild (with xcpretty) for simple needs, or xcbuild for more involved requirements. xctool will continue to support testing.

[2016-05-05 01:07] #248 closed

[2016-05-05 01:08] ExtremeMan commented on #426
Huh. Is this still relevant? Sorry we have got back to you!

[2016-05-05 01:11] ExtremeMan commented on #641
Looks like Christian answered!

[2016-05-05 01:11] #641 closed

[2016-05-05 02:33] onlydole commented on #695
@ExtremeMan - I do get the same thing with Xcode (my hypothesis is that this is a disk performance or a n issue with Xcode's tools). It was odd as this issue happened intermittently - the app would always fail the first two of three tries (exceeding the 30 second timeout), then finally it would take 26 or 28 seconds to install and work as expected. I was ultimately able to bring this time down to

[2016-05-05 02:40] ExtremeMan commented on #695
I think Apple changed something in Xcode at some point (7.3?). I saw that it takes more time to actually launch a simulator as well. Closing since you found a fix ;)

[2016-05-05 02:40] #695 closed

[2016-05-07 14:10] OliverPearmain opened #697 "Have xctool output unprocessed xcodebuild log?"
There are numerous 'reporters' available that convert the xcodebuild output but I don't see any option to have an unchanged/unprocessed output?  Is this something that's possible without writing my own reporter?

[2016-05-09 08:46] AlexChesters commented on #692
I'm getting the same error running the following:
`xctool -scheme myapp-internal -workspace myapp.xcworkspace/ run-tests`

I'm not sure where I'm specifying 'iphoneos', any advice?

[2016-05-09 08:52] AlexChesters commented on #692
I fixed this with the following command:
``xctool -scheme myapp-internal -workspace myapp.xcworkspace/ run-tests -test-sdk iphonesimulator9.3`

[2016-05-13 14:13] jparker-hbo commented on #689
We still have hang issues with 7.3.1

[2016-05-13 15:17] arturogutierrez commented on #689
Seems that the problem affects only to apps with `Background Modes` enabled in capabilities (or it's our case at least).
We found a workaround disabling them in our CI build (removing `UIBackgroundModes` in the Info.plist file with a script) and all problems were gone, it's working as a charm now.
PD: Remember reset the simulator before to try this workaround, otherwise xctool will hang again beca

[2016-05-15 06:19] plu commented on #689
@oliverhu @ExtremeMan: How do you use `xcodebuild` to build your test targets? I can get that only working when using `xctool`. Any hints would be really great :).

[2016-05-15 19:17] oliverhu commented on #689
@plu did you specify the same `derivedPath`s for both `xcodebuild & xctool`? With that, it just works for me :D

[2016-05-16 02:44] plu commented on #689
Yes, that works. I'm wondering if it's possible at all to execute `xcodebuild` and get the `xctest` bundles build, without using `xctool` at all.

[2016-05-16 03:11] oliverhu commented on #689
@plu Yes, if you select `Run` in the Scheme/UI for the test target (not only `Test`) :D

[2016-05-16 22:30] jafara commented on #534
Any updates on this? Has anyone dig through to support this?

[2016-05-23 08:12] ATS-RyanPowell opened #698 "Failed to query the list of test cases in the test bundle"
I'm getting error message
`Failed to query the list of test cases in the test bundle: Test bundle not found at: /Users/me/Library/Developer/Xcode/DerivedData/.../Test.xctest
`
From running command:
`~/Downloads/xctool/xctool.sh -sdk iphonesimulator -scheme DBManager -configuration release -arch i386 clean test`

The odd thing is that if I run:
`xcodebuild -sdk iphonesimulator -scheme DBManager -co

[2016-05-26 09:19] emimh commented on #454
Any update on this issue? Still having this problem in 0.2.9 ...

[2016-05-26 11:08] ExtremeMan commented on #454
As a workaround just convert tests to application tests or launch simulator manually.

[2016-05-31 20:48] gregall opened #699 "Xcode 7.3.1"
Hi,

I've noticed some issues when using xctool on Xcode 7.3.1. My specification is:

Xcode:
`Version 7.3.1 (7D1014)`

SDK:
[code]
OS X:
`OS X El Capitan 10.11.5 `

CRASH:
[code]

Command:
[code]

The problem started to occur after the update Xcode, when i use xcodebuild everything is ok.
Similar problem:
https://github.com/travis-ci/travis-ci/issues/3986

[2016-06-06 21:09] ericbomgardner commented on #689
Oops, didn't mean to pollute this thread with my commit, sorry about that. Thanks @plu for the fix, though!

[2016-06-07 21:21] anivaros opened #700 "Xctool can't run with custom simulator name"
I've renamed simulator to "iPad Unit Tests" and xctool can't find it by name:

[code]

[2016-06-07 21:31] ExtremeMan commented on #700
I think it has been reported previously. Can you have a look? Somewhere in xctool we are querying device by their type rather than name. Also are you running master by any chance?

[2016-06-07 22:21] grangej opened #701 "Finds 0 tests when using parameterized test"
I have a particular test case that overrides defaultTestSuite, this seems to trip up xctool, works with xcodebuild.

When running with xctool, I get 0 tests. Other tests from different schemas run fine.

[2016-06-07 22:30] ExtremeMan commented on #701
Unfortunately xctool relies on default XCTest framework `defaultTestSuite` behavior. If you use it to create tests on the fly, it is your responsibility to return same set of test cases when xctool queries them.

[2016-06-07 22:30] #701 closed

[2016-06-09 15:29] grangej commented on #701
Could you please point me to the direction on what additional I might have
to do to "conform" to the default behavior? I am already returning existing
test suite with additional tests.

-John

On Tue, Jun 7, 2016 at 3:30 PM Aleksey Kononov <notifications@github.com>
wrote:

[2016-06-10 09:48] gregall commented on #699
@ExtremeMan is it possible to solve this problem?

[2016-06-10 17:19] ExtremeMan commented on #699
I don't think it is anything to do with xctool.
Crash clearly says where the problem is: `API violation - called -[XCTestExpectation fulfill] after the wait context has ended for Expecting fetched purchase.`

[2016-06-23 04:34] mokagio opened #702 "xctool hangs "Collecting info for testables..." on CI only"
`xctool clean test` works fine locally, but consistently hangs on CI after:

[code]

This happens both on Travis CI and Circle-CI. Here's the [Circle build](https://circleci.com/gh/mokagio/Quick/23) and [Travis build](https://travis-ci.org/mokagio/Quick/jobs/139663368). Too see more failures look at the [Travis CI builds list](https://travis-ci.org/Quick/Quick/builds).

Some related issues:

- htt

[2016-06-23 12:48] plougy commented on #702
I get also this message in this moment but in **local** with a _Swift_ project. Nothing happen after.

[2016-06-24 04:07] danielribeiro commented on #702
Make sure xctool was built with currnet xcode version. I've seen this a lot on xctool built with Xcode 7.2.1 vs one with Xcode 7.3.1

[2016-06-24 09:14] mouhstach007 opened #703 "stuck on [Info] Loading settings for scheme or sometimes on [Info] Collecting info for testables..."
stuck on [Info] Loading settings for scheme
or sometimes on  [Info] Collecting info for testables...
Here is my command line :

/usr/local/Cellar/xctool/HEAD/libexec/bin/xctool -workspace '/Users/Thomas/Documents/Applications/Dr Pilule/drpilule.xcworkspace'  -scheme 'Dr PiluleTests' -destination platform='iOS Simulator,OS=9.3,name=iPhone 6' test -test-sdk iphonesimulator -only 'Dr PiluleTests':Pre

[2016-06-24 09:17] danielribeiro commented on #703
Xcode 7.3 and 7.3.1 has a known race condition. More info here: https://github.com/facebook/xctool/issues/689

You can replicate by replacing `xctool` with `xcodebuild -showBuildSettings`

[2016-06-27 13:38] panda1410 commented on #703
Thanks for this quick reply so the only way actually is to downgrade Xcode to an earlier version?

[2016-06-27 15:50] plougy commented on #529
It's done. ☀️

[2016-06-27 15:50] #529 closed

[2016-06-28 00:09] danielribeiro commented on #703
@panda1410  if you are using homebrew, you can uninstall it and then reinstall with your current xcode version.

If you are using the xctool.sh on master, you can just delete the build folder and it will regenerate the binary.

[2016-07-04 13:19] cezheng opened #704 "Xcode 8 beta fails to build"
I have a swift project that runs tests on travis-ci, and once I created the swift 3 branch and tried to run the tests it failed on an assertion. The tests themselves are fine since I have successfully run them locally.

[code]
https://travis-ci.org/cezheng/Fuzi/builds/140457732

[2016-07-05 23:37] connork26 commented on #704
Getting the same error in an objective-c framework. Works fine with xcode 7.3.1, but once I switch to 8 I get this:

[code]

[2016-07-10 11:35] mouhstach007 commented on #703
still the same for me, I'm using hombrew and I have uninstalled then downloaded the current xctool version, and even retried the master. I've also reset the iPhone simulator content, but I'm still facing the issue.

My tests are running fine in Xcode, but I'm really missing the ability to change the date ant timezone. Sadly I didn't knew about testing while designing my code to make such test dire

[2016-07-11 09:19] mouhstach007 commented on #703
after investigating I've managed to identify the issue : apparently the command run properly the first time and then is stucked one the next iteration of test launched by my applescript. When I kill the app in the simulator and then relaunch the test xctool isn't stucked anymore.

I've read something about background mode in another post, should it be the appropriate way to dismiss this annoying b

[2016-07-12 23:41] jakjothi commented on #704
I am getting no response travis build fails after 10 mins
Environment: osx
Target: 10.11
Command: xctool -scheme myappscheme -workspace myapp.xcworkspace

This worked xcode 7.3.1

[2016-07-18 10:46] marcuswu0814 opened #705 "Xctool build my test code every time."
I using following command to run test
[code]
it’s fast to run my unit test,but when I add a new test case or test method,the test will not be compile, I should run test with
[code]
It's so slow, I find #248 , How can i used Xcode build to let my test faster than just using xctool test to re-compile?

[2016-07-20 16:49] emaloney commented on #704
Looks like `xctool` is not compatible with Xcode 8. I am hitting the same problem:

[code]

[2016-07-21 12:21] ExtremeMan commented on #704
Unfortunately Facebook doesn't have any plans to support xctool in Xcode 8. I will keep you updated if something changes. Sorry, folks.

[2016-07-21 13:18] cezheng commented on #704
@ExtremeMan

Does this mean just right now or even after Xcode 8.0's final release? If latter, is this project somewhat deprecated & we should look for something else to run the tests?

[2016-07-21 13:23] ExtremeMan commented on #704
We haven't decided yet but it would be safer for you to look for something else. May be we will ship Buck with some simple test utility or extend FBSimulatorControl.

I am here though if our community wants to actively work on xctool and support future releases of Xcode.

[2016-07-21 13:31] cezheng commented on #704
@ExtremeMan Does this mean that facebook is not internally using xctool for running Xcode tests anymore?

[2016-07-21 13:31] ExtremeMan commented on #704
@cezheng we use it for Xcode 7 builds.

[2016-07-21 13:34] cezheng commented on #704
@ExtremeMan Thanks for the information. Wish facebook will ship an even better tool for Xcode 8 then:)

[2016-07-21 13:50] emaloney commented on #704
Thanks for the heads-up, @ExtremeMan. That's too bad, but I appreciate the work that went into it and the opportunity to use it for free all these years. Might I suggest updating the README to mention that `xctool` will no longer be supported as of Xcode 8? If you'd like a pull request for that, I'd be happy to do it.

[2016-07-21 13:54] ExtremeMan commented on #704
@emaloney, I will update README as soon as we are sure we deprecate it. Also we will move it to Facebook archives if so is decided.

[2016-07-25 10:16] lawrencelomax commented on #704
To clear up the error message that you're seeing here, in Xcode 8 added ["Increased `Xcode.app` security due to runtime library validation"](https://developer.apple.com/library/prerelease/content/documentation/DeveloperTools/Conceptual/WhatsNewXcode/introduction.html#//apple_ref/doc/uid/TP40004626).

What's happening with `xctool` is that the shims that `xctool` injects into the `xcodebuild` proce

[2016-07-25 10:22] ExtremeMan commented on #704
There is still a way to workaround added Xcode restrictions by resigning it. People are going to that to run Xcode plugins and I would expect CI system to do that as well in order to continue using such tools as `xctool` in future until Apple's own tools are good enough for them.

[2016-07-26 05:53] plu commented on #704
@ExtremeMan Can you please give some more details on how that resigning would work? That sounds interesting!

[2016-07-26 07:43] ExtremeMan commented on #704
I found all the details here: https://github.com/alcatraz/Alcatraz/issues/475. But I haven't tried myself.

[2016-07-26 07:51] plu commented on #704
Thank you!

[2016-07-30 06:54] oliverhu commented on #704
I have some good news to share :)

All you need to make xctool work again is use https://github.com/steakknife/unsign to unsign the XCTest binary in /Applications/Xcode-beta.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/Library/Frameworks/XCTest.framework

Then xctool just works @plu @ExtremeMan

[2016-07-30 06:56] ExtremeMan commented on #704
@oliverhu without any patches to the tool? What about application tests?

[2016-07-30 07:27] oliverhu commented on #704
@ExtremeMan it seems you just need to wipe out all the signatures around all dependent dylib/binaries. I also wiped xcodebuild.

Prior to wiping:
[code]

After wiping, all warnings are gone, however, I was celebrating too early, **not** fully working yet, now I get:
[code]

[2016-07-30 08:03] ExtremeMan commented on #704
Last one looks fine because it is at least xctool failing, not Xcode tools. Thanks for the info. Probably it is worth investigating futher.

[2016-08-03 18:59] ExtremeMan commented on #704
I guess https://github.com/facebook/xctool/pull/707 helps to solve the latest issue you hit, @oliverhu?

[2016-08-04 06:34] oliverhu commented on #704
Yah, I used `_dyld_register_func_for_add_image` to solve that problem and #707 is also a good fix :D I made it to run tests in simulators but the test report is still broken. I'll take some time this weekend to hack more.

[2016-08-04 11:06] CoHuK commented on #685
@stephanheilner how did you fix it?

[2016-08-04 11:34] CoHuK commented on #689
@ExtremeMan can you tell how to do that and where to find path for -appTest ?

[2016-08-04 17:02] ExtremeMan commented on #704
@oliverhu, can you share what you currently have via a PR or a forked branch? We have some people looking into this, so it might be worth sharing the progress!

[2016-08-04 23:08] oliverhu commented on #704
Sure, it is a mess now, i'll clean things up and push to a forked branch

[2016-08-05 00:39] oliverhu commented on #704
https://github.com/oliverhu/xctool/commit/1aff5db64312b939a18f413a34c07aee76bf7639

Still messy, but may help :D

[2016-08-06 23:04] oliverhu commented on #704
Applied @k21's fix in #707  and now it works under https://github.com/oliverhu/xctool/tree/xcode8

[2016-08-08 18:09] ExtremeMan commented on #689
@CoHuK , you can use `xcodebuild -showBuildSettings`.

[2016-08-09 03:22] khronosX commented on #631
I experienced similar issue to this. If i specify full path in -workspace argument, the tool fails with segmentation fault 11 while trying to executing "(gathering build settings for a target)" with -showBuildSettings. But if I specify relative path, everything works. Debugging through the code, I found a circular reference in our libraries. When full path is specified, the project is loaded corre

[2016-08-10 22:37] atkit opened #708 "Failed to parse version from swift (on travis-ci, XCode8)"
Trying travis ci for iOS10/Xcode8

Having strange trouble with xctool:

[code]

Is anyone aware of it, or could help solving this?

[2016-08-10 22:41] #708 closed

[2016-08-10 22:41] atkit commented on #708
Probably duplicate for this one: https://github.com/facebook/xctool/issues/704

[2016-08-13 17:27] dinhviethoa commented on #704
Here's an update on my front:
Xcode beta >= 4 needs everything dynamically linked to be signed with:
[code]

Therefore, otest-query, otest-shim and every .xctest bundles need to be signed.

[2016-08-16 19:12] ExtremeMan commented on #704
Quick update here. @dinhviethoa has a fix for Xcode 8 which he will publish very soon. We are going to keep supporting testing features of xctool in Xcode 7 and 8.

[2016-08-17 14:48] alanzeino commented on #704
Nice work @dinhviethoa! I've been testing and I found an issue with the way we're rewriting `-simulatedRuntime` in this pull request.

When I run this using `-destination 'name=iPhone 6s,OS=10.0'`, it is finding the incorrect runtime for the given SDK. For example, given the path (which seems correct):

[code]

`[SimulatorInfo _runtimeWithSDKPath:path]` returns the incorrect `.simruntime` instance

[2016-08-17 15:01] alanzeino commented on #704
I should add, I also had to run your `codesign --force --sign - --timestamp=none [filename]` manually before I could get your pull request with my fix to work, I think because I'm using the `-appTest` flag in xctool like so (actual paths omitted):

[code]

Once I signed that test bundle:

[code]

The xctool command worked as expected.

[2016-08-17 19:35] piyushg91 opened #710 "Teamcity reporter for analyze action not working."
If I run
`~/xctool/xctool.sh analyze -failOnWarnings -reporter pretty`

 and there are static analysis warnings, it will fail and output all the warnings at the end.

However if I run

`~/xctool/xctool.sh analyze -failOnWarnings -reporter teamcity`

The command will fail but it won't output the warnings/failures. It won't even output to console or output it to the teamcity console the same way bui

[2016-08-18 19:19] ExtremeMan commented on #704
Should be fixed on master.

[2016-08-18 19:20] ExtremeMan commented on #704
Is it covered in your PR @dinhviethoa?

[2016-08-18 20:21] dinhviethoa commented on #704
It's not yet!
We can take care of that in a following-up PR.

[2016-08-30 15:15] DNCGraef opened #713 "Failed to install the test host app"
Hi,

I am invoking xctool in the following way:

``
xctool test -newSimulatorInstance -IDEBuildOperationMaxNumberOfConcurrentCompileTasks=4 -project ./MyApp/MyApp.xcodeproj -configuration Debug -scheme MyApp -sdk iphonesimulator -destination "platform=iOS Simulator,id=7CDBF3DF-9B3E-4A93-A1F1-B7536B283A77" -launch-timeout 300
``

The tests build and run successfully on my machine (Late 2013 MacBook

[2016-09-09 19:26] alanzeino commented on #704
There still isn't a fix for the `-appTest` signing issue but we worked around it by writing a shell script that signs the xctest bundle before passing all the arguments to xctool.

[2016-09-09 19:28] ExtremeMan commented on #704
@alanzeino -- I am not sure why but for my old workspace everything just works without any scripts. I think there might be additional settings somewhere in project file to sign your test bundles. Xcode can do that for you.

[2016-09-09 19:33] alanzeino commented on #704
@ExtremeMan you might be right. We're using buck though so it won't work for us :)

[2016-09-09 19:36] ExtremeMan commented on #704
Ah, for Buck - yes. I think we added an explicit step for our apps.

[2016-09-12 07:11] danielgalasko commented on #702
Any updates on this?

[2016-09-12 17:36] ExtremeMan commented on #702
I don't think it is xctool issue. I remember seeing something similar when `xcodebuild -showBuildSettings` was hanging. Can you run with `-showTasks` and tell where exactly xctool is stuck?

[2016-09-14 09:39] k21 commented on #704
@alanzeino, Buck has been updated to codesign all the Apple bundles it builds in https://github.com/facebook/buck/commit/a8f2389cc90adc928292d466365c5c796ba6450b. Are you using a recent version of Buck that includes that commit? If you are and you still see the error, please file an issue in the Buck repository.

[2016-09-19 12:30] slavasav commented on #704
Still running into this error wtih Xcode 8:
2016-09-19 14:26:32.566 xctool[64616:8503245] *** Assertion failure in __LaunchXcodebuildTaskAndFeedEventsToReporters_block_invoke(), tools/xctool/Common/XCToolUtil.m:395
2016-09-19 14:26:32.566 xctool[64616:8503245] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Got error while trying to deserialize event 'Use

[2016-09-20 14:57] #653 closed

[2016-09-21 10:46] wongzigii commented on #588
xcodebuild -scheme YOUR_PROJECT -workspace YOUR_PROJECT.xcworkspace \
     -destination "platform=iOS Simulator,name=iPhone 6s" test

This works for me.

[2016-09-23 18:40] rayray opened #714 "xctool's EOL/project deprecation should be explicitly stated at the top of the README"
Currently, this project's notice of deprecation is buried as a note. No mention of Xcode 8.

[2016-09-23 18:41] ExtremeMan commented on #714
xctool master actually supports running tests under Xcode 8.

[2016-09-23 18:43] rayray commented on #714
Updated the title.  If development is halting then it should be a bigger notice, alongside Xcode 8 partial support.

[2016-09-23 19:18] stephanheilner commented on #714
xctool with Xcode 8 always fails with this error:
[code]

[2016-09-26 14:50] jcesarmobile commented on #704
how do I install from master?
I've tried with `brew install -v --HEAD xctool`, but I get this message

and still getting the same error

[2016-09-26 15:51] k21 commented on #704
@jcesarmobile, run `brew reinstall --HEAD xctool` or uninstall the non-HEAD version first.

[2016-09-26 16:42] jcesarmobile commented on #704
@k21 thanks, tried with both reinstall and uninstalling first, but I still have "The data is not in the correct format." error

[2016-09-26 18:39] gsabran commented on #704
Same here. I run
[code]

And I still get the error. What's the best input to give you?

[2016-09-26 20:44] dinhviethoa commented on #704
It's a known issue :(

https://github.com/facebook/xctool/pull/712 was an attempt to bypass and use xcodebuild instead.

[2016-09-26 21:30] gsabran commented on #704
Hum? @ExtremeMan said "Should be fixed on master." But I dunno because the issue label is `in progress`

[2016-09-26 21:31] ExtremeMan commented on #704
xctool doesn't support building since Xcode 8. But you can use xctool to run tests.

[2016-09-26 21:39] gsabran commented on #704
Ah ok. How would I do that? Build with xcode and test with xctool ?

[2016-09-26 21:48] ExtremeMan commented on #704
Yeah, you can use xcodebuild, xcbuild or buck to build. Then you can pass application test bundle and/or xctest bundle to xctool to run tests.

[2016-09-26 21:59] gsabran commented on #704
So should the final thing be something like
[code]
? Sorry I'm not sure how to pass the bundle around

[2016-09-26 22:03] ExtremeMan commented on #704
That might work but I am not sure if xctool is able to pickup correct bundles after xcodebuild. Czna you try and say it it works?

If it doesn't you might end up running `xcodebuild -showBuildSettings` and extracting paths to test host app and xctest bundle from the output of that command.

[2016-09-26 22:20] gsabran opened #715 "Add how to build with other tools in ReadMe"
Since Xcode 8, `xctool` cannot do the building. It'd be great to have an example in the readme describing how to build with an other tool, like `xcodebuild` and `buck`, and then run tests with `xctool`

[2016-09-26 22:21] gsabran commented on #704
Doesn't look like it's working. I'm moving the discussion on how to build with something else here: https://github.com/facebook/xctool/issues/715

[2016-09-26 22:23] gsabran commented on #715
It looks like `CONFIGURATION_BUILD_DIR` can be used with `xcodebuild` to specified where to output the build frameworks, but I'm not sure how to pass that to `xctool`:

[code]
will output frameworks in `~/build`

[2016-09-27 17:59] gwilliamspdx commented on #714
`xctool[28315:4711740]` *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Got error while trying to deserialize event 'Build settings from command line:': The data is not in the correct format.'

I've encountered this too.

[2016-09-27 18:02] ExtremeMan commented on #714
xctool doesn't support building in Xcode 8.

[2016-09-27 18:07] gwilliamspdx commented on #714
Is this an issue with GitHub messaging? We use xctool for much of our build automation so it's slightly inconvenient to have support pulled without an announcement.

[2016-09-27 18:08] ExtremeMan commented on #714
https://github.com/facebook/xctool/commit/58e3e52524b49f833083097c765fe81270a9c654

[2016-09-30 00:51] alanzeino commented on #715
You should be able to accomplish this with `-appTest` and `-logicTest` flags after generating the test bundle and app product using `xcodebuild`.

If you want to see where the test bundle and app are, run `xcodebuild` with `build-for-testing` and a custom `-derivedDataPath` and then `find /path/to/derivedData -name *.xctestrun`. That will show you the `xctestrun` file.

For example:

[code]

[2016-09-30 00:53] stephanheilner commented on #715
Can you run a subset of the tests?

[2016-09-30 00:56] alanzeino commented on #715
Don't see why it wouldn't work. This is from the manpage `xctool help`:

[code]

[2016-09-30 12:27] zmwangx opened #716 "Project status inquiry w.r.t. Xcode 8"
Hi, I am a Homebrew maintainer.

Sierra has been released for a while, but `xctool` stable 0.2.9 would not compile with Xcode 8, and there's no new release. This means we cannot bottle `xctool` for Sierra (this has been an outstanding issue for a while on our tracker — see Homebrew/homebrew-core#4841 — but I had too much going on and did not reach out until now, sorry), and `brew install xctool` w

[2016-10-03 21:12] stephanheilner commented on #715
I've got to be missing something. I have a little test project I created. When I run:
[code]
It compiles all the tests and outputs an .xctestrun file here: `build/Build/Products/MyTestProject_iphonesimulator10.0-x86_64.xctestrun`

Looking inside that file, I can get the .xctest path and the App name:
[code]
But it fails with this error:
[code]

[2016-10-03 21:35] ExtremeMan commented on #715
@stephanheilner, you did everything right. It should have worked. Are you on xctool master?

[2016-10-03 21:36] ExtremeMan commented on #716
I will cut a new release shortly. How much time do you give me, @zmwangx?

[2016-10-03 21:36] stephanheilner commented on #715
Yeah, I built the latest and greatest:
[code]

[2016-10-03 21:41] stephanheilner commented on #715
I'll attach my sample project: [MyTestProject.zip](https://github.com/facebook/xctool/files/507250/MyTestProject.zip)

[2016-10-03 22:03] ExtremeMan commented on #715
Worked for me with next command:

    xctool.sh -sdk iphonesimulator -destination 'name=iPhone 7,OS=10.0' run-tests -appTest /Users/nekto/Downloads/MyTestProject/build/Build/Products/Debug-iphonesimulator/MyTestProject.app/PlugIns/MyTestProjectTests.xctest:/Users/nekto/Downloads/MyTestProject/build/Build/Products/Debug-iphonesimulator/MyTestProject.app/MyTestProject

[2016-10-04 03:35] vishnukaey commented on #714
This followed the above error
[code]

[2016-10-04 12:20] zmwangx commented on #716
@ExtremeMan Thanks. There's no hard deadline, but *your* users are waiting, so please try to have this done in a reasonable time frame (maybe a week? Your call).

[2016-10-04 23:55] cegonya commented on #704
I'm using xctool 0.2.10 (from master) and got this error:

using this command:

anyone with the same problem?

[2016-10-06 13:41] LavrL commented on #715
@ExtremeMan

I use xctool 0.2.8 and OClint -0.10.1-x86-64-darwin-15.0.0. When I started to analyze code for xcode 8, it starts to fail.

How I do it :

I copy run-sonar.sh and sonar-project.properties in workspace of project and run run-sonar.sh.

Before some days it works perfectly.

I read all comments, but as I understand there is no solution for now. Is is correct?

[2016-10-09 07:19] jcccn commented on #716
We're waiting...

[2016-10-11 06:35] atlasW commented on #716
We're waiting！ @ExtremeMan 非常感谢 。

[2016-10-11 06:55] lovebirdegg opened #717 "xctool clean failed with error code: 4"
use xcode 8

ERROR: Unexpected action: clean
ERROR - Command 'xctool -workspace MushroomCloud.xcworkspace -sdk iphonesimulator ARCHS=i386 VALID_ARCHS=i386 CURRENT_ARCH=i386 ONLY_ACTIVE_ARCH=NO -scheme MushroomCloud clean' failed with error code: 4

[2016-10-11 15:47] stephanheilner commented on #715
No matter how I try it, it still doesn't work for me:
[code]
[code]
I'm definitely using the latest version of xctool. Could you be using a version with changes you haven't committed yet, @ExtremeMan?

[2016-10-11 21:15] SidBala commented on #716
Also waiting!

[2016-10-12 22:10] rajatvig commented on #716
Waiting

[2016-10-12 22:12] zmwangx commented on #716
I think we have a critical number of "waiting" replies, and stacking more just annoys everyone. Please silently subscribe, thanks.

[2016-10-17 21:06] aaronclarke commented on #704
@cegonya I've seen similar with our own projects, also on 0.2.10 and Xcode 8.1 beta 3.

I'm new to reverse engineering Xcode frameworks, but from my debugging with otool -ov /Applications/Xcode.app/Contents/Developer/Library/PrivateFrameworks/CoreSimulator.framework/CoreSimulator it looks like a lot of functionality related to devicetypes / runtimes / devices has moved from their respective classe

[2016-10-27 21:28] ExtremeMan opened #718 "xctool fails to launch tests under Xcode 8.1"
Subscribe if you want to follow a progress on this issue.

[2016-10-27 21:28] ExtremeMan commented on #716
https://github.com/Homebrew/homebrew-core/pull/6337

[2016-10-27 21:28] #716 closed

[2016-10-27 21:29] ExtremeMan commented on #715
I've added a line in README. Ideally it should just work with xcodebuild. Please, open a separate issue if you still experience problems with 0.3 from homebrew (https://github.com/Homebrew/homebrew-core/pull/6337)

[2016-10-27 21:29] #715 closed

[2016-10-27 21:30] ExtremeMan commented on #714
Done.

[2016-10-27 21:30] #714 closed

[2016-10-27 21:30] ExtremeMan commented on #710
We aren't support teamcity reporter.

[2016-10-27 21:30] #710 closed

[2016-10-27 21:31] ExtremeMan commented on #704
xctool doesn't support building for Xcode 8 and later. Please, update to xcodebuild or other build tools. xctool will still support running tests.

0.3 release is pending approval and should be soon available via homebrew.

[2016-10-27 21:31] #704 closed

[2016-10-27 21:33] ExtremeMan commented on #705
I have added several notes in README. Please, have a look. Hope it helps to resolve your issue.

Also please upgrade to v0.3. 0.3 release is pending approval and should be soon available via homebrew.

[2016-10-27 21:33] #705 closed

[2016-10-27 21:33] #699 closed

[2016-10-27 21:33] #700 closed

[2016-10-27 21:33] #702 closed

[2016-10-27 21:33] #689 closed

[2016-10-27 21:34] #426 closed

[2016-10-27 21:35] ExtremeMan commented on #574
We deprecated build features in xctool. You can build your project with xcodebuild and specify any flags you need. Then you can run tests using xctool.

[2016-10-27 21:35] #574 closed

[2016-10-27 21:35] #588 closed

[2016-10-27 21:37] ExtremeMan commented on #691
Sorry, but we won't be working on this. Though we very welcome pull requests and happy to add new features with the help of open source community.

[2016-10-27 21:37] #691 closed

[2016-10-27 21:38] ExtremeMan commented on #693
Sorry, we have never had a chance to look into this. Can you please try version 0.3 (should be soon available via homebrew) and open a new issue if you still see a problem with xctool? Thanks!

[2016-10-27 21:38] #693 closed

[2016-10-27 21:38] danielribeiro commented on #702
`xcodebuild -showBuildSettings` on xcode 7.3.1 has a known race condition.

[2016-10-27 21:39] stephanheilner commented on #715
I got it working, @ExtremeMan. The only part that isn't working is running a subset of the tests with `-only:`.

[2016-10-27 21:39] yas375 opened #719 "Project's description: replacement vs extension"
I thought you might forgot to update project's description on GitHub:

![2016-10-27_1437](https://cloud.githubusercontent.com/assets/217368/19786497/12fad266-9c53-11e6-84f3-72a1595bae72.png)

[2016-10-27 21:40] ExtremeMan commented on #697
We don't have such a reporter. And it doesn't make anymore sense since we have deprecated build features in xctool and as a result we don't parse xcodebuild output anywhere anymore.

[2016-10-27 21:40] #697 closed

[2016-10-27 21:40] ExtremeMan commented on #719
Nice catch. Thanks a lot! I will do it right now!

[2016-10-27 21:41] ExtremeMan commented on #719
Done.

[2016-10-27 21:41] #719 closed

[2016-10-27 21:43] ExtremeMan commented on #715
Can you please open a new issue? Does it work with latest xctool release?

[2016-10-27 21:44] ExtremeMan commented on #717
Can you please try latest xctool release which is 0.3? It should be available via homebrew very soon.

[2016-10-27 21:46] ExtremeMan commented on #713
Sorry, we have never had a chance to look into this issue. Can you please try version 0.3 (should be soon available via homebrew) and open a new issue if you still see a problem with xctool? Thanks!

[2016-10-27 21:46] #713 closed

[2016-10-27 21:46] ExtremeMan commented on #698
Sorry, we have never had a chance to look into this. Can you please try version 0.3 (should be soon available via homebrew) and open a new issue if you still see a problem with xctool? Thanks!

[2016-10-27 21:46] #698 closed

[2016-10-27 21:46] stephanheilner commented on #715
No, the private header that is included, `SimDeviceSet` has changed in Xcode 8.1, so it won't run tests. It should be just a matter of re-dumping those headers in the latest Xcode.

I'll open a new issue for it, with better instructions on how I'm running it so others can use it as well. It does work just fine when running all tests.

[2016-10-27 21:47] ExtremeMan commented on #715
Ah, for Xcode 8.1 I have just opened a new issue to track progress.

[2016-10-27 21:49] ExtremeMan commented on #703
Not sure how to address the issue from xctool. Interaction with simulator app and simulator core services has been improved in Xcode 8 and later. Hope upgrading to latest Xcode can help you.

[2016-10-27 21:49] #703 closed

[2016-10-28 05:16] atlasW commented on #718
+ /usr/local/bin/xctool -workspace HYFinancial.xcworkspace -scheme HYFinancial -configuration $'0\235Release0\235' clean
ERROR: Unexpected action: clean
+ /usr/local/bin/xctool -workspace HYFinancial.xcworkspace -scheme HYFinancial -configuration $'0\235Release0\235' archive -archivePath /Users/Shared/Jenkins/apk_ipa/ios_248/xcarchive/20161028/Auto_QA_201610281315.xcarchive
ERROR: Unexpected actio

[2016-10-28 07:38] haifengkao opened #720 "xctool test failed on XCode 7.3.1"
[code]

Project
https://github.com/haifengkao/RACProgressSubject
# Actual

![2016-10-28 3 37 54](https://cloud.githubusercontent.com/assets/4080524/19798588/944db3f2-9d24-11e6-9b8f-cc83832b5ba3.jpg)
# Expected

xcodebuild works without any problems

[code]

![2016-10-28 4 02 28](https://cloud.githubusercontent.com/assets/4080524/19799211/fff59630-9d27-11e6-8e65-45efd1f0b2f2.jpg)

[2016-10-28 10:51] BigBot22 opened #721 "Failed to query the list of test cases in the test bundle xCode 8"
try to run this commands with project https://github.com/plu/parallel_ios_tests

`xcodebuild -scheme SampleApp -workspace SampleApp.xcworkspace build-for-testing -sdk iphonesimulator10.0`

*\* TEST BUILD SUCCEEDED **

`xctool -scheme SampleApp -workspace SampleApp.xcworkspace run-tests -sdk iphonesimulator10.0`

[Info] Loading settings for scheme 'SampleApp' ... (2491 ms)

=== RUN-TESTS ===

  [In

[2016-10-28 15:43] cjwirth commented on #574
I created a small sample project, but I haven't gotten xctool 0.3 to run without crashing, so I might be wrong.

Can we take the closing of this ticket to mean "Won't Fix"?

Since the `-enableCodeCoverage` flag only works with `xcodebuild` if you are running the `test` action, just building the project with `xcodebuild` and then running tests with `xctool` still won't generate any code coverage da

[2016-10-28 16:56] ExtremeMan commented on #574
`-enableCodeCoverage` doesn't have anything to do with running tests. You just need to compile your source files with `-fcoverage-mapping` flag. See http://llvm.org/docs/CoverageMappingFormat.html for more details.

[2016-10-28 16:58] ExtremeMan commented on #721
I saw that happening when Xcode didn't sign the test bundles. You can grab more logs from Console.app I believe and see what is the real reason of simctl dying.

[2016-10-28 16:58] ExtremeMan commented on #720
Did you try 3.0 version?

[2016-10-28 17:26] cjwirth commented on #574
Except that it only works when running tests?

[code]

Cool, thanks! I'm not actually sure how to get that passed into clang through Xcode's settings though.

So could you clarify how one would get code coverage when running tests with the new version of xctool?

[2016-10-28 17:54] ExtremeMan commented on #574
That is not correct 100%. It works whenever you run the app. Again, have a look into the docs I attached to the previous message.

I would suppose you need to build your project with `xcodebuild -enableCodeCoverage build-for-testing` and then use xctool just to run tests. It will output you clang test coverage files.

[2016-10-29 10:02] haifengkao commented on #720
It is 0.3 version
![2016-10-29 6 01 18](https://cloud.githubusercontent.com/assets/4080524/19828767/bd16b04e-9e01-11e6-8b2d-40ae49cff10d.jpg)

Is there a way to revert it to 0.2.9?

[2016-10-29 11:15] hamaianhnhi commented on #720
I'm facing the same.
Build log is here:
![image](https://cloud.githubusercontent.com/assets/6788842/19829114/ec42dfcc-9e02-11e6-8ba4-78a70284518b.png)
xctool 0.3
xcode 7.3.1
Command to run tests:
`xctool -workspace $(workspace) -scheme $(scheme) run-tests -only $(testSpec) -reporter junit:junit.xml -reporter pretty -destination "id=$(simulatorID)" -sdk iphonesimulator`

[2016-10-30 09:28] aaronclarke commented on #718
Is this for the crash referred to by @cegona in https://github.com/facebook/xctool/issues/704#issuecomment-251546913 and me in https://github.com/facebook/xctool/issues/704#issuecomment-254334214 ?

[2016-10-30 19:12] ExtremeMan commented on #718
@aaronclarke, yes. There might be other issues too.

[2016-10-31 18:02] ExtremeMan commented on #720
Read homebrew docs about installing a particular version.

Can you repro this consistently?

[2016-11-01 06:57] haifengkao commented on #720
YES.

[2016-11-01 06:58] haifengkao commented on #720
Apparently, xctool is not on [homebrew versions](https://github.com/Homebrew/homebrew-versions#acceptable-formulae). I cannot find any other ways to install old versions of xctool.

[2016-11-07 12:48] hamaianhnhi commented on #721
I'm facing the same issue with exactly error message above
xctool 0.3
Version 7.3.1 (7D1014)
Here is the build log from Console.app
![image](https://cloud.githubusercontent.com/assets/6788842/20058343/15b2e34e-a523-11e6-981d-9ffc4977d1a0.png)

[2016-11-07 18:28] ExtremeMan commented on #721
@hamaianhnhi, thanks for the logs. Looks like `otest-query-lib-ios.dylib` is rejected as not being properly signed. I am not sure what to do about that :| Can you try using xctool from source codes?

[2016-11-07 18:31] ExtremeMan commented on #721
Could anyone hitting this issue also try to reinstall xctool via homebrew (if you hit this issue with xctool installed by homebrew)?

[2016-11-07 18:35] ExtremeMan commented on #721
And please share macOS version where the issue is present.

[2016-11-08 01:58] hamaianhnhi commented on #721
@ExtremeMan i fixed this by following commands:
[code]

[2016-11-08 01:59] ExtremeMan commented on #721
Thanks! Probably we can make it as a part of homebrew. Mind sharing macOS version you are running?

[2016-11-08 02:01] hamaianhnhi commented on #721
@ExtremeMan sure, OS X El Capitan version 10.11.2

[2016-11-08 09:19] BigBot22 commented on #721
@ExtremeMan, OS X El Capitan version 10.11.5

[2016-11-08 18:54] ExtremeMan commented on #721
Thanks everyone. I put up a PR (https://github.com/Homebrew/homebrew-core/pull/6736) to update homebrew formula. Hopefully it will solve codesigning issues you are all experiencing.

Meanwhile, you can manually sign all libraries in `/usr/local/Cellar/xctool/0.3/libexec/lib/` to workaround the issue.

[2016-11-08 21:22] ExtremeMan commented on #718
I have quickly written up a fix for Xcode 8.1. I will appreciate some help with testing. Can someone checkout https://github.com/facebook/xctool/tree/xcode81 and confirm if it works for them under Xcode 8.1 and Xcode 8.0?

[2016-11-08 21:24] ExtremeMan commented on #720
I am almost sure that your issue is the same one as reported in https://github.com/facebook/xctool/issues/721.

[2016-11-08 21:24] #720 closed

[2016-11-08 21:24] ExtremeMan commented on #717
We don't support `clean` action since Xcode 8.

[2016-11-08 21:24] #717 closed

[2016-11-09 04:16] aaronclarke commented on #718
I have Xcode 8.0 and Xcode 8.1 beta 3 side-by-side, so I tried it out and it looks good to me.

command:
`./xctool.sh -showTasks -sdk iphonesimulator run-tests -test-sdk iphonesimulator -testTimeout 5 -logicTest /foo/bar.xctest -only /foo/bar.xctest `

Switched between Xcode versions with `sudo xcode-select -switch <path/to/Xcode.app>`

master + Xcode 8.0 --- pass
master + Xcode 8.1 --- crash

xco

[2016-11-09 04:18] ExtremeMan commented on #718
Thanks, @aaronclarke! Travis CI is satisfied with xctool as well (Xcode 8). I need to look into xctool tests undex Xcode 8.1 this week before making a release. Also another homebrew patch is pending approval.

[2016-11-09 09:18] jofremm commented on #717
If clean action is not supported, should we modify the run-sonar.sh linked in the README? Or could you link an updated version of the run-sonar.sh?

[2016-11-09 18:45] ExtremeMan commented on #717
Sorry, which `run-sonar.sh` are you talking about?

[2016-11-11 22:57] alanzeino commented on #718
I'll test this on our CI in staging and let you know how it goes

[2016-11-11 23:01] ExtremeMan commented on #718
@alanzeion, thanks!

[2016-11-12 22:46] ExtremeMan commented on #718
Fixes are on master. Pushing to homebrew.

[2016-11-12 22:46] #718 closed

[2016-11-12 22:47] ExtremeMan commented on #721
Homebrew fix is on master. Consider reinstalling or wait for a new xctool release (coming soon).

[2016-11-12 22:47] #721 closed

[2016-11-19 03:37] alanzeino commented on #718
Stress tested 0.3.1 on our CI for a day, no issues to report. Thanks for the quick turnaround!

[2016-11-19 04:13] ExtremeMan commented on #718
Awesome! Thanks for your feedback, @alanzeino!

[2016-11-21 05:43] nbaxyw commented on #717
I encouner tne same problem When sh run-sonar.sh use xcode 8.1

[2016-11-21 08:20] ChenTF opened #722 "xcode8 And xctool0.3.2 , cann't supported?"
=== 中文 ===
使用 brew install -v --HEAD xctool 安装到最新的版本0.3.2,
"xctool -workspace Jiazheng.xcworkspace -scheme Jiazheng -sdk iphonesimulator",
可是尝试着使用, 发现还是报错. "The data is not in the correct format."
是还不支持吗? 或者是需要加什么参数吗?

=== English ===
Use "brew install -v --HEAD xctool" to install 0.3.2,
I Try to use: "xctool -workspace Jiazheng.xcworkspace -scheme Jiazheng -sdk iphonesimulator",
But get an error:

[2016-11-21 08:30] nbaxyw commented on #722
use xcode8.1,xctool 0.3.1 run sh run-sonar.sh,
get an error:Command 'xctool -workspace OspPortal.xcworkspace -sdk iphonesimulator ARCHS=i386 VALID_ARCHS=i386 CURRENT_ARCH=i386 ONLY_ACTIVE_ARCH=NO -scheme OspPortal clean' failed with error code: 4
Is not supporter yet?

[2016-11-22 07:14] BillZong commented on #722
Really sad for this, the README told us other actions except run-tests only for XCode 7 only. Hope facebook teams could make this tool fully support XCode 8 ASAP.

[2016-11-22 07:36] ExtremeMan commented on #722
Sorry, I am not sure what run-sonar.sh is but it isn't part of xctool. Starting from Xcode 8 xctool doesn't support any actions rather than running tests and this won't be changed. We were planning that since about April because at Facebook we use Buck for most of our cases, sometimes xcbuild and in some cases xcodebuild directly which nowadays solves most of the problems. Nevertheless xctool is s

[2016-11-22 07:36] #722 closed

[2016-11-30 07:14] ynot16 opened #723 "Support macOS Sierra?"
when i run "brew install xctool" in terminal, it came up an error : "Warning: You are using OS X 10.12.
We do not provide support for this pre-release version.
You may encounter build failures or other breakages.",
It sounds like haven't support macOS Sierra yet?

[2016-11-30 08:50] cloudhm opened #724 "Failed to query the list of test cases | 'Platform 'iphoneos' is not yet supported.'"
xctool version: 0.3.1 (installed by HomeBrew) 0.3.2(download for GitHub)
OS verison: 10.11.6
HOMEBREW_VERSION: 1.1.2

I had refered #692 and #721 . But the problem is still about me.

[code]

[code]

[code]

[2016-11-30 18:37] ExtremeMan commented on #723
This isn't sort of errors xctool prints. I believe the error is coming from homebrew itself. xctool should work on macOS 10.12.

[2016-11-30 18:37] #723 closed

[2016-11-30 18:42] ExtremeMan commented on #724
xctool is ignoring platform I think because we only support simulators. Is "iPhone 7" a valid simulator name? Try running `xcrun simctl list`. Also the missing piece is `-sdk iphonesimulator` which we ideally should just extract from platform.

First you need to build test targets by using xcodebuild, xcbuild or Buck. xctool doesn't build anymore.

[2016-11-30 18:42] #724 closed

[2016-12-10 16:16] hainguyen86 commented on #704
I have updated xctool to version 0.3.1 via homebrew, xcode 8.1 final
Currently, I cannot make the build with xctool, the terminal app said:

[Info] Loading settings for scheme 'MyApp' ... (3675 ms)

=== BUILD ===

  xcodebuild build MyApp
2016-12-10 23:02:05.132 xctool[44393:450979] *** Assertion failure in __LaunchXcodebuildTaskAndFeedEventsToReporters_block_invoke(), /tmp/xctool-20161113-10169-1

[2016-12-11 09:19] ExtremeMan commented on #704
xctool now supports only running tests. Replace in your script `xctool` with `xcodebuild` and should just work with Xcode 8.

[2016-12-11 10:21] fabb commented on #704
Or even better xcodebuild + xcpretty for nicer output https://github.com/supermarin/xcpretty
Or use gym from fastlane if you want to build ipas. Or xcbuild.

[2016-12-29 20:34] jverkoey opened #725 "Support for generating coverage"
This is a feature request for supporting unit test coverage generation in the reporter output. One use case: emit coverage information in the phabricator reporter so that coverage shows up in phabricator's diff UI.

[2016-12-30 12:59] LavrL commented on #704
@ExtremeMan  when I change xctool to xcodebuild - I have error "xcodebuild: error: invalid option '-reporter'"

[2016-12-30 13:57] fabb commented on #704
@LavrL pipe to xctool for that

[2016-12-30 14:40] LavrL commented on #704
@fabb  any other solution ?

[2016-12-30 14:51] fabb commented on #704
No

[2016-12-30 14:52] fabb commented on #704
@LavrL oops, i meant xcpretty, not xctool.

[2017-01-24 07:34] daikaixian commented on #717
Same problem .
How to fix?

[2017-01-31 17:23] jnewc opened #726 "Is this project abandoned?"
It looks like there hasn't been any activity since mid-November and @ExtremeMan appears to be AWOL.

I'm concerned as this was a key piece of our CI setup for a very long time.

[2017-01-31 18:43] ExtremeMan commented on #726
It isn't. But I am not doing any active development of new features currently. We still use xctool to run tests for some apps but we want to move all testing infra to https://github.com/facebook/FBSimulatorControl and tools based on it.

If there are no any significant changes in coming Xcode releases I will be iteratively adding support of them in xctool.

Thanks for raising concerns and hope it

[2017-01-31 18:43] #726 closed

[2017-01-31 18:46] ExtremeMan commented on #725
Hey @jverkoey. This isn't something we will be adding to xctool.

I looked into it at some point and basically it will take a pretty significant time to design and develop. At this point I will suggest to build using xcodebuild with corresponding coverage flags, then run tests and manually grab coverage files produced by the testing framework.

[2017-01-31 18:46] #725 closed

[2017-01-31 18:47] jverkoey commented on #725
Fair. Thanks for the update!

[2017-01-31 18:50] ExtremeMan commented on #725
I think I gave a more detailed answer somewhere in other closed issues. You may try to search for it.

[2017-02-01 18:06] jnewc commented on #726
Thanks @ExtremeMan, it's good to know this is still active.

[2017-02-02 08:10] CRoig commented on #717
Same issue here. Can you please provide any fix?

[2017-02-09 16:43] bpoplauschi commented on #616
@Pegolon I confirm. I ran into the same issue and fixed it by renaming.

[2017-02-16 07:02] aozhimin opened #727 "Main.storyboard: error: The document “(null)” requires Xcode 8.0 or later"
xctool version : 0.3.1

Command: script -q /dev/null xctool -configuration Release -workspace

[2017-02-19 05:42] remlostime opened #728 "Build fail on OS X 10.12"
`brew install xctool`

**Error**
[code]

[2017-03-14 12:21] mohangslab083 commented on #717
@ExtremeMan  .. I am already using latest xctool 0.3.1 still facing the same issue. Any updates ??

[2017-03-19 15:51] RomanTruba commented on #728
Seems like you have to update homebrew. I've just installed xctool without any problem.

[2017-03-29 01:24] guoyingtao commented on #704
Still met the same problem. Is this issue closed?

[2017-03-30 03:31] haithngn commented on #722
Are you ready for new release that will support xcode 8.x ?
We are waiting for you Facebook, please.

[2017-03-30 18:10] ExtremeMan commented on #722
Hm, latest release contains all the commits. Doesn't it work for you? It should work fine with latest Xcode 8.3.

[2017-03-31 02:56] haithngn commented on #722
@ExtremeMan it only running tests or both ?

[2017-03-31 17:00] ExtremeMan commented on #722
xctool won't support building, only running tests.

[2017-04-06 18:55] oxcug opened #729 "xctool hang on Xcode 8.3"
I'm not sure if this is user error but xctool seems to hang when I try using it normally. I am new to the tool so I'd love some help confirming this is an actual bug.

**Steps:**

1. Per the readme, I run xcodebuild to build the .xctest plugin files using:
    `xcodebuild -workspace SomeProjWrkspce.xcworkspace -scheme SomeProj -sdk appletvsimulator build-for-testing`
2. I then run xctool using:

[2017-04-06 19:18] ExtremeMan commented on #729
Is it Xcode 8.3?

[2017-04-06 19:19] ExtremeMan commented on #729
Ah, I see that it is `appletvsimulator`.  Could be related. Do you want to use xctool for testing Apple TV projects?

[2017-04-06 19:28] oxcug commented on #729
Yep, it is Xcode 8.3 and I was hoping I could use it for tvOS 😄.

[2017-04-06 20:45] ExtremeMan commented on #729
Got it. I will need to double check how it works with latest Xcode =) We aren't using it, so it isn't tested very well.

[2017-04-06 22:24] oxcug commented on #729
👍, please let me know if there's anything I can do to help.

[2017-04-09 06:17] anton-matosov commented on #534
xcodebuild 8+ has 2 new actions `build-for-testing` and `test-without-building`
tools like plu/pxctest leverage this to allow running tests in multiple simulators at the same time
@oscarmk1 you can use schemas to run individual tests based on name or class

[2017-04-19 05:44] alvincrisuy commented on #704
@guoyingtao yes

follow what @ExtremeMan said replacing `xctool` with `xcodebuild`

[2017-04-28 20:52] vmaraccini opened #730 "Crash on '+[SimDeviceType supportedDevices]: unrecognized selector in Xcode 8.3"
It would seem that this method has been removed in Xcode 8.3 (after it was deprecated in 8.1):
`[SimDeviceType supportedDevices]`

This causes a weird crash while trying to run the tool because of [this assertion:](https://github.com/facebook/xctool/blob/master/xctool/xctool/SimulatorWrapper/SimulatorInfo.m#L218)
[code]

Here's the full stacktrace for completeness:

[code]

[2017-04-29 01:11] oxcug commented on #730
I believe this is the same issue as https://github.com/facebook/xctool/issues/729.

[2017-04-29 01:13] ExtremeMan commented on #730
I will take a look. Anyway xctool crashes after printing this error message. You've provided wrong simulator name.

[2017-05-19 09:36] vvlong-can commented on #270
I meet this problem too, may be you should try `xcpretty` tool. And you should take care for it, when you generate the compilation_command.json, you need to choose the right build config `Debug` or `Release`  ~  I did it successfully~  good luck

[2017-06-20 21:41] zayhero opened #731 "Crash due to SDK not found after upgrade to Xcode 8.3.3"
After upgrade to Xcode 8.3.3, I am getting error when running tests with xctool. The error is

[code]

This looks like xctool is trying to get `iphonesimulator10.3.1` which I don't have on my machine.
Is there any way I can set the SDK to `iphonesimulator10.3` or get around the problem?

I try passing `-sdk iphonesimulator10.3` into the command line but doesn't work.

[2017-06-22 17:02] zayhero commented on #731
@ExtremeMan Could you suggest what should I do to get around this error? Thanks!

[2017-06-22 17:04] ExtremeMan commented on #731
Can you share your full command? Do you use `-destination` option?

[2017-06-22 17:04] ExtremeMan opened #732 "Support Xcode 9."

[2017-06-22 17:10] zayhero commented on #731
@ExtremeMan I am running xctool from `buck test`, here is the full command and the output

[code]

[2017-06-22 17:29] ExtremeMan commented on #731
Can you try with `name=iPhone 6s` in destination?

Example of a working command:
[code]

[2017-06-22 17:39] zayhero commented on #731
Hmm.. I still getting the same error:

[code]

Also, I try to change destination to `-destination 'platform=iPhone 6s,OS=10.3'`, but getting an other error

[code]

[2017-06-22 18:26] ExtremeMan commented on #731
That's weird. What is the output of `xcrun simctl list`?

[2017-06-22 19:03] zayhero commented on #731
Here is the output, I suspect my Xcode SDK is not setup correctly, but unfortunately I haven't figure out why yet :(

[code]

[2017-06-22 19:48] ExtremeMan commented on #731
Yeah, looks like no devices re available. Go to Xcode -> Devices and try creating new.

[2017-06-22 19:48] #731 closed

[2017-06-29 20:12] ProfessaA commented on #731
@ExtremeMan I'm also running into this crash and I do have the appropriate devices available.

It looks like there's a mismatch between the `-[SimRuntime versionString]`, which includes the patch version (`10.3.1`), and the `Version` entry in the `iPhoneSimulator` sdk's `SDKSettings.plist` file, which is just the major and minor version (`10.3`).  I don't recall how it was before but maybe Xcode 8

[2017-06-29 20:19] ExtremeMan commented on #731
I am happy to review your PR!

[2017-06-29 20:52] ProfessaA commented on #731
I put a PR up at https://github.com/facebook/xctool/pull/733.  thanks for taking a look!

[2017-07-02 13:42] LeoTuring opened #734 "Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Platform 'iphoneos' is not yet supported.'"
how to solve it ?

[code]

[2017-07-02 21:42] ExtremeMan commented on #734
Testing on real devices isn't supported. Try specifying simulators via -destination argument.

[2017-07-02 21:42] #734 closed

[2017-07-09 18:41] ExtremeMan commented on #732
First set of commits has been pushed. Master branch has fixes required to run tests under Xcode 9.

[2017-07-09 19:43] ExtremeMan commented on #730
Fixed in https://github.com/facebook/xctool/commit/03c1c022b1936f8afbae5a297b3a3e3fa551cad7.

[2017-07-09 19:43] #730 closed

[2017-07-09 19:44] ExtremeMan commented on #727
xctool doesn't support building anymore.

[2017-07-09 19:44] #727 closed

[2017-07-09 19:45] #728 closed

[2017-08-01 02:38] aaronclarke commented on #732
@ExtremeMan In testing with Xcode 9 beta 4 (haven't tried with any earlier versions), the xctest executable has moved.

Where xctool (commit 03c1c02) thinks xctest should be:
`/Applications/Xcode_9b4.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator11.0.sdk/Developer/usr/bin/xctest`

That's wrong because this path doesn't even exist:
`/Applications/Xcode_9b4.

[2017-08-24 08:41] fxcoudert commented on #732
Could we (Homebrew) suggest that a new version, including the fixes for Xcode 9, be released before High Sierra goes out?

[2017-09-01 01:37] ExtremeMan commented on #732
@fxcoudert  https://github.com/Homebrew/homebrew-core/pull/17456

[2017-09-04 05:53] ExtremeMan commented on #729
Fixed on master. Sorry for the wait.

[2017-09-04 05:53] #729 closed

[2017-09-04 21:56] ExtremeMan commented on #643
You probably didn't expect this to be fixed at this point but I just pushed a fix in https://github.com/facebook/xctool/commit/cc45652be04529c57eee02a6988bcf8e7dc88e80.

[2017-09-04 21:56] #643 closed

[2017-09-21 14:02] withinfocus opened #736 "Phabricator reporter doesn't include test run times"
The Phabricator reporter output does not include test execution time. Phabricator's unit test result class:

https://github.com/phacility/arcanist/blob/master/src/unit/ArcanistUnitTestResult.php

includes a duration property. A minor enhancement to produce this value in the JSON results from the reporter would be great.

[2017-09-22 18:30] #736 closed

[2017-09-22 18:43] withinfocus commented on #736
Thanks!

[2017-09-22 18:48] ExtremeMan commented on #732
Xcode 9 should be supported in latest xctool release. Feel free to open new issues if needed.

[2017-09-22 18:48] #732 closed

[2017-09-25 11:50] huaqixue opened #738 "Failed to initialize simulated service context"
Environment:
macOS Sierra:10.12.6
Xcode: 9.0
Swift: 4.0
xctool: 0.3.3
to use command line to test:
xctool -workspace myProject.xcworkspace -scheme myProjectTests -destination 'platform=iOS Simulator,name=iPhone X,OS=11.0' run-tests -only myProjectTests -sdk iphonesimulator

Error info:
*** Assertion failure in -[SimulatorInfo init], /tmp/xctool-20170901-19829-1s5ox9o/xctool-0.3.3/xctool/xctool/Sim

[2017-09-26 17:17] alanzeino opened #739 "Latest master is not compatible with Xcode 8"
I've been testing cc45652be04529c57eee02a6988bcf8e7dc88e80 with Xcode 9, and it seems to hold up pretty well at scale on our CI. However that same build does not work with Xcode 8.3.2:

[code]

We would prefer to be backwards compatible with 8, but I think the project also tries to be backwards compatible too.

[2017-09-26 17:33] ExtremeMan commented on #739
Yeah, my bad. I will try to fix it and put a new release. Should be doable.

[2017-09-26 17:48] alanzeino commented on #739
Thanks! Appreciate it.

I also tried 8.3.3 and saw the same issue (I thought it was just 8.3.2).

[2017-09-27 08:26] haithngn opened #740 "Failed to inialize simulated service context with error: (null)"
Hi there,
This command is now working on Xcode 8.3.3
`xctool -project Haithngn.xcodeproj -scheme HaithngnTests -sdk iphonesimulator run-tests`

now, it does not work on Xcode 9 with these error:

`[Info] Loading settings for scheme 'HaithngnTests' ...2017-09-27 15:20:23.671 xctool[908:21081] *** Assertion failure in -[SimulatorInfo init], /tmp/xctool-20170901-19829-1s5ox9o/xctool-0.3.3/xctool/xcto

[2017-09-27 08:31] #740 closed

[2017-09-27 08:32] haithngn commented on #738
the same **Failed to inialize simulated service context with error: (null)**

[2017-10-02 07:23] lemanhtien commented on #738
Same error to me.

[2017-10-02 07:31] jack3010 commented on #738
I also have the same problem with guys :(

[2017-10-08 07:45] haithngn commented on #738
Thanks iainmcgin!,
It's works for now :)

[2017-10-09 21:56] liuliusc commented on #740
How did you fix this?

[2017-10-10 23:58] aaronclarke opened #741 "otest-query-ios crashes when running an .xctest built with Address Sanitizer"
I want to be able to run my tests after compiling them with Address Sanitizer. A problem with address sanitizer builds is that they need some extra environment information to load properly, and xctool doesn't seem to pass that along, causing the process to crash (because that's what Address Sanitizer does if it can't find all of its expected libraries).
From the error messaging, I need to export `

[2017-10-11 00:55] aaronclarke commented on #741
This also repros in Xcode 8, so this isn't "new", just I didn't get around to making an issue for it until now.
I'm not interested in figuring out my company's process for agreeing to FB's contributor license agreement.

Some investigation we've done shows that this is due to OCUnitTestQueryRunner.m not doing anything with environment variables with the XCTOOL_TEST_ENV_ prefix, so otest-query-ios

[2017-10-11 00:59] ExtremeMan commented on #741
Thanks for the report and investigation. I will try to put up a patch.

[2017-10-24 07:04] Chandni123456 commented on #714
With xctool I find this issue
ROJECT Pods WITH CONFIGURATION Debug ===': The data is not in the correct format.' and an empty ison file is generated in my project folder. I have put unsign in my xctest framework folder. but always getting same error.
Can any one suggest me.

[2017-10-26 06:21] niuemperor opened #742 "Assertion failure in -[ReporterTask publishDataForEvent:]"
when i use xctool to run a test.i got this error:

2017-10-26 11:34:50.088 xctool[3417:348156] *** Assertion failure in -[ReporterTask publishDataForEvent:], /tmp/xctool-20170901-19829-1s5ox9o/xctool-0.3.3/xctool/xctool/ReporterTask.m:193
2017-10-26 11:34:50.093 xctool[3417:348156] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Failed while write()'ing t

[2017-10-28 23:36] ExtremeMan commented on #742
Do you always see this error? Or did it happen once and that's it?

[2017-10-31 04:16] ExtremeMan commented on #741
I tried to repro and can't.

I build project like this:

[code]

And then I run xctool like this:

[code]
Doesn't it work for you?

[2017-10-31 04:17] ExtremeMan commented on #741
From xcodebuild logs I see that the library you mentioned is part of xctest hence xctool doesn't need to explicitly specify to load it:

```/usr/bin/codesign --force --sign - --preserve-metadata=identifier,entitlements,flags --timestamp=none TestProject-AppTests.app/PlugIns/TestProject-AppTestsTests.xctest/Frameworks/libclang_rt.asan_iossim_dynamic.dylib```

May be Apple fixed it in latest Xcode?

[2017-10-31 04:22] ExtremeMan commented on #738
I can't find a way to repro this.
Whoever is experiencing this issue can you try opening simulator app before running xctool. Does it solve the problem?

[code]

[2017-10-31 04:42] ExtremeMan commented on #738
In addition, when you encounter this issue, can you run `ps -eo 'tty,pid,comm' | grep -i simulator` and post output here?

[2017-10-31 05:28] ExtremeMan commented on #739
Should be fixed in 0.3.4 release!

[2017-10-31 05:28] #739 closed

[2017-10-31 06:44] alanzeino commented on #739
Thanks Aleksey!

[2017-11-01 02:39] aaronclarke commented on #741
I think this is a difference between running xctests that are hosted in an app with -appTest and running an independent xctest with -logicTest.

I've only just figured out how -appTest even works, so forgive me if I've misunderstood anything here.

I just setup my own test project ("TestingAsan") with an automatically generated unit test target.
By default, the UT target is setup to be hosted in t

[2017-11-03 21:22] ExtremeMan commented on #741
Got it. I will take a look into logic tests support. Meanwhile as a workaround use app tests.

[2017-11-05 05:12] ExtremeMan commented on #741
Fixed in https://github.com/facebook/xctool/commit/746c3a042f1a781c80e5f697edba345f7b5270f5 for iOS, OS X and TV OS tests!

Thanks for your bug report, @aaronclarke. Let me know if the fix doesn't work for you for some reasons.

[2017-11-05 05:12] #741 closed

[2017-11-06 19:46] haitaoli commented on #740
@liuliusc I had the same problem with xctool 0.3.2. Upgrading to 0.3.4 fixed it.

[2017-11-20 03:12] ckeys opened #743 "Questions About IOS Examples"
Hi,

I have completed the configuration illustrated on the page http://www.paddlepaddle.org/docs/develop/documentation/zh/mobile/cross_compiling_for_ios_cn.html.

However, I do not very clear about the examples that are included in the paddle repository.

For example, in the "sequence" example, I use the command
"cmake -DCMAKE_TOOLCHAIN_FILE=../../Paddle-develop/cmake/cross_compiling/ iOS.cmake -G

[2017-11-28 01:45] dlo opened #744 "NSInternalInconsistencyException when building Xcode 9 / Swift 4 project"
I'm trying to get my tests to pass for one of my OSS projects with Travis CI and ran into the following exception:

[code]

Repro instructions:

1. Download/clone [QuickTableView](https://github.com/lionheart/QuickTableView)
2. Run `xctool -scheme QuickTableView-Example -workspace Example/QuickTableView.xcworkspace`

[2017-11-28 01:51] ExtremeMan commented on #744
It should actually fail earlier. Sorry about that. Building with xctool isn't support since Xcode 9. You can only run tests.

[2017-11-28 01:51] #744 closed

[2017-11-28 01:52] #742 closed

[2017-11-28 01:52] ExtremeMan commented on #738
Please open new issue if anyone hits this again. Thanks!

[2017-11-28 01:52] #738 closed

[2017-11-28 01:53] ExtremeMan commented on #743
Sorry, I think you posted your question in a wrong place.

[2017-11-28 01:53] #743 closed

[2017-11-28 01:54] dlo commented on #744
Got it, thanks!

[2017-12-05 05:06] haithngn opened #745 "Failed to query the list of test cases in the test bundle"
I have a problem when run this command:

//Xcode 9.1, xctool latest

Output:

After that I open the xcode project then try Compile/Run the FloTests succeed.
I run this command agains, it works :(:

Am I do wrong ?

[2017-12-05 05:20] ExtremeMan commented on #745
You need to build tests first using xcodebuild, for example:

[code]

[2017-12-05 06:01] haithngn commented on #745
thanks @ExtremeMan

[2017-12-05 06:01] #745 closed

[2018-01-25 09:02] qiaoxiaozheng opened #746 "xctool build fail on Xcode9.1"
the following command  built fail on Xcode9.1, but it can build successfully on xcode7.3.
===============================================
xctool -project Xcode7Test.xcodeproj -scheme Xcode7Test
===============================================

[2018-01-25 20:02] ExtremeMan commented on #746
Building projects isn't supported with latest Xcode. We recommend switching to xcodebuild and using xctool to run tests.

[2018-01-25 20:02] #746 closed

[2018-03-03 16:36] revolter commented on #744
For others coming here, that means adding `run-tests` at the end of the command.

[2018-03-03 23:51] revolter opened #747 "The bundle extension 'app' is not supported"
Running `xctool -workspace 'AppName.xcworkspace' -scheme 'TestsSchemeName' -sdk "iphonesimulator" run-tests -parallelize` fails with the error:

[code]

Is it because I'm using [`Quick`](https://github.com/Quick/Quick)?

[2018-05-04 18:16] ExtremeMan commented on #631
This issue should be now fixed on master. Please, comment if it isn't.
Thanks @PaulTaykalo!

[2018-05-04 18:16] #631 closed

[2018-05-04 18:17] ExtremeMan commented on #747
xctool doesn't currently support UITests. Are those UITests?

[2018-05-04 18:27] revolter commented on #747
[code]

[2018-05-04 18:30] ExtremeMan commented on #747
Looks like `SIMCTL_CHILD_OtestQueryBundlePath="/Users/revolt/Library/Developer/Xcode/DerivedData/AppName-driwkksbyionwffehekxhjtjjqat/Build/Products/Debug-iphonesimulator/AppName.app/PlugIns/TestsSchemeName.app"` is causing issues.

Can you come up with a sample project where you see the same error?

Can you also try with another scheme?

[2018-05-04 18:31] revolter commented on #747
The scheme must be the one of the Unit Tests project target, right?

[2018-05-04 18:39] ExtremeMan commented on #747
Do you have a separate scheme for tests? I usually use the same scheme for app debugging and testing.

[2018-05-04 19:06] revolter commented on #747
Uhm, yes, I think it created it automatically. I have no previous experience with testing an iOS app.

[2018-05-05 17:39] revolter commented on #747
Found the answer to the tests scheme: https://stackoverflow.com/questions/7922812/xcode-4-why-do-unit-tests-need-their-own-separate-scheme

[2018-05-05 20:37] revolter commented on #747
I literally changed nothing, and it worked after running it again. Thanks for your help!

[2018-05-05 20:37] #747 closed

[2018-05-05 20:38] ExtremeMan commented on #747
Before you can use xctool to run test, you need to build with xcodebuild or Xcode. It worked probably because you built it somehow.

[2018-05-05 20:51] revolter commented on #747
Oh, right, didn't know that. I think I did indeed built it in Xcode.

[2018-05-07 07:19] PaulTaykalo opened #749 "Resolve build settings for all targets simultaneosly"
Currently, xctool gathers all targets first, and then calls `xcodebuild -showBuildSettings` for each of them. Even though these requests are performed in a parallel manner, this slows down parameters retrieval. It seems that there's a way to get all parameters for all test targets by simply running
`xcodebuild -workspace<Workspace> -showBuildSettings test`
the output contains build parameters for

[2018-05-07 22:53] PaulTaykalo commented on #749
@ExtremeMan This can be closed for now. Unfortunately, the bottleneck is not in calling `xcodebuild` multiple times.
It's more than that. If we use `xcodebuild -workspace -scheme test` to gather all build setting at once, it works a bit slower than parallel calls of `xcodebuild -project -target`
(**8.2s** vs **8.0** in average) on my project.

So the slowest part is actually querying testCases inf

[2018-05-07 23:00] #749 closed

[2018-05-07 23:25] ExtremeMan commented on #749
Yeah, that's fair point about xctool being a little bit slower on small projects. But this is the price for reliability and nice output.

[2018-06-19 05:11] kluufger opened #750 "Failed to query the list of test cases in the test bundle"
👋

Hi! I've seen similar (closed) issues but for an older version of `xctool`, so I decided to open a new one ...

My problem is

[code]

Demo project: https://github.com/kluufger/demo-travis/tree/0607b6e7949878281ddf748f27c92edc5048f452
Failed build: https://travis-ci.org/kluufger/demo-travis/builds/393942802

`xctool --version` (on travis): 0.3.4
`xctool --version` (local): 0.3.4

[2018-06-19 05:14] kluufger commented on #750
Locally,

[code]
works fine if I enable a "host application" for the test target:

<img width="1009" alt="screen shot 2018-06-19 at 5 14 13 am" src="https://user-images.githubusercontent.com/35971588/41578015-a9f1afbe-737f-11e8-93d0-a0378eeb1980.png">

But fails if I don't

[2018-07-14 04:35] #750 closed

[2018-07-14 04:36] kluufger commented on #750
Tried it in a new project, couldn't reproduce.

[2018-07-17 13:43] dimpiax opened #751 "Cannot find Xcode's plist at: /Library/Developer/CommandLineTools/../Info.plist"
### macOS High Sierra
#### Version 10.13.4

Fresh install: `brew install xctool`
[code]

[2018-07-17 14:20] dimpiax commented on #751
Seems that not totally successful Xcode installation, and this is not **xctool** issue.

_Hope **xctool** in potential cases will show more detailed errors and possible solutions._

How to fix:
[code]

[2018-07-17 14:20] #751 closed

[2018-08-10 00:31] alanzeino opened #752 "Xcode 10 dropped 32-bit support"
Project needs to be updated to only build for the 64-bit architecture in the `otest-*` targets.

[2018-08-10 01:05] alanzeino opened #754 "Xcode 10 cannot run some -appTest targets"
Haven't figured this out yet, but this is the output from xctool:

[code]

Specifically seems to be:

[code]

[2018-08-10 01:08] alanzeino commented on #754
Seems like that framework is gone in 10?

[code]

[2018-09-01 09:56] theronic commented on #67
How to solve this? Do you need to change a setting or remove project?

[2018-09-07 17:20] #754 closed, assigned to nobody

[2018-09-28 12:37] fxcoudert opened #756 "New release for Xcode 10?"
I see there are a few commits that are needed to have Xcode 10 support. Now that Xcode 10 is running on most users' computers (High Sierra and Mojave), could there be a new release (0.3.5 or 0.3.4.1) with Xcode 10 support?

Currently, xctool is broken in Homebrew and we'd like to have a version that works: https://github.com/Homebrew/homebrew-core/issues/28817

[2018-09-28 17:46] ExtremeMan commented on #756
Sorry, looking into it.

[2018-10-12 21:23] shepting commented on #616
I ran into this error message in a Buck test app when there was a test file that matched the file glob in both the `apple_test` rule as well as the `apple_library` rule.

[2018-10-18 16:24] tom-un opened #757 "brew formula for xctool needs to be updated to 0.3.5"
`brew install xctool` is currently installing 0.3.2 which doesn't seem to be compatible with XCode 10.

[2018-10-18 16:27] ExtremeMan commented on #757
Please follow the discussion on https://github.com/Homebrew/homebrew-core/pull/32539. homebrew environment is setting wrong environment when building formulas.

[2018-10-18 16:27] #757 closed

[2018-11-14 22:56] shepting opened #760 "Failures on Mojave running app host tests with `exit code 132`"
With Xcode 10.1, we've noticed a number of test runs failing with `exit code 132`. These are consistent on a given machine.

<img width="829" alt="screen shot 2018-11-14 at 2 52 33 pm" src="https://user-images.githubusercontent.com/48065/48518019-15120c00-e81d-11e8-9d95-24a5b93fe29b.png">

[2018-11-14 22:57] shepting commented on #760
We initially hypothesized that it could have been related to the install method of Xcode 10.1 (@charlesmisson).

[2018-11-15 07:33] ExtremeMan commented on #760
Have you tried reinstalling the simulators?

[2018-12-03 21:43] shepting commented on #760
@ExtremeMan We delete and recreate all simulators with `fastlane snapshot reset_simulators` before every test run.

[2018-12-03 21:45] shepting commented on #760
Does the `132` exit code have any significance? I didn't see any reference to that number on an initial browse of the source code.

[2018-12-03 21:56] shepting commented on #760
@ExtremeMan I could come down to Mountain View sometime to show the issue. It has been failing on ~10% of our jobs, and require a restart of the machine in 90% of the cases (or that machine will keep failing).

[2018-12-03 21:56] shepting commented on #760
It looks as though there may be interactions regarding the way that Buck runs groups of tests in parallel based on initial tests and investigation.

[2018-12-06 00:31] shepting commented on #760
I can run the `xctool` command directly to reproduce consistently. For us it's something like
[code]

And the final messages from `xctool` looks like this:
[code]
And the exit code is 132. So that's a little more insight into the error from the `xctool` point of view.

[2018-12-06 00:32] shepting commented on #760
The `run_test_separately = True` only worked for Buck unit tests. Not these targets that require and app host.

[2018-12-06 00:32] ExtremeMan commented on #760
So is it xctool crashing? What are in syslogs?

[2018-12-06 01:48] shepting commented on #760
Also, I surprisingly noticed that `make_release.sh` will crash with the similar exit codes:

[code]

[2018-12-06 02:03] shepting commented on #760
There's nothing in `/private/var/log/system.log` or when I run `syslog` is that what you were referring to?

[2018-12-06 02:03] shepting commented on #760
I grabbed a core dump from the crash, but I'm not entirely sure how to interpret the results when opening with `lldb`.

[2018-12-06 02:05] shepting commented on #760
Just that `Illegal instruction: 4` that suggests that perhaps `xctool` was either built with instructions not valid for this version of `macOS` or some function is missing a return statement. Hmm.

<img width="451" alt="screen shot 2018-12-05 at 6 03 56 pm" src="https://user-images.githubusercontent.com/48065/49556346-331cda80-f8b8-11e8-929a-1c4b6ed1d82b.png">

[2018-12-06 04:44] ExtremeMan commented on #760
Can you open Console.app and look for Xcode and xctool crashes in "System Reports" and "User Reports"?

[2018-12-06 04:45] ExtremeMan commented on #760
Also can you try building with https://github.com/facebook/xctool/pull/759?

[2018-12-06 18:14] shepting commented on #760
Ah, yes. `Console.app` does have an `xctool` crash in the "User Reports" section.

Also, if I turn on `ulimit -c unlimited` I can get a core dump when running `make_release.sh` and get the output:

     [Info] In Progress [xctool-tests.xctest (bucket #14, 7 tests), xctool-tests.xctest (bucket #20, 11 tests)] (0 ms)
    ./make_release.sh: line 53: 95604 Illegal instruction: 4  (core dumped) XT_INST

[2018-12-06 21:45] shepting commented on #760
@ExtremeMan I tried with Richard's PR and it still fails when running `make_release.sh` in the same way.

[2018-12-06 22:06] ExtremeMan commented on #760
Thanks for debugging, @shepting. Seems like xctool is doing something wrong with file descriptors then.

[2018-12-07 04:35] mgrebenets commented on #760
I've got time to run our test suite on High Sierra just now and they app pass.
So it's definitely related to Mojave upgrade.

Not sure how much helpful this is, at least it's definitely not related to Xcode version.

[2018-12-07 18:46] shepting commented on #760
@ExtremeMan This is fixed by https://github.com/facebook/xctool/pull/759 for us. If that PR gets merged (and ideally pushed to Homebrew), we can close this issue.

@mgrebenets You might want to try that other PR as well.

I can also confirm that this issue doesn't occur on High Sierra. It's a Mojave issue.

[2018-12-07 19:56] ExtremeMan commented on #760
Thanks everyone. Looking forward to merging the PR and pushing a new release.

[2018-12-26 22:49] mgrebenets commented on #760
@shepting
Is there a way to get `xctool` builds with `jitpack` similar to `buck`?

[2018-12-27 23:00] shepting commented on #760
@mgrebenets I _think_ that someone would just need to add a `jitpack.yml` file with the relevant steps to the Github repo like Buck does: https://github.com/facebook/buck/blob/master/jitpack.yml

[2019-01-29 06:41] ExtremeMan commented on #760
I have pushed a fix to master (https://github.com/facebook/xctool/commit/b893f431aeac888625a07321770a4bbb6337ce16). Can anyone run a quick test to confirm it actually fixes the issue for them?

[2019-02-15 18:01] hushlorentz opened #761 "Suite timeout not calculated correctly in all cases"
We've noticed if the test bundle has a structure like suite -> suite -> tests, the overall timeout for the root suite will not count the tests. Instead, it will multiply the testTimeout by the number of child suites. This can happen when the first suite is "All tests".

We fixed this by recursing through the suite structure. Maybe there's a better way?

In otest-shim/otest-shim/otest-shim.m:

[cod

[2019-04-09 21:43] dgcoffman opened #764 "illegal hardware instruction"
Running `xctool ... run-tests` exits with `illegal hardware instruction` every time.

Full output:
[code]

xctool 0.3.5, Swift 5.0, Xcode 10.2, OS X 10.14.4

Any ideas?

[2019-04-09 21:48] ExtremeMan commented on #764
Do you have a crash log?

[2019-04-09 21:56] dgcoffman commented on #764
Thanks for the fast response @ExtremeMan

Nope, how can I get one for you?

[2019-04-09 22:40] dgcoffman commented on #764
I'm looking inn ~/Library/Logs/DiagnosticReports/ and don't see anything.

[2019-04-09 22:49] dgcoffman commented on #764
Looks like I may be experiencing https://github.com/facebook/xctool/pull/759

[2019-04-09 23:02] ExtremeMan commented on #764
@dgcoffman can you try running xctool from master? I supposedly pushed a better fix.

[2019-04-12 17:50] peppermints commented on #750
but why？

[2019-04-15 11:45] #586 closed

[2019-04-15 11:45] #509 closed

[2019-05-07 18:01] kabamwboyer commented on #325
Hi! Has this functionality been expanded to include testing on real devices in parallel?

[2019-05-09 16:29] ExtremeMan commented on #325
Hey! No, such support hasn't been added.

[2019-05-09 16:38] kabamwboyer commented on #325
Thanks for letting me know, @ExtremeMan !! Have a great day :D

[2019-05-21 00:21] ExtremeMan commented on #534
Better late than never. But I have just pushed changes which should add UI testing support. Let me know if it doesn't work for your use case.

[2019-05-21 00:21] #534 closed

[2019-05-21 00:21] #760 closed

[2019-05-21 00:21] #764 closed

[2019-05-21 00:25] mgrebenets commented on #760
Yay! Been waiting for it  🎉 🎉 🎉

[2019-06-27 20:40] AnneTheAgile opened #765 "xctool run-tests --listTestsOnly only shows targets"
Hello , I would love to be able to get a list of all my tests, eg for counting and ensuring that when a suite is done that it did actually test the expected number of tests.

However, when I try to use the  listTestsOnly feature, I only get back the target, not the tests. In other words, if I pass a value on the commandline I get its value back.

Is this as it is designed? Or am I missing somethin

[2019-08-20 01:21] aaronclarke opened #766 "xctool fails to run tests in Xcode 10.2.1 after Xcode 11 has been installed ("Invalid device state") -- need to specify "--standalone""
I'm on xctool version 0.3.7.
My team has had problems with running xctool against older Xcode versions after we've installed Xcode 11. xctool runs just fine against Xcode 11, but trying to swap back after we're done testing some beta feature is impossible. Our understanding is that Apple changed how the simulator works in a way that breaks backwards compatibility.
[code]

According to a radar bug

[2019-08-20 01:23] aaronclarke commented on #766
This may be obvious, but when I added `@"--standalone",` to the arguments list in xctool/xctool/SimulatorWrapper/SimulatorTaskUtils.m, everything started working from there.

[2019-08-28 06:53] ExtremeMan commented on #766
Thanks for a bug report. Can someone put up a PR? Otherwise I will fix it within next several weeks

[2019-09-16 20:58] ExtremeMan commented on #766
I just merged a fix from @qyang-nj. Sorry for waiting for me. Thanks for jumping on the issue, reporting and fixing it! I highly appreciate your help!

[2019-09-16 20:58] #766 closed

[2019-09-17 14:32] mattrobmattrob opened #768 "Missing absolute file ref to TestProject-Library-32And64bitTests-Info.plist"
I'm getting this imported into my Carthage build folder via this dependency declaration:
[code]
Xcode project that's included as a result of the checkout:
[code]

We have scripts that verify the presence of all referenced files to ensure developers don't include files that won't exist for others. This project includes a non-existent reference to `TestProject-Library-32And64bitTests-Info.plist`.

|

[2019-10-14 21:32] neotron opened #773 "XCode 11: Can't find library libXCTestSwiftSupport.dylib when running tests"
This appears to live in
[code]

and I can get it to run if I add the following to the command line:
[code]

[2019-10-29 11:47] moatazeldebsy commented on #766
where is version 0.3.7? because I have the same problem with Xcode 11.1 and the latest releases from the tool is 0.3.6

[2019-10-29 11:52] moatazeldebsy opened #774 "fail with Xcode 11.1 An error was encountered processing the command (domain=com.apple.CoreSimulator.SimError, code=165): Invalid device state"
I have a problem with XCode 11 and the latest version of xctool 03.6

[code]

[2019-10-29 16:43] aaronclarke commented on #766
I was on 3.7 because I had pulled the repo and compiled directly from source before reporting my issue.

[2019-10-29 19:02] moatazeldebsy commented on #766
ok , so for solving this issue what shall I do ?

[2019-10-29 19:05] ExtremeMan commented on #766
If you cannot build from master, I will need to create a new release. I can do that

[2019-10-29 21:05] moatazeldebsy commented on #766
@ExtremeMan thank you for your help and yes please if you can new release including a soltuion for this issue I really appreciate that.

[2019-10-31 13:36] moatazeldebsy commented on #766
@ExtremeMan any update about this issue?

[2019-11-05 21:30] moatazeldebsy opened #775 "No target application path specified via test configuration: (null)"
[code]

[2019-11-06 20:35] AnneTheAgile commented on #773
We get this too, but it's intermittent. Is that what you have @neotron ?

[2019-11-08 01:15] neotron commented on #773
It happens persistently for me on every run.

[2019-11-08 20:55] ExtremeMan commented on #775
Which Xcode version do you use? Can you share xctool command?

[2019-11-08 20:55] ExtremeMan commented on #774
Can you try running from xctool master and see if it works there?

[2019-11-08 20:56] ExtremeMan commented on #773
Does this error happen when running Swift tests?

[2019-11-08 21:29] AnneTheAgile commented on #773
1.Update; our team used this solve;
Unit tests do not run on iOS 11 devices on Xcode 11 when using dynamically linked libraries · Issue #9165 · CocoaPods/CocoaPods: https://github.com/CocoaPods/CocoaPods/issues/9165#issuecomment-550273696

2.For me it was not actually intermittent
Xctool would always fail
xcodebuild by itself could pass
so it seems like an interaction, maybe xctool adds certain pa

[2019-11-08 22:03] neotron commented on #773
We have mixed ObjC / Swift tests, and the tests depend on a library with mixed objc/swift code.

[2019-11-10 15:19] moatazeldebsy commented on #774
@ExtremeMan by clone the repo and build the tool locally or how?

[2019-11-11 14:35] levibostian commented on #774
@moatazeldebsy I am not quite sure, but I think you need to clone the repo and run the `xctool.sh` script included in the source. That's what [the readme](https://github.com/facebook/xctool#installation) seems to be saying.

[2019-11-12 05:59] qyang-nj commented on #774
I think this is duplicate with #766 .

[2019-12-05 09:13] aturlier commented on #766
Hi @ExtremeMan, @moatazeldebsy. Any news about the 0.3.7 release? I'd like to avoid building from master if possible.

[2019-12-09 17:27] #761 closed

[2019-12-10 17:24] ExtremeMan commented on #775
Please reopen if you can reproduce and provide extra debug information to make it easier to find an issue. Thanks!

[2019-12-10 17:24] #775 closed

[2019-12-10 18:59] ExtremeMan commented on #773
@neotron  do you think you can give me a test project where it is reproducible? I created several examples myself and couldn't repro the issue.

[2019-12-10 19:03] ExtremeMan commented on #773
Alternatively if you can build xctool locally, can you try this change: in `XCToolUtil.m` in function `NSString *IOSTestFrameworkDirectories()` add another entry to the array:

[code]

Another question I have - do you run logic or app tests? Because in case of app tests `libXCTestSwiftSupport.dylib` is part of app bundle.

[2019-12-10 19:03] ExtremeMan commented on #773
And is it iOS or OS X target? Thanks!

[2019-12-10 19:05] neotron commented on #773
I can see if I can get a reproducable setup. It's iOS / logic tests - not app bundle.

[2019-12-10 19:25] ExtremeMan commented on #773
Thanks! Or if it is easier to try with a suggested fix I can live with that :)

[2019-12-10 19:26] ExtremeMan commented on #773
For the test bundle - are tests in Swift, Objective-C or both?

[2019-12-10 19:30] neotron commented on #773
It's a combination of Swift and Objective C - mostly ObjC. Same with the library where the actual code lives in.

[2019-12-11 09:11] ExtremeMan commented on #774
New release is out - https://github.com/Homebrew/homebrew-core/pull/47718.

[2019-12-11 09:11] #774 closed

[2019-12-11 09:12] ExtremeMan commented on #766
New release is out - https://github.com/Homebrew/homebrew-core/pull/47718. I deeply sorry for a long delay!

[2019-12-11 09:13] ExtremeMan commented on #766
@moatazeldebsy, @aturlier thanks for reminding to do it! @qyang-nj thanks for your PR!

[2019-12-11 09:21] aturlier-pro commented on #766
Thanks a lot for the update !

[2020-01-31 10:28] onmyway133 opened #777 "Using new build system"
Trying xctool with Xcode 11, and get this issue

[code]

[2020-01-31 19:34] ExtremeMan commented on #777
Which xctool command did you run?

[2020-01-31 20:55] onmyway133 commented on #777
@ExtremeMan Hi, I use  `xctool -project ABC.xcodeproj -scheme Staging`

[2020-01-31 21:50] ExtremeMan commented on #777
Did you build project for testing using xcodebuild before invoking xctool?

[2020-03-14 22:59] valerio-castelli commented on #765
Hello, I'm facing the same issue with `xctool 0.3.7` and Xcode 11 on macOS Mojave. I'd love to see this feature fixed, it'd open up some interesting continuous integration scenarios and is currently not available with `xcodebuild`. Are there plans to look into it in the future? Thanks!

[2020-04-14 12:18] VasilijSviridov opened #778 "Failed to find test host app for test target"
Any help on this ?
running command line as:
xctool -workspace workspace.xcworkspace  -scheme schema  run-tests -only testTarget:Class/testFunction

[2020-06-10 09:56] lengyue524 opened #779 "not valid for use in process using Library Validation: mapped file has no Team ID and is not a platform binary (signed with custom identity or adhoc?)"
run-tests get error:
how to fix it?
xcode 11 xctool version 0.3.7
`xctool -workspace utProj.xcworkspace -scheme utProj run-tests`

`[Info] Loading settings for scheme 'utProj' ...2020-06-10 17:54:16.075 xctool[46763:727865] *** Assertion failure in -[XcodeSubjectInfo buildSettingsForATarget], /tmp/xctool-20191211-22218-1r1jst1/xctool-0.3.7/xctool/xctool/XcodeSubjectInfo.m:853

2020-06-10 17:54:16.

[2020-07-01 08:18] D0miH commented on #779
I have the same problem. I run the following command
[code]

But it always fails with the same error:
[code]

However, when I run the tests using xcodebuild the tests run as expected:
[code]

Does anyone have a solution on how to run the tests using `xctool`?

[2020-09-02 22:47] santiago-iraola-hbo commented on #779
having the same issue as above with xcode 11 + Catalina. Has anyone figured it out?