[2015-08-05 18:02] facebook-github-bot-7 commented on #172
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #203
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #242
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #248
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #253
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #266
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #269
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #274
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #283
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #287
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #288
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #294
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #295
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #297
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #300
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #311
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #322
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #323
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #326
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #333
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #355
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #359
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #363
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #365
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #367
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #374
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #376
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #378
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #381
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #384
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #395
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #396
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #404
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:02] facebook-github-bot-7 commented on #417
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:04] dblock commented on #295
Thank you @facebook-github-bot-7!

![](http://vignette4.wikia.nocookie.net/p__/images/e/e2/WALL-E_03.jpg/revision/latest?cb=20140428175138&path-prefix=protagonist)

[2015-08-05 18:08] #274 closed

[2015-08-05 18:15] ExtremeMan commented on #323
It is not on our todo-list. There were some changes done recently that should simplify this feature implementation. Feel free to look into it - it is plain Objective-C. We will be happy to review a PR.

[2015-08-05 18:21] #323 closed

[2015-08-05 18:21] ExtremeMan commented on #384
I have a suspicion that you scheme wasn't properly configured. If it was failing on `build-tests -only MyAppOCUnitTests` action then it was basically xcodebuild failing.

[2015-08-05 18:25] ExtremeMan commented on #374
I don't think we really need this. We've had in mind for a long time idea of re-running the test several times if it failed and then reporting failure only if all of the runs failed. But in my opinion tests shouldn't rely on a such feature. If you want to work on that, @atuljangra, we will be happy to review your PR. But currently we aren't going to move forward with this request.

Thanks for brin

[2015-08-05 18:25] #374 closed

[2015-08-05 18:26] ExtremeMan commented on #294
Please, reopen if it still a case for you! We have pushed many changes since the day of the bug being reported.

[2015-08-05 18:26] #294 closed

[2015-08-05 18:35] ExtremeMan commented on #355
I was recently playing around the code that affects how tests are run on OS X. Could you check for me if it is still a problem for you with master version of xctool? If yes, please reopen and I will have a look!
Thanks and sorry it took us more then a year to reply.

[2015-08-05 18:35] #355 closed

[2015-08-05 18:39] ExtremeMan commented on #404
Since it is more an Apple issue rather then xctool (and I doubt we can improve/fix it in xctool itself) I will close the issue. Hope you all found a workaround.

Feel free to send a PR with your workarounds. We can add all of them to a README, I guess, to help other engineers when they hit this issue.

[2015-08-05 18:39] #404 closed

[2015-08-05 18:42] ExtremeMan commented on #378
I think the bug is in shared/not-shared schemes. Also if xcodebuild fails not much we can do in xctool.
Please, reopen if you have any ideas!

[2015-08-05 18:42] #378 closed

[2015-08-05 18:49] ExtremeMan commented on #300
What @LegNeato said - xctool isn't the best place for it, unfortunately. Thanks for sharing a script though ;)

[2015-08-05 18:49] #300 closed

[2015-08-05 18:52] ExtremeMan commented on #333
xctool definetely should support `NSLog` in tests and should display the output.
Regarding the memory issues - we moved xctool to ARC so hopefully we fixed leaks if such existed.
If it is still the issue for you, please, reopen and I will have a look.
Thanks!

[2015-08-05 18:52] #333 closed

[2015-08-05 18:57] ExtremeMan commented on #147
Please reopen if it is still the issue for you.

[2015-08-05 18:57] #147 closed

[2015-08-05 18:58] ExtremeMan commented on #172
A lot has been changed in xctool since the original issue was posted. Please, open new ones if you hit the same problem again.

[2015-08-05 18:58] #172 closed

[2015-08-05 18:59] #203 closed

[2015-08-05 19:02] ExtremeMan commented on #266
Multiple `-destination` options should be a proper way to do that, I think. Closing because this is already on our todo list for ages.

[2015-08-05 19:02] #266 closed

[2015-08-05 19:03] #269 closed

[2015-08-05 19:06] ExtremeMan commented on #287
We are tracking this in #248.

[2015-08-05 19:06] #287 closed

[2015-08-05 19:23] ExtremeMan commented on #288
We are aware of it but it is not hi-pri for us right now. Though we will be happy to review PRs. Please track the issue in https://github.com/facebook/xctool/issues/242.

[2015-08-05 19:23] #288 closed

[2015-08-05 19:24] ExtremeMan commented on #283
Thanks for reporting the issue. Not sure we will put our hands on it. Feel free to send a PR, we will be happy to review it!

[2015-08-05 19:24] #283 closed

[2015-08-05 19:26] ExtremeMan commented on #322
Please check if you scheme is shared. Setting a target means that the tests are logic and not application. Reopen if you still see the problem, please.

[2015-08-05 19:26] #322 closed

[2015-08-05 21:28] emartynov commented on #172
Sure! Does it require machine intelligence to find old github issues? Does it require machine intelligence to reproduce and probably fix issues or close as not relevant?

[2015-08-05 23:51] Goles opened #550 "All Specta tests using XCTestExpectation are crashing when using xctool"
As simple as that... it seems that all the tests that I have that rely on `XCTestExpectation` are crashing when using `xctool`. I'm using Specta, but everything works well when running the tests via Xcode.

Any idea of what could be the problem?

[2015-08-06 18:35] goyalankit opened #551 "assetsd crashing with xctool. Works fine with xcodebuild"
Getting the following crash when I try to run with xctool. Have tried `-freshInstall` and `-fresthSimulator`.

xcode version: Xcode-6.4
xctool version: 0.2.5
(iphonesimulator8.4, iPhone 6, application-test)

[code]

It's not 100% reproducible but frequent enough. Any idea why this could be happening?

[2015-08-07 07:49] zqxiaojin opened #552 "NSHomeDirectory is wrong in Application-test"
I use the following code in my App:

[code]

I test with xcodebuild , the result is :
[code]

But when I test it with xctool , the result is :
[code]

The xctool command is :
[code]

What should I do to fix this problem?

[2015-08-07 20:24] madhaviw commented on #253
I am facing the same issue. Is there a workaround for this issue?

[2015-08-07 20:35] ExtremeMan commented on #253
@madhaviw you can go to `Xcode -> Product -> Scheme -> Manage Schemes...`, choose a broken scheme and remove non-existing targets.

[2015-08-07 22:51] ExtremeMan commented on #552
I though I fixed that. Are you using master version of xctool?

[2015-08-07 23:03] ExtremeMan commented on #552
No, still broken on master. Looking.

[2015-08-07 23:07] ExtremeMan commented on #552
It is fixed for logic tests, but not for application tests.

[2015-08-08 00:22] ExtremeMan commented on #552
Looks like Xcode is creating last path component on every test run. On which part of the path do you rely on?

[2015-08-10 04:27] dshirley commented on #253
Same issue.  It seems to be isolated to Xcode 7.  I'm using beta 5.
When I xcode-select back to using the Xcode 6 toolchain the error goes away.

If you need a project to test on, here's mine:  https://github.com/dshirley/OpenBrew

This command doesn't work on Xcode 7 beta 5

    xctool -workspace OpenBrew.xcworkspace -scheme OpenBrew CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -sdk iphonesimul

[2015-08-10 07:57] zqxiaojin commented on #552
I tried to set "TEST_HOST" to simulator enviament , but it does not work.

[2015-08-10 16:09] anthonyray commented on #415
I had the same problem as @XBeg9
Upgrading xctool to 0.2.4 solved my problem ! Thanks !

[2015-08-10 17:57] jimix commented on #544
@ExtremeMan sorry I missed this, glad it resolved itself :smiley:

[2015-08-10 20:17] kvarga commented on #495
I work with @cnstoll - This kind of worked, but we had to split out the signing and sign each app separately. We are good to go.

[2015-08-10 21:27] logical42 commented on #551
This is also happening to me, any thoughts/insights on why this could be happening would be greatly appreciated.

[2015-08-10 23:49] brendanjc commented on #528
I pulled the latest from master after hitting the same "Unable to read build settings for target" issue above. Now I'm seeing something slightly different, see below. This is on Xcode 7 Beta 5. Vanilla 'xcodebuild test' still works for me.

[code]

[2015-08-11 01:12] ExtremeMan commented on #552
Thanks for reporting. Fixed on master in https://github.com/facebook/xctool/commit/8df4a73148e75341f802e8c81d34dac116943a31.

[2015-08-11 01:12] #552 closed

[2015-08-11 11:32] corristo commented on #528
Tried current master, initial issue is gone, but I'm having a crash during test run:

[code]

[2015-08-11 17:35] anthonyray opened #553 "Networking tests are passing in xcodebuild and failing in xctool"
I am trying to run my unit tests from the command line with xctool. Issuing the same command with `xcodebuild` and `xctool` lands different results.

Here is the `xcodebuild` command :

[code]

Here is the `xctool` command :
[code]

While every unit tests succeed with the `xcodebuild` command, I have a unit test failing with the `xctool` command.

After an investigation, I suspect that `xctool` la

[2015-08-11 18:01] ExtremeMan commented on #553
What if you try running xctool with `-destination 'platform=iOS Simulator,OS=8.4,name=iPhone 6' `? (See `'` are moved around).

[2015-08-11 21:35] ExtremeMan commented on #376
Thanks for a great bug report. Unfortunately your fix isn't 100% correct (try running it against xctool workspace). But I have just fixed that on master (84c1aab123daf00a6f6b672b9c694babe75c1213)!

[2015-08-11 21:35] #376 closed

[2015-08-11 22:08] ExtremeMan commented on #381
Since we have validation of project existence in the scheme I think we can just remove that check you are mentioning. Not sure how it is possible to create a scheme which references a project that isn't part of a workspace.

[2015-08-11 22:29] ExtremeMan commented on #381
Should be fixed on master (88dce2d9c265d3b47c918bb9c82f49b00066fcd4). Thanks again for reporting.

[2015-08-11 22:29] #381 closed

[2015-08-12 00:02] ExtremeMan commented on #495
Thanks @kvarga. Then I am closing the issue for now. Please reopen if you need any help.

[2015-08-12 00:02] #495 closed

[2015-08-12 01:17] logical42 opened #554 "build-tests/run-tests doesn't honor tests listed under SkippedTests in xcscheme"
Tests which are marked as skipped under an xcode scheme are both built and ran. This behavior is in contrast to the behavior exhibited by xcodebuild which actually does seem to skip tests which are marked as skipped.

[2015-08-12 08:39] anthonyray commented on #553
I tried running xctool with the new flag argument. Some of my unit tests are still failing, and I think that xctool still uses the wrong simulator.

I got the following output (using the `-showTasks` flag) :

[code]

This is kind of weird as :
- Launching `xctool` **doesn't open the simulator app** (such as xcodebuild does)
- The `SIMSHIM_SIMULATOR_ROOT` variable hasn't changed
- The `SIMSHIM_SIMU

[2015-08-12 09:19] anthonyray commented on #553
I think that I forgot to add this important point : **All the failing unit tests** are those that are **network related**.

[2015-08-12 22:50] ExtremeMan commented on #553
xctool doesn't open the simulator app because you are running logic tests. If you need to run tests in app context then you should make them application tests. Also similar issue regarding network tests: https://github.com/facebook/xctool/issues/367.

[2015-08-12 22:55] ExtremeMan commented on #367
We are tracking the issue in https://github.com/facebook/xctool/issues/451. Please subscribe there.

[2015-08-12 22:55] #367 closed

[2015-08-12 22:59] ExtremeMan commented on #376
Slightly improve in commit https://github.com/facebook/xctool/commit/afc43841f76ff7a08eb195773b9c7aab3e408968 with test covering the use case.

[2015-08-12 23:00] ExtremeMan commented on #365
Thanks for well written bug report. I've just fixed the bug on master in commit https://github.com/facebook/xctool/commit/de0933590fd0426f42827060c757f66bb210f784.

[2015-08-12 23:00] #365 closed

[2015-08-13 00:03] ExtremeMan commented on #451
This is fixed since we switched to `simctl` to run logic tests. Your test isn't failing since commit 6b59d2005b5edd24582aceb2601b698dae980736.

[2015-08-13 00:03] #451 closed

[2015-08-13 00:04] ExtremeMan commented on #367
It appears that it might be already fixed since commit 6b59d2005b5edd24582aceb2601b698dae980736 when switched to `simctl`. Please try using master.

[2015-08-13 00:06] ExtremeMan commented on #450
These tests are also now passing after we have switched to `simctl` tool to run logic tests! Actually all tests in your project are now passing (excluding the one that Xcode couldn't build)!

[2015-08-13 00:06] #450 closed

[2015-08-13 01:01] ExtremeMan commented on #311
As @paristote correctly found xctool fails to `clean` or `build-tests` if you scheme isn't configured for testing (doesn't have testables). I have just fixed it in 6933e857e9f2ce324ad077bf37f0356952633b13. Thanks for reporting.

[2015-08-13 01:01] #311 closed

[2015-08-13 01:08] ExtremeMan commented on #297
Looks like you don't need this anymore. Not sure if anyone else is using `SenTestObserver`. Also SenTesting framework is now deprecated and we moved to `simctl` to run tests which probably will resolve the issue.

[2015-08-13 01:08] #297 closed

[2015-08-13 01:15] ExtremeMan commented on #363
I think my PR https://github.com/facebook/xctool/pull/393 fixed this problem. Please reopen if you see hit it again.

[2015-08-13 01:15] #363 closed

[2015-08-13 02:50] ExtremeMan commented on #295
So the bug @dblock found is actually in xcodebuild which hangs when non-existing (read not available for a current user) scheme is passed. That is why we weren't populating any error. I've moved forward and changed the way xctool searches for schemes and then validates them. Now it will look only for a currently logged in user schemes (`NSUserName().xcuserdatad`) rather then for all user schemes.

[2015-08-13 02:50] #295 closed

[2015-08-13 03:14] dblock commented on #295
Thanks @extrememan, glad this wasn't closed automagically.

[2015-08-13 03:19] dblock commented on #295
@extrememan I read the fix and I believe you fixed the issue that caused this to happen but not the fact that when something like this happens there's no error. Xcode will hang if no schemes are found I think, but I haven't confirmed.

[2015-08-13 03:55] ExtremeMan commented on #295
@dblock, right, Xcode will hang, but we will not call to xcodebuild and catch the error here: https://github.com/facebook/xctool/blob/master/xctool/xctool/Options.m#L490-L512.

[2015-08-13 10:17] joamaki opened #555 "otest-shim: Deadlock due to StripAnsi nil argument exception in single byte input"
In some cases the test output is written one character at a time and when printing the
default NSError localized description "The operation couldn’t be completed", StripAnsi crashes
when the input is the accent in "couldn't", which has the octal code \342. This in turn causes a recursive call into the intercepted write due to logging attempt by the handleException and a deadlock in the xctool.even

[2015-08-13 14:02] corradio commented on #553
I'm working with @anthonyray. Seems like HTTP-based networking works. However, HTTPS is not working (AFNetworking is unable to process the request). Will investigate more, but tests are passing fine with xcodebuild.
Any suggestions as to what we should investigate?

[2015-08-13 18:09] ExtremeMan commented on #253
Fixed in c4ccb409971320210fb3fef386271deb0f214390. Now xctool skips all buildables and testables in the scheme if they don't exist. Same way as xcodebuild does.

[2015-08-13 18:09] #253 closed

[2015-08-13 18:32] ExtremeMan commented on #248
Can't reproduce it locally. Tried running xctool against workspace with `build-tests` action with and without `-derivedDataPath` arguments - xcodebuild clearly reuses results from previously run command.

Could any of you confirm this is still an issue?

[2015-08-13 20:58] ExtremeMan commented on #453
I think I've fixed it in https://github.com/facebook/xctool/commit/728150d6ce8bc90e2603c2b92eec79ac8fd15b08. I've tried to run several tests and xctool behavior was always the same as xcodebuild. I have added several new tests (25113b5219416127c089f6a0df7f47c512cbaa36) to cover use case when there are schemes with the same name in shared and users directory to be sure we don't break it in a future

[2015-08-13 20:58] #453 closed

[2015-08-13 21:03] ExtremeMan commented on #441
Any chance you have a small test project where I could reproduce the issue you were hitting? Or may be you remember what was the reason of a crash in the test?

[2015-08-13 21:10] ExtremeMan commented on #454
Fixed since we have switched to use `simctl` to run logic tests (6b59d2005b5edd24582aceb2601b698dae980736). I've checked against the https://github.com/danielalves/NitroKeychain project. All tests are passed.

[2015-08-13 21:12] ExtremeMan commented on #440
I have made some changes to how we handle and search for schemes. It shouldn't be a case after commit 728150d6ce8bc90e2603c2b92eec79ac8fd15b08.

[2015-08-13 21:12] #440 closed

[2015-08-13 21:26] ExtremeMan commented on #455
So far didn't hear about this issue anymore. I think Github issue should be good enough for devs to find a problem. Closing for now. Thanks!

[2015-08-13 21:26] #455 closed

[2015-08-13 21:39] ExtremeMan commented on #460
I had a look and wasn't able to reproduce the issue you hit w/o passing `-resetSimulator`. xctool though sometimes does really do it automatically (if `-resetSimulator`) isn't specified but it happens only in those cases when test environment preparation failed which isn't a your case (I don't see it in logs). I suspect that you were passing `-resetSimulator` flag. Please, reopen if it still the c

[2015-08-13 21:39] #460 closed

[2015-08-13 21:45] ExtremeMan commented on #465
Looks like there are particular steps to resolve the problem listed in https://github.com/facebook/xctool/issues/499. Please reopen if you still have problems running tests with xctool!

[2015-08-13 21:45] #465 closed

[2015-08-13 21:58] ExtremeMan commented on #499
Huh, this issue was "automatically" fixed after commit 5244f8cd8ad1caef74ec8d8260e2822067f015b8.

[2015-08-13 22:38] ExtremeMan commented on #461
Thanks for reporting. Fixed in b81200e0a20061dc3e7bef39dcd540d16fc2b086.

[2015-08-13 22:38] #461 closed

[2015-08-13 22:43] ExtremeMan commented on #442
Looks like an old issue. Could you please verify if xctool works for you? If no and it fails, please, reopen the issue but I will need a sample project or more details so I can reproduce. We definitely still support SenTesting framework.

[2015-08-13 22:43] #442 closed

[2015-08-13 22:45] ExtremeMan commented on #462
I believe we have fixed that in two recent commits: de0933590fd0426f42827060c757f66bb210f784 and afc43841f76ff7a08eb195773b9c7aab3e408968. The problem was that we were not looking for nested projects.

[2015-08-13 22:45] #462 closed

[2015-08-13 22:48] ExtremeMan commented on #467
Looks like the original issue was resolved. Please open new one if you experience other problems with xctool.

[2015-08-13 22:48] #467 closed

[2015-08-13 22:49] ExtremeMan commented on #457
Could you please confirm that it is still the case when you run xctool from master? If yes, do you mind creating a sample project that I can use to reproduce locally? Thanks.

[2015-08-13 22:54] ExtremeMan commented on #439
Sorry, it is not really an xctool issue.

[2015-08-13 22:54] #439 closed

[2015-08-13 22:55] ExtremeMan commented on #508
We didn't hear for a long time from issue author. Please create new one if you still are experiencing any issues with xctool but not with Xcode and xcodebuild.

[2015-08-13 22:55] #508 closed

[2015-08-13 22:56] ExtremeMan commented on #503
We didn't hear for a long time from the issue author. If you are still experiencing any issues with xctool but not with Xcode and xcodebuild then please open new one. Thanks!

[2015-08-13 22:56] #503 closed

[2015-08-13 23:05] ExtremeMan commented on #489
Sorry, not much we can do here. Feel free to send a PR if you have any ideas of how it could be fixed on xctool side.

[2015-08-13 23:05] #489 closed

[2015-08-14 01:09] ExtremeMan commented on #479
Similar issue was fixed for `LaunchTaskAndFeedOuputLinesToBlock` by @yiding in https://github.com/facebook/xctool/commit/7662c449779e0f496ab41016b5f427691e521b2e. I will just do the same fix for `ReadFileDescriptorAndOutputLinesToBlock` which apparently could hit sometimes the same issue.

[2015-08-14 01:10] ExtremeMan commented on #479
Fixed on master in commit 9a8a4a0262a3faff7ce598a223ebcec3f7f89b77.

[2015-08-14 01:10] #479 closed

[2015-08-14 01:12] ExtremeMan commented on #507
We didn't hear for a long time from the issue author. If you are still experiencing any issues with xctool then please open a new one. Thanks!

[2015-08-14 01:12] #507 closed

[2015-08-14 01:20] ExtremeMan commented on #513
Supporting such kind of tests would be very hard in xctool. It is so because we rely on unique test names in some places. In your case there will be several test invocations of `testPlatformFilteringWithResolver:`. This breaks xctool. Closing for now. Sorry for that. (Also I see that your PR could be now merged and we aren't a merge blockers anymore).

[2015-08-14 01:20] #513 closed

[2015-08-14 01:26] ExtremeMan commented on #535
We didn't hear for a long time from the issue author. If you are still experiencing any issues with xctool  then please open new one or reopen this with more details. Thanks!

P.S. Just came another idea to mind - you can use `--showTasks` arguments to see the exact commands xctool runs.

[2015-08-14 01:26] #535 closed

[2015-08-14 01:28] ExtremeMan commented on #538
I made some patches around this issue. Could you try master again, please?

[2015-08-14 01:30] ExtremeMan commented on #543
I have applied some patches to how xctool searches for schemes. Could you please try xctool master? I think I fixed the bug you've found. Thanks!

[2015-08-14 01:34] ExtremeMan commented on #419
Could you try xctool master please? I was doing some refactoring recently after we have dropped Xcode 5 support. It may happen that it was fixed. Thanks!

[2015-08-14 01:37] ExtremeMan commented on #384
I made some changes to how xctool searches for schemes and buildable/testables in it. Could you try running xctool master? Thanks!

[2015-08-14 02:48] marasumanth commented on #543
I took new code from git and got below error.

xctool[58773:770680] *** Assertion failure in NSDictionary *BuildConfigurationsByActionForSchemePath(NSString *__strong)(),

xctool/xctool/xctool/XcodeSubjectInfo.m:122

2015-08-13 19:42:30.708 xctool[58773:770680] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Should have a 'buildConfiguration''
*** First t

[2015-08-14 04:33] ExtremeMan commented on #543
Ok, this assert is more or less valid. It means that one of your configurations (launch, test, archive, profile or analyze) doesn't have a build configuration. Please validate your scheme or try recreating it.

[2015-08-14 20:09] ExtremeMan commented on #555
Thanks for a great bug report. I was able to reproduce deadlock with this test:

    - (void)testHandlingOfUnicodeStrings
    {
      fprintf(stdout, "---");
      sleep(2);
      fprintf(stdout, "\342");
      sleep(2);
    }

We've already solved similar problems in other parts of xctool: 9a8a4a0262a3faff7ce598a223ebcec3f7f89b77, 7662c449779e0f496ab41016b5f427691e521b2e.
I will try to repeat fix

[2015-08-14 20:10] ExtremeMan commented on #550
Thanks for a bug report. Any chance you can create a sample project so I can reproduce locally? I have never written Specta tests.

[2015-08-14 20:11] ExtremeMan commented on #551
Thanks for a bug report. Could any of you create a sample project (or share your project if it is open sourced) so I can reproduce locally? Thanks!

[2015-08-14 20:14] ExtremeMan commented on #551
Actually it doesn't even look like a test issue. launchd_sim isn't triggered directly by xctool but it is used when xctool starts the app. Have you tried removing a simulator and creating a new one?

[2015-08-14 20:15] ExtremeMan commented on #553
It may happen that xctool doesn't trigger required services or doesn't set correct environment. Can you create a sample project so I can reproduce the issue locally?

What error do you see in simulator logs?

[2015-08-14 20:26] Goles commented on #550
@ExtremeMan Definitely, I'll get a sample project done for you later today :+1:

[2015-08-15 01:15] ExtremeMan commented on #555
Fixed in 872f33b76b479c0c83260bb2ba38be9930f946d2.

[2015-08-15 01:15] #555 closed

[2015-08-15 01:23] ExtremeMan commented on #554
Hm. I have just created sample project and tried to reproduce but I could see that `run-tests` doesn't run disabled in the scheme tests. Could you provide a sample project where I could reproduce an issue?

[2015-08-16 09:00] fsjack commented on #545
@ExtremeMan What do you mean needing xctool master? It's mean that the formula of my homebrew is not updated?

[2015-08-16 18:13] ExtremeMan commented on #545
Yes, it is not up-to-date. I will make a new release this week.

[2015-08-17 07:04] fsjack commented on #545
Great. But i have fixed that by executing xcode-select to select xcode 6.4 to pass the install error.

[2015-08-17 13:16] anthonyray commented on #553
Working on recreating the bug in a specific repository. Will keep you updated.

[2015-08-17 15:56] anthonyray commented on #553
Here is a repository to reproduce our issue :
https://github.com/anthonyray/xctool_bug_recreation

If you need further input (logs, etc ... I can give them to you).

Thanks !

[2015-08-17 18:16] ExtremeMan commented on #553
Thanks for a project. I will look into it. Shame on me but even own AFNetworking tests are failing. I should have look into them first before asking you for a sample project.

[2015-08-17 18:26] ExtremeMan commented on #553
Interesting. If I target tests against "iPhone 6" they all pass (AFNetworking one). Looking into your project now.

[2015-08-17 18:30] ExtremeMan commented on #553
Ah, so the trick with AFNetworking tests is that they should be run in app context which means they should be app tests. Then they are all passing.

[2015-08-17 19:07] ExtremeMan commented on #553
Yes, same thing with your project. If you change your tests to be application tests (choose your test target under **TARGETS** section when project file is opened in Xcode, go to **General** tab, choose something for **Host Application** option: **None** means that tests are logic.). Try running your tests again - iOS Simulator app will be started.

Please note that Xcode & `xcodebuild` run all te

[2015-08-17 19:07] #553 closed

[2015-08-17 19:24] goyalankit commented on #551
Thanks! It was a box issue. Recreating the simulator worked.

[2015-08-17 19:24] ExtremeMan commented on #551
@goyalankit, awesome. Thanks for letting us know!

[2015-08-17 19:26] ExtremeMan commented on #554
Please, reopen if you still can reproduce the issue. I will be happy to look into it again. In that case I would appreciate a sample project. Also if you still see the issue, please, try using xctool master (clone github project and use ./xctool.sh script) which has the most recent fixes.

[2015-08-17 19:26] #554 closed

[2015-08-17 19:43] ExtremeMan commented on #550
@Goles, any luck with sample project?

[2015-08-17 19:46] ExtremeMan commented on #549
Since this is more a question then an issue I am going to close it. Currently xctool doesn't provide a way to run iOS application tests in parallel because Xcode doesn't allow to have several simulators opened at the same time. There might be ways to workaround that limitation but we aren't going to work on this in the nearest future.

I am happy to continue a discussion here though. Feel free to

[2015-08-17 19:46] #549 closed

[2015-08-17 19:47] ExtremeMan commented on #546
Is it resolved? I am not sure what are next steps here for xctool team.

[2015-08-17 19:48] ExtremeMan commented on #543
Could you please confirm that the issue was resolved? If it still happens could you share a sample project so I could test it locally? Thanks!

[2015-08-17 19:49] ExtremeMan commented on #539
Could you please try using xctool master? I pushed bunch of fixes that might fix the issue you are talking about. If no I will be happy to fix.

[2015-08-17 19:50] ExtremeMan commented on #538
Please reopen if you still the difference between xctool and xcodebuild. I hope it is fixed. For now you can try using xctool from master branch. We are going to make a new release with all recent fixes this week.

[2015-08-17 19:50] #538 closed

[2015-08-17 20:02] ExtremeMan commented on #537
Thanks for you bug report. Sorry it took us so long to verify it. We have pushed bunch of changes to xctool recently but I've tried to reproduce the issue locally and it looks like it is fixed by now. Please, reopen it if you still see it happening for your project. I will be happy to debug and fix it.

[2015-08-17 20:02] #537 closed

[2015-08-17 20:14] ExtremeMan commented on #536
I have created a sample project with similar tests:

        - (void)testAssertInTestCausesFailure
        {
          [TestLibrary_XCTest methodThatHaveAnAssert:nil];
        }

        - (void)testAssertInTestIsCaught
        {
          XCTAssertThrows([TestLibrary_XCTest methodThatHaveAnAssert:nil]);
        }

And I see the expected behavior:
[code]

Could you please confirm you still see tha

[2015-08-17 20:52] ExtremeMan commented on #458
I have a suspicion that wrong simulator was used to run the tests that is why the test wasn't failing. Could you please confirm if you still see the problem when using xctool master?

[2015-08-18 00:36] ExtremeMan commented on #436
I had a look into this and wasn't able to find an easy and not too hacky solution. There are several problems. I will try to list them in case if anyone wants to fix it and send a PR:
- @LegNeato fix (by specifying an `-arch`) works only for OS X workspaces/projects; for iOS workspace/projects `xcodebuild -showBuildSettings` returns incorrect effective platform and as a result we cound't build a p

[2015-08-18 01:16] ExtremeMan commented on #516
I've checked. If you want to continue building after errors latest version of Xcode (6.4) uses another setting `IDEBuildingContinueBuildingAfterErrors`. If you want to pass it through xctool then you just need to append `-IDEBuildingContinueBuildingAfterErrors=YES` to your regular xctool command. For example:
[code]

[2015-08-18 01:16] #516 closed

[2015-08-18 01:19] ExtremeMan commented on #419
I was able to reproduce. It still doesn't work with latest xctool. I will have a look what I can do.

[2015-08-18 01:25] ExtremeMan commented on #419
@x2on, easy fix: `$(PROJECT_DIR)/build/test-images` =)

[2015-08-18 05:08] ExtremeMan commented on #419
Fixed on xctool side in 545626569bcf576dd1a8be606c7949f65046785d.

[2015-08-18 05:08] #419 closed

[2015-08-18 09:03] anthonyray commented on #553
Thanks for your response !

Unfortunately, my issue is not solved yet.

I am trying to develop a framework and thus writing unit tests for it. Correct me if I'm wrong, but it would make better sense to run logic tests right ?

But anyway, I'm totally willing to do application tests. Thing is, when I try to configure them, I have the following problem :

![xctool](https://cloud.githubusercontent.co

[2015-08-18 17:27] ExtremeMan commented on #553
@anthonyray do you say that setting a host application didn't help?

Depends. If your tests, as in this case, depend on some frameworks or services that are provided or triggered only when the iOS simulator is launched/running then your tests couldn't be logic tests. Another example of such framework is UIKit. Also Xcode and xcodebuild don't support logic tests at all. Though sometimes this is sim

[2015-08-19 03:08] PlutoZhang opened #556 "Error occurs in 'Link' please, please help me."
=== BUILD ===

  xcodebuild build btWeighTests
    btWeigh / btWeighTests ((Release))
      ✓ Check dependencies (220 ms)
      ✓ Write auxiliary files (2 ms)
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
/bin/mkdir -p /Users/chipsea/Library/Developer/Xcode/DerivedData/btWeigh-bweynwqpnvajjraobhcrfbprflzw/Build/Intermediates/btWeig

[2015-08-19 03:48] ExtremeMan commented on #556
Do you see the same error if you use `xcodebuild` instead of `xctool`?

[2015-08-19 04:19] PlutoZhang commented on #556
yeah, i'm trying to fix it. It's not the xctool's error.

[2015-08-19 04:28] ExtremeMan commented on #556
Ah. Then unfortunately we can't help much here. Try asking at StackOverflow may be. Sorry.

[2015-08-19 04:28] #556 closed

[2015-08-19 04:45] Pluto-Y opened #557 "Run-test error"
This is what i got just now:
=== RUN-TESTS ===

  [Info] Collecting info for testables... (1032 ms)
2015-08-19 12:41:01.246 xctool[83949:2121785] *** Assertion failure in cpu_type_t CpuTypeForTestBundleAtPath(NSString *__strong)(), /tmp/xctool20150609-68762-h8zitt/xctool-0.2.4/xctool/xctool/XCToolUtil.m:877

2015-08-19 12:41:01.377 xctool[83949:2121785] *** Terminating app due to uncaught exceptio

[2015-08-19 18:30] hiltonc commented on #539
Thanks for looking at this! I just pulled the latest xctool master and tried using it. The env arg substitutions still don't work.

[2015-08-19 18:45] ExtremeMan commented on #539
Does it work in xcodebuild? Have you tried using round brackets: `-AppleLanguages ($(LANGUAGE)) -AppleLocale $(LOCALE)`?

[2015-08-19 18:49] ExtremeMan commented on #539
Also I have pushed a small fix 545626569bcf576dd1a8be606c7949f65046785d which improves substitution but we only replace environment defined in `xcodebuild -showBuildSettings`. Not sure if your `export`'s will get in there =( If it doesn't get there it could be fixed by looking into `NSProcessInfo` of xctool. It shouldn't be hard to implement.

[2015-08-19 18:52] ExtremeMan commented on #557
We don't support running tests on real devices (see https://github.com/facebook/xctool/issues/326). You are building your project with `iphoneos8.4` sdk that is why xctool fails. Replace with `-sdk iphonesimulator` and it should work!

[2015-08-19 18:58] hiltonc commented on #539
I just tried with both ${} and $() in xcodebuild, both cases worked.

I tried with $() in xctool and it looks like the value is getting substituted with "". Hard to tell.

[2015-08-19 19:00] ExtremeMan commented on #539
Yeah, if it is `""` then your `export` in shell aren't pushed to `xcodebuild -showBuildSettings`. Feel free to fix it by your own (see that commit I mentioned above). You will just need to pass `[[NSProcessInfo processInfo] environment]` with build settings to  `stringWithMacrosExpanded:fromBuildSettings:`. I will be happy to see and review a PR!

[2015-08-19 19:56] hiltonc commented on #539
Thanks! https://github.com/facebook/xctool/pull/558

[2015-08-19 23:29] goyalankit commented on #551
Started seeing this issue again and recreating is not helping anymore.
Doesn't happen with xcodebuild, not sure what's happening here. I'd appreciate any help. thanks!

[2015-08-19 23:42] ExtremeMan commented on #551
If you look into stack trace you will find that xctool isn't even there. Before this crash happens xctool is opening an iOS Simulator app and starting a simulator session. Then it tries to launch the app and then `launchd_sim` crashes. `Launchd_sim` is a service that launches whenever iOS Simulator app is started. When xctool tries to start an app using Xcode API's eventually it goes to launchd_si

[2015-08-19 23:45] ExtremeMan commented on #551
Ah, actually the process that crashes is `assetsd`, not `launchd_sim`. Another thing you can try is reinstalling of Xcode. Though it is not scalable.

[2015-08-19 23:47] tinyfrog opened #559 "xctool runs tests from target that's not included in scheme"
Apologize if this has been answered somewhere before. I have some test targeted added to a scheme but not checked in Test section of Scheme configuration.

![screen shot 2015-08-19 at 4 38 54 pm](https://cloud.githubusercontent.com/assets/3075892/9372215/d06ad6b2-4690-11e5-9157-5a97b1e0b32c.png)

but when I run-tests they're still pulled in. Does anyone know why it behaves this way? Thanks

Here i

[2015-08-19 23:48] ExtremeMan commented on #559
Do you mean they are built and run or they are just built but not run?

[2015-08-20 00:24] tinyfrog commented on #559
I'm new to ios build so terms I used might be a little off. It's built but I'd like to skip the test of it. However it still runs even though I explicitly skip it. The corresponding change is below:

--- a/Foo.xcodeproj/xcshareddata/xcschemes/FooUITests.xcscheme
+++ b/Foo.xcodeproj/xcshareddata/xcschemes/FooUITests.xcscheme
@@ -311,7 +311,7 @@
             </BuildableReference>
          </Testabl

[2015-08-20 01:05] ExtremeMan commented on #559
I see. Yeah, it should be run. Are you using xctool master or the one installed via homebrew?
I was recently working on it and remember that I wasn't able to reproduce the issue.

[2015-08-20 03:29] tinyfrog commented on #559
just curious, why it should be run when I explicitly set skipped to YES?

I'm using homebrew version. Is there any interesting changes in master I can play with?

[2015-08-20 03:46] ExtremeMan commented on #559
It shouldn't. Yes, there are changes.

[2015-08-20 05:40] oliverhu commented on #551
Hi ExtremeMan, I worked with goyalankit to tackle this for several days, no luck. Do you think it is related to the simulator verification failure?

    === RUN-TESTS ===

      [Info] Collecting info for testables... (29638 ms)
      run-test FooTests.xctest (iphonesimulator8.4, iPhone 6, application-test)
        [Error] Failed to verify iOS Simulators with error: Simulator verification failed.;

[2015-08-20 17:19] ExtremeMan commented on #551
I would try reinstalling Xcode.

[2015-08-20 22:06] oliverhu commented on #551
Tried. Still crashing :\

[2015-08-21 01:53] ExtremeMan commented on #539
Fixed in #558! Thanks @hiltonc for finding an issue and fixing it!

[2015-08-21 01:53] #539 closed

[2015-08-21 17:38] sampham commented on #548
@ExtremeMan I'm looking into picking this up. Is the nekto/support_ui_testing branch up to date with the work you did? Also, if you could give me a summary of the issues you ran into that would be great.

[2015-08-21 17:51] ExtremeMan commented on #534
Let's switch to this issue, @sampham.

The branch https://github.com/facebook/xctool/tree/nekto/support_ui_testing has all the most recent updates I have. To be honest I don't remember what exactly didn't work there. I think I stopped when I couldn't figure out why tests aren't triggered to run. I tried to repeat all the steps Xcode does when launching UI tests and turned off "wait for debugger" f

[2015-08-21 17:51] ExtremeMan commented on #548
Replied in https://github.com/facebook/xctool/issues/534.

[2015-08-21 18:31] marasumanth commented on #543
Iam trying it today and update accordingly over weekend.
But I see the schema have build configuration.

[2015-08-21 20:02] ExtremeMan commented on #543
Could you share your scheme with me?

[2015-08-21 20:09] marasumanth commented on #543
When I run ShowBuildSettings.

User defaults from command line:
    destinationOS = 8.3

Build settings from command line:
    RUN_CLANG_STATIC_ANALYZER = NO
    SDKROOT = iphonesimulator8.3

Build settings for action build and target SampleEnd2End:
    ACTION = build
    AD_HOC_CODE_SIGNING_ALLOWED = NO
    ALTERNATE_GROUP = nonconf
    ALTERNATE_MODE = u+w,go-w,a+rX
    ALTERNATE_OWNER = sumanth

[2015-08-21 20:49] ExtremeMan commented on #543
And could you dump contents of the scheme? The one that is "scheme_name.xcscheme"

[2015-08-25 14:36] PatrykKaczmarek commented on #551
I experienced the same issue as @oliverhu

[2015-08-25 16:09] jmkk commented on #551
+1

assetsd crash seems to be a red herring though. It feels like xctool is launching the simulator, installing the app, launching it - and then it while it's launching - it "thinks" that simulator crashed and terminates. So it happens that this assetsd process crashes inside of the simulator, but the simulator itself is still fine. It looks like an xctool bug where it's misdetecting the simulator

[2015-08-25 18:20] ExtremeMan commented on #551
xctool is using CoreSimulator and DTiPhoneSimulator frameworks. They are basically returning errors, xctool won't look into crash logs unless those frameworks return an error.

It will be hard to debug because I can't reproduce it. If any of you can share a sample project where you see such errors I would appreciate.

[2015-08-26 16:28] jklausa commented on #528
hey, @ExtremeMan, I'm hitting the same issue as @corristo. Any pointers?

[2015-08-26 17:21] maksim2042 opened #560 "xctool hangs -- no output, no errors -- just silent hang."
gella-2:ios master$ xctool -scheme Diabetes
[Info] Loading settings for scheme 'Diabetes' ...^C

<<< nothing happens after this >>>

[2015-08-26 17:34] jklausa commented on #528
so, I investigated for a while and I'm pretty sure this is caused by `XCTest` for some reason not being linked.

I've run `class-dump` on Xcode 7 b5, and the `XCTestConfiguration` is (obviously!) still there.

What brought me to my conclusion is that changing `OTHER_LDFLAGS_7000` from `$(OTHER_LDFLAGS_0600) -weak_framework XCTest`, to not use weak linking, causes xctool to die on startup, with fol

[2015-08-26 17:46] ExtremeMan commented on #528
This is expected. We can't hardlink because Xcode location could be changed after xctool is built. That is why are updating fallback framework paths on xctool start up: https://github.com/facebook/xctool/blob/master/xctool/xctool/main.m#L66.

Do you mind debugging if the path with XCTest framework was correctly listed there?

[2015-08-26 17:49] ExtremeMan commented on #560
Can you share a sample project that I can use to reproduce the issue? Are you using latest xctool release?

[2015-08-26 18:07] maksim2042 commented on #560
Андрей, привет!

Проект лежит здесь: https://www.dropbox.com/s/0m54huid5wtcajv/ios.zip?dl=0

I just installed everything fresh from gems; can't get a lot of things to work -- would appreciate if you could walk me through the process!

My skype is maksim2042 

Заранее спасибо! #beer #vodka

Max

--------

Dr. Maksim Tsvetovat

CTO, Open Health Network

Twitter: @maksim2042

On Wed, Aug 26, 2015 at

[2015-08-26 18:25] rlucero-okta commented on #528
We are also having similar problems with xctool 0.2.5. When you only have XCode 7 Beta 6 and specify the DEVELOPER_DIR to `/Applications/Xcode-beta.app/Contents/Developer/, this command causes a similar exception.

`*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'XCTestConfiguration isn't available'`

In addition, we also tried setting `DYLD_FALLBACK_FRAM

[2015-08-26 18:30] ExtremeMan commented on #528
Could any of you try rebuilding xctool with Xcode 7 and then running it? I am wondering if it could be a problem.

[2015-08-26 19:14] marcpowell-okta commented on #528
Seeing same issue as @rlucero-okta above with same error.

I rebuilt xctool with Xcode 7 beta 6 on OS X 10.10.5 with source from git clone frm latest commit 55571082060bb24486b8606981044a9420972c5e
After building using xctool.sh and cp'ing the lib/libexec/reporters/bin directories, I have run into a different crash

[code]

Here is the stack trace from the crash report:
[code]

[2015-08-26 19:26] ExtremeMan commented on #528
So the crash is in `DVTiPhoneSimulatorRemoteClient` framework. I think I hit it once as well. It could be an Xcode bug, could be a bug in xctool.

[2015-08-26 19:55] marcpowell-okta commented on #528
re: xcode7 xctool not able to find XCTest:
compiling with xcode7beta6 shows this shared library output:
[code]
Compare this against v0.2.5 binary distribution presumably built with xcode6:
[code]

This line is in xcode7beta6 built xctool, not in xcode6:
[code]

so presumably you could just add that rpath-derived shared library to xctool to work around the missing XCTestConfiguration symbol.

[2015-08-26 20:33] jklausa commented on #528
I can also confirm that recompiling xctool with Xcode 7 b6 does fix the `XCTestConfiguration` and I've also run into the `Requested but did not find extension point with identifier Xcode.DVTFoundation.DevicePlatformMapping` issue.

[2015-08-26 20:35] ExtremeMan commented on #528
Thanks for confirming.

FYI: `Requested but did not find extension point with identifier Xcode.DVTFoundation.DevicePlatformMapping` is an Xcode bug, not xctool. And it doesn't affect test runs. If you run xcodebuild you will see the same "assert" fired.

[2015-08-26 20:39] jklausa commented on #528
Interestingly, it doesn't in my case!

My full xctool invocation is
[code]
which does crash in xctool. Replacing it with:
[code]

[2015-08-26 21:03] marcpowell-okta commented on #528
same as @jklausa  - xcodebuild for xc7b6 does NOT crash with that assert, with same arguments as xctool.
[code]

[2015-08-26 21:15] ExtremeMan commented on #528
Well, Xcode 7 support is in beta. We don't have resources to support all betas, unfortunately, and it definitely worked with previous betas. I will be waiting for next releases since Apple is always changing something. Feel free to hack xctool meanwhile. I will be happy to review PR.

[2015-08-26 21:29] marcpowell-okta commented on #528
Okay good to know- currently the workaround for xcode7b6 is to just use xcodebuild instead of xctool. Glad to know this works in previous betas! Thanks for investigating- I will file a radar for Apple.

[2015-08-27 06:55] arayinfree opened #561 "xctool archive can't get default XX.xcarchive path"
I use xctool archive a XX.xcarchive without specify archivePath . becase I use organize to manage XX.xcarchive   But doing this I can't get the default archivePath in  shell .

I already know the default path in the ~/Library/Developer/Xcode/Archives/

[2015-08-27 09:17] dbenninger commented on #543
I also had the ''Should only have 1 test action but had' error and was able to resolve it by adding the test target to the scheme's "Tests" list in the "Test" section...

[2015-08-27 16:39] ExtremeMan commented on #561
We are tracking issue with `-arhivePath` here: https://github.com/facebook/xctool/issues/469.

[2015-08-27 16:39] #561 closed

[2015-08-27 22:50] ExtremeMan commented on #528
I've looked into it. Here are the details of what I've found.
- `-[SimDevice dvt_notifyOfBootOnQueue:queue handler:handler]` calls `DVTAsyncPerformBlock(queue, handler)` if device state is "booted". Since xctool pre-opens Simulator app the device state is always "booted" here.
- `-[DTiPhoneSimulatorSession _startSessionInSimulatorWithError:]_block_invoke` calls `[device dvt_notifyOfBootOnQueue:0x0

[2015-08-28 05:44] tinyfrog commented on #559
cannot reproduce this again with latest HEAD. closing now.

Thanks!

[2015-08-28 05:44] #559 closed

[2015-08-28 05:45] ExtremeMan commented on #559
Thanks for reporting back!

[2015-08-29 00:58] LegNeato commented on #528
Have we filed a radar?

[2015-08-29 04:58] lbencs commented on #387
I am experiencing the same issue here
2015-08-29 12:39:05.334 pretty[39124:449035] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[__NSCFString appendString:]: nil argument'
*** First throw call stack:
(
	0   CoreFoundation                      0x00007fff9914ba22 __exceptionPreprocess + 178
	1   libobjc.A.dylib                     0x00007fff97a67f7e objc_exce

[2015-08-29 05:01] ExtremeMan commented on #387
@lbencs, hm, that should be fixed. Are you running latest release?

[2015-08-31 07:34] PatrykKaczmarek commented on #551
In my case issue was caused by `CircleCI` problems with vm. Following command executed on machine setup solved my issue:
[code]

[2015-09-02 18:49] ExtremeMan commented on #528
Radar filed: 22542632.

[2015-09-02 23:18] ExtremeMan commented on #528
Xcode 6 -> 7 transition fixed in https://github.com/facebook/xctool/commit/70b5e538e9236400bf03f408337a536c9c19fd82. Now binary built with Xcode 6 is usable under Xcode 7.

[2015-09-03 20:40] williamsjj commented on #528
Would this fix this error I'm getting with xctool 0.2.5 w/ Xcode 7b6 when running tests (which compile fine):

[code]

[2015-09-03 20:44] jklausa commented on #528
No.

[2015-09-03 21:29] ExtremeMan commented on #528
This will: https://github.com/facebook/xctool/tree/nekto/switch_to_cs. But it is not stable yet. I will push soon to master once I am ready.

[2015-09-04 20:40] ExtremeMan commented on #528
I have good news! xctool is now using CoreSimulator framework directly to run app tests rather then buggy DTiPhoneSimulatorRemoteClient framework!

Xcode 7 support is back on master.

Fixed (improved) in: https://github.com/facebook/xctool/commit/9ba89864a69cf9b8d5040fd9dc6c1722ecb4172a.

[2015-09-06 02:14] zxy198717 opened #563 "How to add GCC_PREPROCESSOR_DEFINITIONS"
Can xctool support GCC_PREPROCESSOR_DEFINITIONS?
Like this:
xctool -workspace testOClintWorkspace -scheme testOClintNew build GCC_PREPROCESSOR_DEFINITIONS="FOO=bar"

[2015-09-07 13:08] zxy198717 commented on #563
I have try, just use the commend: xctool -workspace testOClintWorkspace -scheme testOClintNew build GCC_PREPROCESSOR_DEFINITIONS="FOO=bar", It's works.

[2015-09-07 13:08] #563 closed

[2015-09-08 01:23] ExtremeMan commented on #560
I've tried your project - it works for me. Could you provide, please, more details?

[2015-09-08 01:35] ExtremeMan commented on #543
Thanks, @dbenninger. Yes, so basically that crash means that there are now test actions. If you open scheme manager in Xcode it should automatically fix the scheme and add empty test action for you. If no, try recreating the scheme. I don't think we should support such use cases in xctool.
Please, reopen if you have additional questions.

[2015-09-08 01:35] #543 closed

[2015-09-08 17:15] tylerhargett commented on #528
Will this fix work with the new UI test on XCTest framework?

[2015-09-08 17:19] ExtremeMan commented on #528
@tylerhargett, I don't think so. But it will definitely help to add such support.

[2015-09-09 11:06] fatuhoku opened #565 "Recommended way to run tests by watching files for changes?"

[2015-09-09 17:16] ExtremeMan commented on #565
Sorry, didn't get your question.

[2015-09-09 19:25] fatuhoku commented on #565
I would like to have my unit tests run with `xctool` automatically every time I change a source file. What's the recommended way to do this?

[2015-09-10 01:49] FredericJacobs commented on #528
Same issue with the GM. Any easy way to deploy the fixed build to Travis? I tried `--HEAD` but that doesn't seem to work.

[2015-09-10 13:13] tamastimar commented on #528
Updating with `--HEAD` on Travis it's hanging for me here (until build times out):
[code]

[2015-09-10 23:35] ExtremeMan commented on #565
Hm. Not sure how to help here. Since it is not xctool issue closing.

[2015-09-10 23:35] #565 closed

[2015-09-10 23:35] ExtremeMan commented on #528
@tamastimar could you try latest xctool? I just pushed something which probably/hopefully fixes it.

[2015-09-11 07:39] tamastimar commented on #528
Which commit do you mean, did you push that? If it's 70b5e53 than the tests are hanging with the current HEAD too.

[2015-09-11 07:42] ExtremeMan commented on #528
I meant https://github.com/facebook/xctool/commit/b094db6fd255569a6ad560e4a4c0314077f02802. If still handing could you paste simulator logs?

[2015-09-11 08:35] PatrykKaczmarek opened #566 "Unexpection location in workspace 'absolute:MyApp.xcodeproj'"
Hey, I have some problem using `xctool`. When I use:
[code]

and exception is generated:
[code]

Am I something doing wrong?

[2015-09-11 11:27] newthomas commented on #528
Facing the exact same problem since Xcode 7 Beta 6.

When I use `xcodebuild test -workspace "xxx.xcworkspace" -scheme "xxx" -sdk iphonesimulator`, everything is fine.

Same with xctool `xctool test -workspace "xxx.xcworkspace" -scheme "xxx" -sdk iphonesimulator` and I get:

[code]

[2015-09-11 11:50] tamastimar commented on #528
@ExtremeMan the project currently is only on Travis CI and I can't get log after hanging because of an issue of them. When I'll have some free time I'll setup it locally. So I can provide logs if it won't be solved until then.

[2015-09-11 13:31] AliSoftware commented on #528
Just to let you know that I had the "Unable to read build settings" error with xctool 0.2.5 and 7GM, but it now works with master. So your fix on master works for me so far :+1:

[2015-09-14 15:48] kernandreas opened #569 "Can't run xctool with specific simulator device"
I want to run tests with `-destination id=xxx-xxx-xx-xxx` to select a specific simulator device. But xctool fails to load the correct simulator. Am I doing something wrong or is this not supported?

[2015-09-14 18:20] connork26 commented on #528
Still getting the following error. @newthomas Are you no longer seeing the error after updating to master? Im on latest commit 030a3c64fa.

<code>
[Info] Collecting info for testables... (1393 ms)
  run-test NetworkServicesTests.xctest (iphonesimulator9.1, iPhone 5, application-test)
    [Info] Verified iOS Simulators... (0 ms)
    [Info] Shut down iOS Simulator... (1115 ms)
    [Info] Stopped any

[2015-09-14 18:28] connork26 commented on #528
@ExtremeMan Is this something that should work with xctool or are we still waiting on an apple fix?

Also, I'm on Xcode Version 7.1 beta (7B60)

[2015-09-14 18:59] ExtremeMan commented on #569
I think xctool doesn't support it right now. Can you use `name=` instead?

[2015-09-14 22:06] tyhcmu opened #571 "Support for UI Testing?"
Hi,

I was trying to use xctool for UI Testing introduced in Xcode 7. Was wondering if it is already or will be supported.

When I ran
`xctool.sh -project <my_proj>.xcodeproj -scheme <my_scheme> -sdk iphonesimulator -configuration Debug -destination 'name=iPhone 6' test`

it would produce the error:
`Failed to query the list of test cases in the test bundle: Test bundle not found at: /Users/<my_na

[2015-09-14 22:11] ExtremeMan commented on #571
Tracked here: https://github.com/facebook/xctool/issues/534.

[2015-09-14 22:11] #571 closed

[2015-09-15 04:17] ExtremeMan commented on #528
@connork26 latest xctool master should support Xcode 7 GM. I need to make a new release so it is available via homebrew.

[2015-09-15 04:19] ExtremeMan commented on #528
I am not looking into Xcode 7.1 beta currently. I will wait for GM before doing that.

[2015-09-15 08:25] kernandreas commented on #569
It works if I provide `name`, `platform` and `OS`. But since you can create multiple simulators with this triple it is not enough to identify a specific simulator.

[2015-09-15 11:53] squarefrog opened #572 "Latest xctool hanging with Xcode 7 and Specta"
I'm having an issue updating my project for Xcode 7. [Here is the branch](https://github.com/arcam/CocoaUPnP/tree/xcode7) which should reflect the issue.

Running the tests within Xcode gets me all greens. However, when I use `xctool` I get an exception ([full simulator log](https://gist.github.com/squarefrog/ebf8bb9dd509ec593ee3#file-system-log-L478-L508)):

    Sep 15 12:24:38 iosdev Example[431

[2015-09-15 13:13] x2on opened #573 "Xcode 7 - Tests failing with xctool, not with Xcode"
Hi,

since i upgraded to Xcode 7 (and latest xctool master) our tests are failing a lot with xctool, but they are running fine in Xcode IDE.

Could it be that the test are running a little bit parallel or something simular?
Anyone else experience such problems?

[2015-09-15 17:40] ExtremeMan commented on #573
We didn't see a significant difference after switching to Xcode 7, basically mostly snapshot test failures and some problems with gmock/gtest framework. What underlying testing framework are you using for tests? Are test failures sporadic or do you have a particular test example which always fails in xctool but succeeds in Xcode?

[2015-09-15 17:43] ExtremeMan commented on #572
Looking into latest build for that branch I see error `'XCTestConfiguration isn't available'` which is described in the https://github.com/facebook/xctool/issues/528. Solution - ask Travis CI to use xctool master for now until I publish a new release to homebrew.

Wer Specta & Expecta testing frameworks ever supported by xctool?

[2015-09-15 18:01] x2on commented on #573
Quite complicated... We are using Ocmock.
The tests fails or pass randomly on different machines, but always the same tests. If I remove them some other tests are failing. Didn't get the insight at the moment ...

[2015-09-15 18:01] x2on commented on #573
But Xcode is always green :(

[2015-09-15 18:14] squarefrog commented on #572
I will try Travis again tomorrow, however the logs I posted are from my local machine, using the script from the HEAD commit.

Specta and Expecta did indeed work, look at [this build](https://travis-ci.org/arcam/CocoaUPnP/builds/80390209) for example.

[2015-09-15 18:44] squarefrog commented on #572
Ok I updated, and you can see the hanging status in [this build](https://travis-ci.org/arcam/CocoaUPnP/builds/80490518)

[2015-09-15 18:45] ExtremeMan commented on #573
We are using OCMock as well. Don't remember being reported about any flakiness. But totally believe in your words. Are there tests logic? When did you start seeing the flakiness? After switching to Xcode 7 (w/o updating xctool) or earlier?

[2015-09-15 18:49] ExtremeMan commented on #572
I see. Can you reproduce the hanging status locally? If yes, can you sample test host app and see what's going on? (I saw stuck test host app recently but I though it was fixed with all the latest commits).

[2015-09-15 18:51] squarefrog commented on #572
I can try tomorrow - the console log shows an exception (posted above) so this may be the cause. Will update.

[2015-09-15 22:34] jmorford opened #574 "Add support for new xcodebuild parameter "-enableCodeCoverage YES""
See http://viteinfinite.com/2015/07/leveraging-swift-code-coverage-with-xcode-7/
This would enable support for code coverage with Xcode 7

[2015-09-16 05:10] yiding commented on #436
The real analyzer output are the plist files that the analyzer generated. Think of these as analogous to object files during a normal compilation. This is how xcode treats the analyzer build mode.

The most idiomatic way of using the analyzer step is to run it, and then act on the analyzer output plist files. Treat the analyzer run exit code as merely "the analyzer ran successfully and generated w

[2015-09-16 09:46] x2on commented on #573
Logic and `FBSnapshotTestCase`
`xctool` didn't work with Xcode 7 before upgrading to latest master...

[2015-09-16 10:03] squarefrog commented on #572
I couldn't figure out how to sample the test host, so I ran the command with `xcodebuild` instead. This ran without issue. I don't know anything about the internals of `xctool` so can't say if that is helpful or not!

[2015-09-16 10:13] x2on opened #575 "Xcode 7 - iOS 9 Simulator start failure"
Hi,

i run into the following problem with the iOS 9 Simulator from Xcode 7:

I run the test on an iPhone 5 (iOS 9) simulator (fine).
After that i run the tests on an iPad 2 (iOS 9) simulator.
The iPhone 5 simulator gets killed, the iPad 2 simulator starts, but the new Apple boot logo is still visible when xctool tries to start the test bundle.
I see the app starting but immediately closing and th

[2015-09-16 11:28] tamastimar commented on #528
Is it the same issue?
https://forums.developer.apple.com/message/51922

[2015-09-16 13:49] szweier commented on #528
@ExtremeMan when do you think the new release will be available?

[2015-09-16 15:20] peacemoon commented on #534
yes, xcodebuild supports running UI Test. You need to create a scheme for that: https://krausefx.com/blog/run-xcode-7-ui-tests-from-the-command-line

[2015-09-16 16:51] ExtremeMan commented on #528
NOTE: We've found a problem in Travis CI - if you just tell it to install xctool --head it doesn't actually installs it =( You need to remove xctool and then request installation - it is a workaround for you currently.

@szweier, it is my todo list for today. Cross fingers I actually do that.

[2015-09-16 16:55] ExtremeMan commented on #528
See Travis CI fix for example: https://github.com/lazytype/FingerTree/commit/6cdd45a6d8f244c1ebd2cdc63a1fa47937ad55bc. Thanks @lazytype for a finding =)

[2015-09-16 17:07] ExtremeMan commented on #575
Looks weird. But the UI you are describing is expected (boot logo is still visible when xctool tries to start the test bundle). Yes, we are resetting simulator if something wrong happens (test environment preparation fails). Is it xctool master? Pretty sure it is just confirming.

Can you grab (simulator) device logs and machine logs? May be something interesting there?

[2015-09-16 17:08] ExtremeMan commented on #572
We've found a bung in Travis CI when it doesn't update xctool if you even specify to install --head. You can try applying similar path to this https://github.com/lazytype/FingerTree/commit/6cdd45a6d8f244c1ebd2cdc63a1fa47937ad55bc and see if it helps.

[2015-09-16 17:09] ExtremeMan commented on #573
Yes, it doesn't. I was waiting for RC before doing final release. So did master fix the problem?

[2015-09-16 17:10] x2on commented on #575
Yes its master :)
Is there a possibility to deactivate the reset? It's hard to change the language and region every time such a error happens...

I will have a look for the logs.

[2015-09-16 17:10] x2on commented on #573
No, not for this issue...

[2015-09-16 17:12] ExtremeMan commented on #575
@x2on, I don't think there is a such possibility. I remember we talked with you about forcing language settings. Did you figure out how to specify them using xctool? In general I think you will agree that tests shouldn't rely on any particular state of the device and should prepare device state themselves.

[2015-09-16 17:12] ExtremeMan commented on #573
I guess you have a link for me? Since it is open sourced.

[2015-09-16 17:14] x2on commented on #575
No it's not possible at the moment using xctool or some apple command line tools.
That's the problem why we have to set it by hand (German is our main market and you can't prepare it otherwise).

Any idea which logs could be relevant and were i can find them? Too many logs :)

[2015-09-16 17:18] x2on commented on #573
Yeah i get it working now - i have no idea why but now it works...

[2015-09-16 17:18] #573 closed

[2015-09-16 17:23] x2on commented on #573
Ok i think the reason was, that xctool runs the tests in a different order (or faster, not sure which one).
One test had a mock that was not stopped by accident.
In Xcode this was fine, but not running with xctool.

My fault!

[2015-09-16 17:25] szweier commented on #528
I put in the line to remove and install xctool --HEAD but now it just stalls at the run tests step.

[2015-09-16 17:26] ExtremeMan commented on #573
Yes, xctool runs in a particular order - alphabetical :)

[2015-09-16 17:42] squarefrog commented on #572
I tried that in a [previous commit](https://github.com/arcam/CocoaUPnP/commit/21045f1f2feff7bfafed71607dde05b90f001756) to no avail.

[2015-09-16 18:49] adamsp commented on #528
@szweier I have tests running successfully on CircleCI using the following circle.yml:

[code]

[2015-09-17 09:41] x2on commented on #575
So here are more infos:

Run command:
[code]

Log from `xctool` from the second task:
[code]

`mobile_installation.log.0`:
[code]

[2015-09-17 13:30] PatrickNLT commented on #572
I'm having the same issue locally, with latest xctool (0.2.6, installed with the --head option), Xcode 7 final, and Specta. Simulator starts and hangs.

[2015-09-17 13:33] kernandreas commented on #569
I had some time to investigate the problem. The previously described crash happens with Xcode 7 which is not supported by xctool 0.2.5. With Xcode 6.4 the `-destination` argument doesn`t work as expected. Trying to select a specific simulator with `name=` still fails with:
[code]

It seems that the semantic for the `-destination` argument in xctool is not the same as in xcodebuild.

[2015-09-17 14:00] x2on commented on #575
So it works if i do that, so i think actually it tries to install the app to early.

[code]

[2015-09-17 15:47] ExtremeMan commented on #572
@PatrickNLT, is xctool uninstalled before being installed using homebrew on CI?

[2015-09-17 16:16] PatrickNLT commented on #572
Yes. I have two projects using Specta, and I have the same issue on both.

BTW, I'm testing locally, not on CI.

[2015-09-17 17:59] ExtremeMan commented on #572
Could sample xctool and test host app, please?

[2015-09-17 18:06] ExtremeMan commented on #575
Hm. Nice finding. In the logs I see `Install Successful` only. Did you see `install failed` anywhere with a reason? (Also you can NSLog error in xctool, the one that will be returned from CoreSimulator).

[2015-09-17 18:08] x2on commented on #575
Did not find any error message - will try with `NSLog` in `xctool` tomorrow.

[2015-09-17 19:29] samjohn opened #578 "XCTool failing on tests that reference constants"
in one of my header files I have defined:
`extern const NSUInteger HSOperatorMaxNestedDepth;`

I then reference this constant in a test, and when I run XCTool the file fails to compile.

This does work in xcodebuild.

[2015-09-17 19:34] ExtremeMan commented on #578
we are basically using xcodebuild to build. Can you run your xctool command with `-showTasks` and verify if xcodebuild is invoked correctly?

[2015-09-17 20:09] samjohn commented on #578
Sorry I am having some trouble reproducing. I'm using xcode 7 and am blocked by a few other errors. I'll close this and check back in after a few weeks once the dust settles some more.

[2015-09-17 20:09] #578 closed

[2015-09-17 21:23] ExtremeMan commented on #569
So CoreSimulator says that there are no devices with name "Unit Test iOS 7". xctool can't do anything about that.

[2015-09-17 21:23] ExtremeMan commented on #569
You can run `xcrun simctl list` to verify available simulators.

[2015-09-17 22:03] IndieKevin opened #579 "Facebook SDK upgrade to 4.6 causes tests on xctool to hang while performing network operations (tests work fine on XCode)"
I'm facing an issue with xctool after upgrading the Facebook SDK to v4.6 which, for some bizarre reason, causes xctool to hang. Reverting to a commit before the upgrade of the FBSDK results in consistent behavior (FBSDK upgrade was the only change made in that commit).

The error that causes the hang is reproduced below:

```2015-09-17 14:36:54.510 xctest[41073:302260] NSURLConnection/CFURLConnect

[2015-09-17 22:11] ExtremeMan commented on #579
@IndieKevin, could you convert your tests to application test (specify test host app for the test bundle in the Xcode target settings) and verify if it helps?

[2015-09-17 22:39] IndieKevin commented on #579
Thanks for the quick reply @ExtremeMan, I encounter other unrelated errors when attempting to convert the tests to an application test (has to do with the way our tests are set up) and aren't able to do so in a convenient manner. Could I get some insight into your suggestion or what you think the problem may be?

[2015-09-17 22:44] ExtremeMan commented on #579
Logic and app tests have different contexts in which they are run. I remember I was working on some bug reports where it helped that is why I've suggested that. Though, as you correctly pointed out to another issue those tests were logic because I am mentioning `simctl` which is used to run logic tests and not the app tests.

[2015-09-17 23:34] King-Wizard commented on #528
The @ExtremeMan answer below worked for me:

http://stackoverflow.com/questions/27671854/travis-ci-fails-to-build-with-a-code-signing-error/32639318#32639318

[2015-09-17 23:44] ikesyo commented on #528
It seems that `run-tests` does not work: https://travis-ci.org/ikesyo/ReactiveCocoa/builds/80830588

[2015-09-18 04:13] ExtremeMan commented on #528
Made a new release: https://github.com/Homebrew/homebrew/pull/44090.

[2015-09-18 04:15] ExtremeMan commented on #441
Closing since author didn't appear here anymore. Please open new one issue if you still see a problem and provide requested details to help us debug a problem.

[2015-09-18 04:15] #441 closed

[2015-09-18 04:15] ExtremeMan commented on #457
Closing since author didn't appear here anymore. Please open new one issue if you still see a problem and provide requested details to help us debug a problem.

[2015-09-18 04:15] #457 closed

[2015-09-18 04:15] ExtremeMan commented on #458
Closing since author didn't appear here anymore. Please open new one issue if you still see a problem and provide requested details to help us debug a problem.

[2015-09-18 04:15] #458 closed

[2015-09-18 04:16] ExtremeMan commented on #536
Closing since author didn't appear here anymore. Please open new one issue if you still see a problem and provide requested details to help us debug a problem.

[2015-09-18 04:16] #536 closed

[2015-09-18 04:16] ExtremeMan commented on #550
Closing since author didn't appear here anymore. Please open new one issue if you still see a problem and provide requested details to help us debug a problem.

[2015-09-18 04:16] #550 closed

[2015-09-18 04:16] ExtremeMan commented on #557
Closing since author didn't appear here anymore. Please open new one issue if you still see a problem and provide requested details to help us debug a problem.

[2015-09-18 04:16] #557 closed

[2015-09-18 04:17] ExtremeMan commented on #575
I guess your PR should resolve this issue or do you want us to investigate why installation fails?

[2015-09-18 04:18] ExtremeMan commented on #574
Shouldn't be hard. Do you want to jump on it?

[2015-09-18 04:19] ExtremeMan commented on #384
Closing since author didn't appear here anymore. Please open new one issue if you still see a problem and provide requested details to help us debug a problem.

[2015-09-18 04:19] #384 closed

[2015-09-18 07:00] x2on commented on #575
No the PR did only solve the issue of resetting the simulator, not this issue about failing install.

The sleep and kill all commands works, but these are workarounds - I would be great if we could find the real issue and fix that.

[2015-09-18 07:40] Goles opened #580 "Using Specta and xctool with Xcode 7 GM results in uncaught exception"
Hello,

Using `Specta` (built with Carthage) and `xctool` seem to generate a crash and it appears to be 100% reproducible.

I'm using this [Sample Project](https://dl.dropboxusercontent.com/u/1149996/XctoolSample.zip), and running `xctool` with `xctool -scheme XctoolSample test`.

`Xcode Version 7.0 GM (7A218)`

#### Log

[code]

[2015-09-18 07:41] Goles commented on #548
@ExtremeMan I seem to be getting the same when trying to run Specta tests with xctool and Xcode 7 GM #580

[2015-09-18 07:53] ExtremeMan commented on #580
Well, it tells you the error.

[2015-09-18 07:55] Goles commented on #580
I then tried to specify `-sdk iphonesimulator` via `xctool -scheme XctoolSample -sdk iphonesimulator test`

Which gave me another uncaught exception...

(note, using `xcodebuild -scheme XctoolSample -destination 'platform=iOS Simulator,name=iPhone 6,OS=9.0' test` seems to work just fine)

#### Log

[code]

[2015-09-18 08:14] ExtremeMan commented on #580
Last one is fixed on master.

[2015-09-18 13:44] mulle-nat opened #581 "Problems dealing with targets that produce no binary, just headers"
A library target, that contains just headers and produces no .o, .a or .dylib file, induces an error with xctool. The reason being (I think) is, because of a symlink made ahead of time, that will later on never exist.

`xctool install -scheme mulle_thread "DEPLOYMENT_LOCATION=YES" "DSTROOT=/" SYMROOT="build"`

      ✓ Check dependencies (2 ms)
      ✓ Make symlink libmulle_mintomic.a (3 ms)

[2015-09-18 16:59] ExtremeMan commented on #581
For building xctool doesn't do any magic. It just calls to xcodebuild. You can see the actual command by running xctool with `-showTasks`. Not much we can do here.

[2015-09-18 17:31] Goles commented on #580
Closing, thanks!

[2015-09-18 17:31] #580 closed

[2015-09-18 17:47] PatrykKaczmarek commented on #566
Seems I found reason of it. Project I received had wrong configured cocoapods. After `pod install` second `MyApp.xcodeproj` has been created. I deleted the old xcodeproj and starts to work again. Thanks.

[2015-09-18 17:47] #566 closed

[2015-09-18 18:16] ExtremeMan commented on #566
Thanks for letting us know. Glad the issue is resolved.

[2015-09-18 18:34] Goles commented on #580
@ExtremeMan Is that xctool 0.2.6? (just checking if I should re-test with that version since it was updated in homebrew 4 hours ago)

[2015-09-18 18:38] ExtremeMan commented on #580
Yeah, I've rolled out 0.2.6 at night. It is the same as master.

[2015-09-18 18:42] Goles commented on #580
Thanks, will give it another spin just to confirm

[2015-09-18 18:46] PatrykKaczmarek commented on #528
Seems `-freshInstall -freshSimulator` doesn't resolve the issue:
[code]

Xcode 7.0 (7A220)

[2015-09-18 18:51] ExtremeMan commented on #528
I will need a sample otherwise I don't know where to look at =/

[2015-09-18 19:13] denniskpw opened #582 "NSInternalInconsistencyException: 'Got output with no test running'"
I've recently upgraded to Xcode 7 and the following error occurs frequently in the middle of test runs:
[code]

[2015-09-18 21:13] Goles commented on #580
@ExtremeMan Hey, I didn't want to open a ticket right away... but I tried the sample project with `0.2.6` and it's getting 'stuck' when using xctest... I'm running this [Test Project](https://dl.dropboxusercontent.com/u/1149996/XctoolSample2.zip).

Let me know if I should open a new ticket for this :+1:

[code]

[2015-09-19 07:36] ExtremeMan commented on #572
Thanks for good repro. I was able to reproduce it locally, @squarefrog.
The problem is that xctool crashes with following error:

    *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '*** Assertion failure in void ParseClassAndMethodFromTestName(NSString **, NSString **, NSString *), /Users/nekto/Projects/xctool/Common/ParseTestName.m:38: Test name seems to

[2015-09-19 10:18] mulle-nat commented on #581
OK, once you know, it does' t work with xcodebuild anymore either. (I didn't use xcodebuild install in comparison)

[2015-09-19 10:18] #581 closed

[2015-09-19 12:19] mateuszszklarek commented on #575
I'm also have the same problem, is there any solution for that?

[2015-09-19 12:20] x2on commented on #575
Did you try the sleep and kill commands?

[2015-09-19 12:21] mateuszszklarek commented on #575
@x2on I'm not sure that I understand can You explain more?

[2015-09-19 12:23] x2on commented on #575
Run the command `killall Simulator && sleep 5` before the `xctool` command to shutdown the simulator and waiting 5 seconds

[2015-09-19 12:29] mateuszszklarek commented on #575
@x2on I have also problem with that:
```Assertion failure in -[OCUnitIOSAppTestRunner testEnvironmentWithSpecifiedTestConfiguration], /tmp/xctool20150824-26666-g0ve6w/xctool-0.2.5/xctool/xctool/OCUnitTestRunner.m:333```
I try run local on my Mac and Travis. I add that my test passed in Xcode.

[2015-09-19 12:30] x2on commented on #575
Did you update xctool to 0.2.6?

[2015-09-19 12:32] mateuszszklarek commented on #575
Yes, I have the latest version of xctool 0.2.6.

```Test did not run: the test bundle stopped running or crashed before the test suite started.```

Test errored, not failed.

[2015-09-19 21:29] kernandreas commented on #569
The desired simulator is available. xctool searches for device types if `name`is given. Not for names of existing simulators. I have created a pull request that selects a simulator by id.

[2015-09-20 02:21] ExtremeMan commented on #572
I've sent a PR to make Specta compatible with xctool: https://github.com/specta/specta/pull/184.
Hanging is resolved on master in https://github.com/facebook/xctool/commit/0f3ab7bbdaae8e8d666749cbe1bedf3af6fdd34b.

[2015-09-20 05:01] ExtremeMan commented on #551
Do you still see the issue?

[2015-09-21 10:20] squarefrog commented on #572
Works great. Thanks for the hard work @ExtremeMan !

I'll close this issue, as you've fixed the xctool part, and we'll wait for the Specta part to merge in.

:tada:

[2015-09-21 10:20] #572 closed

[2015-09-21 10:33] rciobanu-omnifone commented on #415
In my case the reason was the tests that were written in Kiwi and I had some objects initialized directly in the ``describe()`` section.
Apparently the ``describe()`` sections are queried when XCtool tries to gather info about the tests to run, so those heavyweight objects ended up accessing infrastructure not available at this step.
For some reason this doesn't happen when calling xcodebuild dire

[2015-09-21 13:10] PatrickNLT commented on #572
Sorry I didn't replied before, but I just wanted to say thank you! It's fixed on my projects now.

[2015-09-21 17:56] ExtremeMan commented on #415
@rciobanu-omnifone, oh, hm. Right, xctool first query test cases names and then runs them. Xcodebuild just run them w/o pre-querying.

[2015-09-21 17:56] ExtremeMan commented on #572
I am glad it works for you now!

[2015-09-21 18:13] ExtremeMan commented on #528
Closing this issue. Please create separate issues if you have any problems with xctool and Xcode 7. I've pushed several commits on master that should help with xctool being stuck on running app tests. Please, try master before opening new issues.

[2015-09-21 18:13] #528 closed

[2015-09-21 18:15] #546 closed

[2015-09-21 18:38] gwilliamspdx commented on #582
I also had this

[2015-09-21 18:49] #560 closed

[2015-09-21 18:57] ExtremeMan commented on #569
@kernandreas, hm, that is interesting finding. Should be easy to fix. Feel free to send a PR!

[2015-09-21 21:02] modocache commented on #572
Should this really be fixed at a test framework level? It seems like the problem is that xctool asks for test method names before `+[XCTestCase testInvocations]` would normally be called by the XCTest framework. I suppose this works for most instances of `XCTestCase`, but test case subclasses that override that method would probably not work--even if they're not instances of `Specta.SPTSpec`.

[2015-09-21 21:08] milkllc opened #584 "xctool throws exception with Xcode 7 and disabled test target"
We're using xctool to run our tests via CircleCI. We enabled Xcode 7 support and added commands to run the latest revision of xctool (master branch as of Sep 21, 2015). Our tests ran fine with xctool and Xcode 6, but with Xcode 7 and the latest xctool we get the following exception:

    2015-09-21 08:34:42.021 xctool[4093:10220] *** Assertion failure in -[TestRunState testOutput:], /tmp/xctool201

[2015-09-21 21:12] ExtremeMan commented on #572
@modocache, I think creating of classes and methods dynamically in general is a bad idea for testing framework. I don't think that xctool should support all testing frameworks that are doing such crazy stuff. Also if you run tests in Xcode you will see the same problem there - `(null)` test case name which doesn't make any sense. So, yes, fixing on a test framework level is the best we can do here

[2015-09-21 21:15] ExtremeMan commented on #584
Hi. Yeah, we definitely changed some code paths mentioned in the crash stack trace. Currently the problem is tracked in https://github.com/facebook/xctool/issues/582, so closing this one to cooperate there.

[2015-09-21 21:15] #584 closed

[2015-09-21 21:16] ExtremeMan commented on #582
I have so work in progress to fix issues you are hitting. Hopefully I can finish it sooner than later.

[2015-09-21 21:18] gwilliamspdx commented on #582
Great, thanks!

[2015-09-21 21:33] morganchen12 opened #585 "Unit tests deadlocking"
Seems to be caused by [line 696 in RunTestsAction.m](https://github.com/facebook/xctool/blob/master/xctool/xctool/RunTestsAction.m#L696).

Here's the thread states in deadlock:

[code]

Tests were run on a fairly large project using both Swift and ObjC.

[code]

Currently trying to create a smaller project that reproduces this issue.

[2015-09-21 21:40] ExtremeMan commented on #585
Are you using xctool master? Because I was fixing similar issues. Also I am pretty sure that it is not stuck in `RunTestsAction` and is stuck in `otest-shim`. Try sampling the host app and not xctool.

[2015-09-21 22:43] morganchen12 commented on #585
This is from release 0.2.6, so it doesn't include the latest changes in master. I'm running this directly in bash so there is no host app, and I have a suspicion OCUnit/`otest-shim` never starts because the simulator is never launched. I may be wrong about it getting stuck in `RunTestsAction`.

[2015-09-22 02:09] modocache commented on #572
`+[XCTestCase testInvocations]` is a public Apple API, I don't think using it is "crazy". It's not solely used by testing frameworks like Specta, either--I've seen it overridden for other use cases before.

I'll try to provide an example outside of testing frameworks soon, along with a pull request. In the meantime, my argument is that xctool's test runner should behave similarly to xcodebuild's.

[2015-09-22 03:40] ExtremeMan commented on #572
Well, as I said earlier - xcodebuild (which is xctest in this case and not xcodebuild) returns `(null)` as a test case name. Wouldn't you agree that it is not a valid method name? Also xcodebuild doesn't provide you any output about tests not being run because of different reasons, like if one of the tests crashes and all other are simply ignored. Xctool does because it first queries test names an

[2015-09-22 05:48] elitecoder commented on #582
+1 Seeing this issue after upgrade to Xcode 7 and xctool version 0.2.7.

[2015-09-22 13:04] x2on opened #586 "Output on console appears after tests"
The `NSLog` outputs from the tests appears after the tests and delayed.

So the output on the terminal looks like this:

[code]

Any idea what happens there?

[2015-09-22 13:07] x2on commented on #248
Same here if i compile with `test` it recompiles all pods and all files
[code]

[2015-09-22 17:16] jwinky commented on #582
+1 Seeing this with both Xcode 7 and 6.4 using 0.2.6 and master

[2015-09-22 17:17] ExtremeMan commented on #586
Hm. This is kind of weird. I've made recently some changes to how we process test output to unblock us from running tests in Xcode 7 but your paste looks bad. Do these tests run in parallel?

[2015-09-22 17:19] x2on commented on #586
Not that i know, i just run it with the command above.
But if a add a `NSLog` to a test it doesn't appear after the finished test output, it appears a few seconds after.

[2015-09-22 17:50] ExtremeMan commented on #586
It looks even like a problem with a reporter. Is it pretty? What if you try json one?

[2015-09-22 17:51] x2on commented on #586
It's pretty. I will try json tomorrow.

[2015-09-22 19:04] jtligon commented on #582
+1 upgraded to Xcode7 and failing on my Jenkins box.

[2015-09-22 19:12] rosscooperman commented on #575
I'm encountering this issue as well.  I'm running the HEAD of xctool (0.2.7).  It seems like when xctool launches my app in the simulator the app crashes:

[code]

but when running the tests from xcode everything is fine.  My xctool command looks like:

[code]

happy to try anything, post more info, etc.  Btw, I tried killing the simulator, waiting 5 seconds, then running the xctool command again

[2015-09-22 19:34] ExtremeMan commented on #575
Do you see any crash logs in the console, @rosscooperman?

[2015-09-22 19:39] rosscooperman commented on #575
I'm looking at system.log for the relevant CoreSimulator but I don't see any stack traces.  Is there another log I should be looking at?

[2015-09-22 19:41] ExtremeMan commented on #575
You can check them in `~/Library/Logs/DiagnosticReports` and `/Library/Logs/DiagnosticReports`. Look for xctest, xctool or test host app crash reports.

[2015-09-22 19:43] rosscooperman commented on #575
Here's the most recent crash report (they basically all look the same):

[code]

[2015-09-22 19:44] ExtremeMan commented on #575
Looks like your own app caught an exception: `BITCrashUncaughtCXXTerminateHandler`?

[2015-09-22 19:46] rosscooperman commented on #575
Oh, hmm, that looks like something from HockeyApp.  Let me try to remove the HockeyApp SDK and see if that resolves the issue...

[2015-09-22 19:47] ExtremeMan commented on #575
It may be won't resolve but we will at least see a stack trace.

[2015-09-22 19:56] rosscooperman commented on #575
Interesting, here's the stack track without Hockey intercepting the crash:

[code]

We're using Quick/Nimble for testing so I'm thinking maybe the issue is with Quick?

[2015-09-22 20:18] rosscooperman commented on #575
Looks like there's some issue at the interface between xctool and Quick (referenced in https://github.com/Quick/Quick/pull/388) where test name generation gets mangled resulting in invalid test names.  Pointing CocoaPods at github has resolved at least that issue.  Now to figure out why there are a couple of actual test failures... :wink:

[2015-09-22 20:39] ExtremeMan commented on #575
@rosscooperman, awesome!

[2015-09-22 23:50] yiding commented on #97
Closing because FB open source team doesn't like projects that have lots of open tasks.

[2015-09-22 23:50] #97 closed

[2015-09-23 04:01] jaclync commented on #582
+1 seeing the same issue using Xcode 7. Had a workaround disabling most debug messages to avoid this assert, but it still happened intermittently.

[2015-09-23 10:07] x2on commented on #586
A the command was missing:

`xctool -workspace AutoScout.xcworkspace -reporter pretty -scheme AutoScout24 -sdk iphonesimulator  -destination 'platform=iOS Simulator,name=iPhone 5' -derivedDataPath target/derivedData test`

[2015-09-23 10:11] x2on commented on #586
Same with `plain`

[2015-09-23 11:47] x2on commented on #586
So i tried also `json-stream` which outputs in the correct order. So the problems seems to be related to `plain` and `pretty`.

[2015-09-23 13:48] rk-yen commented on #582
@ExtremeMan ... is there a workaround that you can suggest until we have a proper fix? A workaround will help reduce the pressure to fix :)

[2015-09-23 14:21] dev-mush opened #588 "Troubles testing target with watchos 2 extension"
I'm trying to run tests on my CI server using xctool, I started having problems after I added a watch app target to my project. Specifically, when the CI server runs

[code]

xctool fails with this error:

[code]

I found out, by doing some tests on my machine, that if I remove the -sdk option from the command I'm able to build the project correctly, but xctool fails on the testing phase prompting

[2015-09-23 14:33] milkllc commented on #582
@rk-yen It appears one way this can happen is if any tests have the same names (or at least it did in the past, according to a Google search).

Another way, which happened for me, was either because I had two test targets in my project, or because one of those targets was disabled. I just deleted the unused target and this exception went away.

[2015-09-23 21:11] stephanebruckert commented on #133
In my case, I had to remove every scheme in "manage schemes" and add them again.

[2015-09-23 21:11] BobReid opened #589 "2.6 Brew Release"
Version on brew is still 2.4 and does not support XCode 7.
Please update brew to 2.6.

[2015-09-23 21:12] ExtremeMan commented on #586
Hmmm. Doesn't make any sense =( We haven't tried those reporters for ages I think =)

[2015-09-23 21:19] ExtremeMan commented on #588
Yeah, your finding matches mine one (see http://stackoverflow.com/a/31953937/675678).
We have encountered some problems with running tests at Facebook as well. I wasn't directly involved in fixing them but it was definitely just a matter of finding correct set of arguments.

I think we stopped passing architecture and sdk but started passing `-destination "name=iPhone 5"` to xctool.

So in your ca

[2015-09-23 21:21] ExtremeMan commented on #589
Version of xctool on homebrew should be 0.2.6: https://github.com/Homebrew/homebrew/pull/44090. My  PR was merged 6 days ago.

[2015-09-23 21:25] ExtremeMan commented on #589
Just verified that brew returns 0.2.6.

[2015-09-23 21:25] #589 closed

[2015-09-23 21:53] ExtremeMan commented on #585
Hm, you are right about test host app - `OCUnitIOSLogicTestRunner` in the sample means you are running logic tests. Can you sample simctl/xctest then? Or if your project is open sourced just send me a link.

[2015-09-23 22:02] ExtremeMan commented on #582
Trying to repro it locally and can't. Do you all use `NSLog` for logging or CocoaLumberjack, for example?
Is any of your projects open sourced?

[2015-09-23 22:06] jaclync commented on #582
using CocoaLumberjack in my case - my workaround was to reduce log level to DDLogLevelError or DDLogLevelOff. Also have 2 test targets, if that matters

[2015-09-23 22:44] rk-yen commented on #582
We are using `CocoaLumberjack` as well (one test target).

[2015-09-23 22:51] ExtremeMan commented on #582
Got it. I think that's the case. CocoaLumberjack (IIRC) has some delay before it actually flushes logs to the stdout. I've found (basically a bug) how I could fix it in xctool (some logs might be lost but it is expected behavior if you log on background thread). If any of you can checkout my branch https://github.com/facebook/xctool/tree/nekto/sync_test_running_check and verify if it actually fixe

[2015-09-23 22:55] LegNeato commented on #589
You might need to `brew update` first.

[2015-09-23 22:58] rk-yen commented on #582
I can try it.

[2015-09-23 23:12] rk-yen commented on #582
I ran `run-tests` 5 times each with the v0.2.4 and your branch.

* 0.2.4 `crashed` all the times.
* your branch `succeeded` all the times.

[2015-09-23 23:20] ExtremeMan commented on #582
Thanks, @rk-yen. What about 0.2.6 (latest on brew)? Does it crash as well?

[2015-09-23 23:45] BobReid commented on #589
Updated to 2.6 after brew update.
thanks guys.

[2015-09-23 23:47] gwilliamspdx commented on #582
0.2.6 crashed for me.  I'm using NSLog. Your branch succeeded.

[2015-09-23 23:55] rk-yen commented on #582
@ExtremeMan ... 0.2.6 crashed 4 times out of 5 runs.

[2015-09-24 02:50] ExtremeMan commented on #586
This PR might help you - https://github.com/facebook/xctool/pull/590.

[2015-09-24 02:50] ExtremeMan commented on #582
PR https://github.com/facebook/xctool/pull/590 is out!

[2015-09-24 02:50] ExtremeMan commented on #582
Thanks for testing it for me! I appreciate that.

[2015-09-24 19:43] myers opened #592 "UI tests on new Swift project in Xcode 7 are not run."
To recreate:

1. Install xctool from brew with `brew install --HEAD xctool` today.
1. Open Xcode 7
2. File > New > Project
3. Universal app, swift, with UI tests, named it "More"
4. choose where to save
5. cmd-q xcode
6. in terminal cd to project directory
7. run `xctool -scheme More -destination 'platform=iOS Simulator,name=iPhone 6,OS=9.0' -sdk iphonesimulator test`

Expected:

All tests, includ

[2015-09-24 20:03] ExtremeMan commented on #592
This is tracked here: https://github.com/facebook/xctool/issues/534.

[2015-09-24 20:03] #592 closed

[2015-09-24 21:37] BobReid opened #593 "XCTool crash when running Kiwi test suite"
Kiwi test suite does not run in XCTool due to a crash in the test name parsing.

Test name when run in XCode 7 is:
[code]

XCTool reports
[code]

Environment:
XCTool: 0.2.6
XCode: 7
Kiwi: 2.4

Full crash report:
[code]

[2015-09-24 23:26] Rypac commented on #593
+1 Also experiencing the same issue when running an entire suite of Kiwi tests.

Running a single spec however works fine.

[2015-09-24 23:27] ExtremeMan commented on #593
I've fixed similar bug in other testing frameworks: gtest and Specta. Also I've seen Quick framework fixed it on their side. Did you open same issue on Kiwi github repo? I will appreciate if they fix it on their end rather then I will try to fix it in xctool.

[2015-09-24 23:29] ExtremeMan commented on #593
Links with more info: https://github.com/facebook/xctool/issues/572, https://github.com/specta/specta/pull/184, https://github.com/Quick/Quick/pull/388, https://github.com/mattstevens/xcode-googletest/pull/3.

[2015-09-24 23:32] Rypac commented on #593
Great, thanks for the info.

Looks like there is already a pending fix for Kiwi.
https://github.com/kiwi-bdd/Kiwi/pull/648

[2015-09-24 23:35] ExtremeMan commented on #593
@Rypac, can you check if that PR fixes xctool compatibility as well, please?

[2015-09-24 23:37] Rypac commented on #593
@ExtremeMan Will do.

[2015-09-24 23:43] Rypac commented on #593
@ExtremeMan Yeah the PR fixes the issue for me. Thanks for your help!

[2015-09-24 23:50] BobReid commented on #593
@ExtremeMan The comments on the quick bug seem to indicate they think its an issue on xctool side but they merged it anyway to expedite the fix.

Not sure where the most appropriate fix should be made.

[2015-09-25 00:40] ExtremeMan commented on #593
@BobReid, I know. I don't agree that it is an xctool bug. Closing this issue since there is a PR that fixes it on PR.

[2015-09-25 00:40] #593 closed

[2015-09-25 00:40] ExtremeMan commented on #593
@Rypac, thanks for confirming! I appreciate that.

[2015-09-25 01:38] BobReid commented on #593
Cool, I'll test the fix as well

[2015-09-25 08:27] PaulTaykalo commented on #593
@BobReid @ExtremeMan As far as I see - it's not a xctool bug. I've described what's going on there - kiwi-bdd/Kiwi#648.
Xcode also isn't happy with Kiwi tests
Probably the only "bug" is that xctool crashes, when Xcode simply showing incorrect test name as `(null)` or not showing anything at all

[2015-09-25 08:51] matsoftware opened #594 "Test did not run: the test bundle stopped running or crashed before the test suite started"
Hi,

we just migrated to the yesterday version of xctool-master with Xcode 7 , but every Kiwi test that we have in place is failing, while they are working if they are run directly from Xcode. Any clue on that? Cheers

[code]

[2015-09-25 11:26] ExtremeMan commented on #594
Looks into this issue: https://github.com/facebook/xctool/issues/593. Is it similar to your?

[2015-09-25 12:38] jimix opened #596 "Recursive call to ProcessTestOutputWriteBytes causes eventual crash"
Thread 0 appears to be stuck in some recursion ultimately causing the crash.

xctool version: master (99282fee)
xcode version: Version 7.0 (7A220)
output:
[code]

[2015-09-25 13:00] jimix commented on #596
https://github.com/opensource-apple/objc4/blob/881b875d7aada4cbfc154e022e1297c9526de747/runtime/objc-errors.mm#L144

I'm going to guess we have a clash between:
[otest-shim.m:543](https://github.com/facebook/xctool/blob/29ad01680c7790a942f77a58b8b64a1f66e1fbf6/otest-shim/otest-shim/otest-shim.m#L543)
[code]

and
[objc-errors.mm:144](https://github.com/opensource-apple/objc4/blob/881b875d7aada4cbfc

[2015-09-25 13:15] jimix commented on #596
Note: this does not occur when building everything with Xcode 6

[2015-09-25 15:06] ExtremeMan commented on #596
Thanks for flagging. I am working on fixing it. Apple did some changes to iOS Simulator app in Xcode 7 that could result otest-shim to be in a such loop. We hit this at Fb and I pushed several fixes but they aren't ideal and looks like don't work for every use case. Sorry that you are blocked on this now but most likely you can try it by fixing on your side. The problem here (most likely in you ca

[2015-09-25 15:08] ExtremeMan commented on #586
I have hit something similar locally. Wondering if your test bundle has both Swift and Objective-C test cases?

[2015-09-25 21:41] IndieKevin commented on #579
Just as an update, this problem still persists in 0.2.6 using XCode 7. Reverted to using xcodebuild for the time being until more time is spent looking into the issue. Looks like attempting to make network requests remains an issue.

[2015-09-25 23:11] esttorhe commented on #580
After looking in `Google` I came to this same issue because we are getting stuck at the same point with `xctool` on `Xcode 7` :/

[2015-09-25 23:54] darvin opened #598 "XCode 7 - cant run tests"
[code]

worked fine on xcode 6.4, works fine with Xcode 7 on my development machine

[2015-09-26 15:35] ExtremeMan commented on #580
I am working on fixing it. You can try my branch if you are blocked - https://github.com/facebook/xctool/tree/nekto/sync_test_running_check - but I am force pushing there so don't rely much on it.

Using it and provided sample project I got this:

[code]

[2015-09-26 17:43] esttorhe commented on #580
Will give it a try; thanks :+1:

[2015-09-28 03:24] aleffert commented on #575
I'm having this same crash. I'm not using Quick or any wrappers around XCTest.
[code]

[2015-09-28 15:19] ExtremeMan commented on #598
Same as https://github.com/facebook/xctool/issues/596.

[2015-09-28 15:19] #598 closed

[2015-09-28 20:12] jeffremer commented on #588
@ExtremeMan I'm running into a similar situation. Using xctool I either get the problem above or xctool thinks I'm trying to build/run with `iphoneos` SDK.

So, with the `destination` parameter, like so, I get an error about the SDK:

[code]

If I add the SDK parameter then I get an error about watch products being unsupported.

[code]

Similarly if I leave the `-sdk` parameter, but remove the `-d

[2015-09-28 20:16] ExtremeMan commented on #588
What if you run
[code]
?

[2015-09-28 20:16] ExtremeMan commented on #588
Or
[code]

[2015-09-28 20:23] HeEAaD commented on #588
We solved this issue by splitting up `build-tests` and `run-tests`:
[code]

[2015-09-28 22:54] jeffremer commented on #588
@ExtremeMan I'd usually been running just the `test` command, but I had tried all the combinations from above. The output from that is the same `TEST_BUNDLE_FAILED_TO_START` problem:

[code]

@HeEAaD for me that helps me get a little further. Our main test bundle is application tests and those do not run, every one of them reports:

[code]

However, it does run a handful of tests from a dependency

[2015-09-29 01:42] ExtremeMan commented on #596
Hopefully fixed on master. Could you verify for me, please?

[2015-09-29 01:43] ExtremeMan commented on #586
Could you check if most recent changes on master improve the situation?

[2015-09-29 01:43] ExtremeMan commented on #585
I have just published some changes to master. Can you verify if it helps?

[2015-09-29 01:44] ExtremeMan commented on #582
Final fixes are merged into master. Please open new issue if you hit this problem again.

[2015-09-29 01:44] #582 closed

[2015-09-29 01:45] ExtremeMan commented on #551
I've recently hit this issue locally while working on fixing other stuff. Merged several commits to master that should help. Please open new issue if you see it again.

[2015-09-29 01:45] #551 closed

[2015-09-29 03:21] morganchen12 commented on #585
This is fixed on 42a07d3300902facfdbea389a3a465aeecd121b8 in master. Thanks! 🍺

[2015-09-29 03:21] #585 closed

[2015-09-29 09:56] x2on commented on #586
It looks better, but the output from the `pretty` reporter is still in concurrent with the output to the console:

[code]

[2015-09-29 11:04] jimix commented on #596
@ExtremeMan, I am sad to report that the issue persists.
Some good news, none of the tests hang this time.
Here is a another crash dump:
[code]

I'll poke at it some more later this afternoon.

[2015-09-29 13:13] denniskpw commented on #582
Thanks for the help @ExtremeMan

[2015-09-29 14:48] ExtremeMan commented on #585
Thanks for confirming!

[2015-09-29 14:49] ExtremeMan commented on #586
Thanks for looking again.
Any chance the project is open source and I can play with it? (Sorry, I remember I asked about that some time ago but don't remember the answer =) ).

[2015-09-29 14:51] x2on commented on #586
No sorry - it's our main project at AutoScout24

So it looks like the output from the tests (NSLog or simular) are not in line with the output from xctool status.

[2015-09-29 14:51] ExtremeMan commented on #596
Thanks for checking one more time. It should be working =( You will have to wait for a more proper fix then =/

[2015-09-29 14:53] ExtremeMan commented on #586
Ok, got it. I will look into it later then. I am working on refactoring of how we intercept stdout and stderr when running tests right now.

[2015-09-30 00:27] jenkinsja commented on #574
I am also waiting on this feature, but do not have the domain knowledge to add it in myself.

[2015-09-30 13:27] K76154 commented on #534
I believe entire iOS development community is waiting for this support to be added. We really need this!

[2015-09-30 13:30] mikelupo commented on #534
FYI: It will only work with the simulator though.

[2015-09-30 20:18] adamhrz commented on #417
@haskelash There is a new version of Cedar that works on XCode 7. We were seeing the 0 tests and turned out to be Cedar and PivotalCoreKit which were both updated September 16th https://github.com/pivotal/cedar/pull/354

[2015-09-30 20:19] ExtremeMan commented on #417
@adamhrz, ah, awesome. Could you just double confirm that xctool + Xcode 7 + Cedar are working together? If yes, I will close the issue then.

[2015-09-30 20:21] adamhrz commented on #417
@ExtremeMan Just digging out my command line xctool command for this project and will confirm

[2015-09-30 20:22] ExtremeMan commented on #417
@adamhrz, thanks a lot. I appreciate that.

[2015-09-30 20:46] gbegen opened #601 "Output from xctool 0.2.7 renders poorly in Jenkins console output"
With xctool 0.2.4, the checkboxes and horizontal lines in the xctool output were converted to ~ and - when run via Jenkins, leading to readable output such as:

    ~ Sign redacted.framework (363 ms)
    --------------------------------------------------------------------------------

After updating to xctool 0.2.7 (built from master branch yesterday), the output now contains strange characters an

[2015-09-30 20:51] adamhrz commented on #417
@ExtremeMan @haskelash confirmed xctool 0.2.4 running xcode7cedar tests fails but xctool 0.2.6 running xcode7cedar tests pass

[2015-09-30 20:52] ExtremeMan commented on #417
Awesome, @adamhrz. Thanks a lot for looking and confirming! Closing since it is fixed.

[2015-09-30 20:52] #417 closed

[2015-09-30 20:52] lumos-pairstation commented on #534
:+1:

[2015-09-30 20:56] ExtremeMan commented on #534
I will be happy to support anyone who is ready to work on it. At Facebook we are using our own infrastructure (see https://github.com/facebook/webdriveragent) to run E2E tests and as a result we aren't going to work on this feature in the nearest future.

[2015-10-01 01:49] gbegen commented on #601
xctool used to default to the plain reporter when not run on a TTY. It now will use the pretty reporter, disabling overwrite. It looks like this was a deliberate choice made in https://github.com/facebook/xctool/commit/3d581b491a8785103cdb08d20af025dc10f31133.

I added code to my build script to detect when running without a TTY and add the `-reporter plain` option as a workaround.

[2015-10-01 01:49] #601 closed

[2015-10-01 04:13] K76154 commented on #534
Does the webdriver agent work with the new XCode 7 UI test? Or it only works with the old javascript UIAutomation? And how do you launch the simulator and the app automatically?

[2015-10-01 04:29] LegNeato commented on #534
webdriveragent links with the underlying `UIAutomation` private objective-c framework, there is no JS involved.

[2015-10-01 05:14] K76154 commented on #534
There are two ui testing frameworks provided by Apple after xcode 7. One is the new xcuiapplication based tests, the other one is the old uiautomation framework. Which one does the webdriver support? I think what people wants is the support for the new xcode 7 xcuiapplication based automation.

[2015-10-01 14:36] ExtremeMan commented on #534
I would better ask these questions at the project pages. cc @mmmulani

[2015-10-01 14:42] adamhrz commented on #417
My apologies but while it seemed things were running here when running from the command line (requiring xctool 0.2.6) the actual run-test phase fails because it says the .xctest folder contains no tests

[2015-10-01 14:44] mmmulani commented on #534
we use FBSimulatorControl (also a project on GitHub) to start up the simulator and the WebDriverAgent to automate it.

we don't support straight up UIAutomation commands but instead implement the web driver spec

[2015-10-01 14:44] ExtremeMan commented on #417
So you see `** TEST SUCCEEDED: 0 passed, 0 failed, 0 errored, 0 total **`?

[2015-10-01 15:01] adamhrz commented on #417
Unfortunately, yes. Running xcodebuild works fine and generates our junit
output for reporting to CI:

xcodebuild -project "blahblahblah.xcodeproj" -scheme "blahblahblahApp" -sdk
iphonesimulator test | xcpretty -r junit --output ./junit.xml

On Thu, Oct 1, 2015 at 10:44 AM, Aleksey Kononov <notifications@github.com>
wrote:

--

Adam Howitt, Senior Software Developer

Raizlabs Corporation: Mobile S

[2015-10-05 23:48] mjdetullio commented on #574
I was doing some digging when I noticed xctool also does not respect the ```/Scheme/TestAction/@codeCoverageEnabled``` setting in .xcscheme files.  This is the equivalent of the ```-enableCodeCoverage YES``` option.

Just looking at it I have no idea how I'd even begin to implement.  Typically coverage data gets dumped to ```DerivedData/Build/Intermediates/CodeCoverage/MyTestScheme/Coverage.profda

[2015-10-06 08:41] K76154 commented on #534
@ExtremeMan I found that if I run the xcode 7 ui test with xcodebuild and custom symroot, the test will not run. It says the target app can't be found, and it really didn't install it on the simulator. I guess xctool somehow uses custom symroot implicitly, so it has the same problem. If you are seeing the no target app error, try use default symroot path.

[2015-10-06 14:25] joshaber opened #605 "New release?"
:wave:

I was wondering if we could get a new release soon.

The current public release (0.2.6) hangs running tests with Xcode 7. This is fixed on `master`. We've held off on some Xcode 7 PRs to avoid baking `brew install xctool --HEAD` into our repositories. But if a release is still a ways off, we'll just go for it.

Thanks!

[2015-10-06 15:58] djrenfro commented on #534
@K76154 I was able to get xcode 7 ui test to run with xcodebuild and a custom symroot.  2 things I am doing that may help you.  1. In the symroot, I am putting the full path (so using ${PWD}) which it wasn't working without.  The other thing is doing a build command before the test command, there is a chance in you test configuration it is not setup to build the app as well.

[2015-10-06 19:13] morganchen12 commented on #605
+1

[2015-10-06 19:24] tarbrain commented on #605
I am waiting as well.

[2015-10-06 20:08] colincornaby commented on #605
This would be great.

[2015-10-07 19:29] floatplane opened #607 "xctool always doing a full rebuild for test targets when modules enabled"
environment: xctool@HEAD, installed via homebrew. Xcode 7.0 (7A218).

I'm trying to convert our builds over to xctool and starting with a library of common code (`Core`) and associated tests (`CoreTests`).

I'm noticing that xctool always rebuilds Core and CoreTests when I attempt to run the tests, and xcodebuild does not.

I invoke xcodebuild like so:

[code]

I invoke xctool the same way:

[code

[2015-10-08 03:17] floatplane commented on #607
Hmm, this is occurring for me with a vanilla test app too. I must be doing something wrong. Would love to know what it is.

- Create a new project in Xcode (I went with iOS/Single View Application). Make sure "Include Unit Tests" is checked.
- When testing via xctool, it always rebuilds:
[code]
- When testing via xcodebuild, it doesn't:
[code]

[2015-10-08 05:27] floatplane commented on #607
This seems to be related to clang modules. If I take the test project (which has CLANG_ENABLE_MODULES set to YES by default) and disable module support, then xctool builds and runs tests as I expect with no unnecessary rebuilds.

[2015-10-08 15:12] jacebrowning commented on #605
+1

[2015-10-08 22:39] IndieKevin opened #608 "xctool segmentation fault while collecting info for testables"
xctool (v0.26.0) crashes with `Child process terminated with signal 11: Segmentation fault` when attempting to run acceptance tests on iOS9, iPhone 6 while "Collecting info for testables..." The full error message is presented below:

[code]

No tests are run and xctool looks like it is able to build and link the test successfully but crashes right after.

[2015-10-09 14:06] jimix commented on #596
@ExtremeMan, finally got a chance to look into this deeper.
My project is "causing" this, only on Xcode 7.
One of my UnitTests uses [objc_disposeClassPair()](https://developer.apple.com/library/prerelease/ios/documentation/Cocoa/Reference/ObjCRuntimeRef/#//apple_ref/c/func/objc_disposeClassPair)

Here is what is happening:

1. `objc_disposeClassPair()`: acquires the internal `objc` `runtimeLock` f

[2015-10-09 14:10] briancroom commented on #417
Just a quick update to ensure all interested parties get notified - Cedar's behavior has been adjusted to allow `xctool`'s `otest-query` to find Cedar specs, fixing this issue.

[2015-10-09 14:38] ExtremeMan commented on #417
Awesome, thanks for the update and fix, @briancroom !

[2015-10-09 14:43] ExtremeMan commented on #596
@jimix, yeah, __write interposing is breaking it. I am working on removing it but it requires a lot of work and refactoring in xctool =/ may be in a week or two I will finish it.

[2015-10-09 19:44] kvnknowles commented on #551
What were the changes pushed related to this issue?  We are seeing a similar issue and wanted to verify we are using a new enough version of xctool that would contain the fix.

[2015-10-10 01:22] Pitsko commented on #605
+1

[2015-10-10 08:21] AloneMonkey opened #609 "My project is using xib rather than storyboard. 18000+ warnings."
XCode 7, iOS 9 SDK, get many warsings.
2015-10-10 16:17:19.947 Interface Builder Cocoa Touch Tool[33496:248507] CoreUI: CUICatalog: couldn't get 'kMGArtworkGraphicsFeatureSetFallbacks' from MGCopyAnswer got '{
    ArtworkDeviceIdiom = pad;
    ArtworkDeviceScaleFactor = "-1";
    DevicePerformanceMemoryClass = 1;
}'

[2015-10-10 10:55] ExtremeMan commented on #609
Why do you think it is xctool? xctool just ends up by calling xcodebuild. Do you see the same warnings in xcodebuild?

[2015-10-10 11:26] #609 closed

[2015-10-12 11:02] sharoni commented on #605
+1

[2015-10-12 13:09] Ross-Hunter commented on #605
+1

[2015-10-12 14:25] jmig commented on #248
Tried to speed up my CI this morning and ran into this issue.
I'm already specifying a custom derivedData folder location

For reference:
- If your xctool action is `build` it will leverage the incremental building
Without DerivedData : `** BUILD SUCCEEDED ** (45287 ms)`
With previous run : ``** BUILD SUCCEEDED ** (3738 ms)`

- if your xctool action is `build-tests` or `test` it won't leverage it

[2015-10-12 14:49] mihahribar commented on #605
+1

[2015-10-12 22:14] connork26 opened #610 "Building a library in xcode 7.0.1 from command line doesn't include bitcode"
Got the folloing error in my application that included my framework:

ld: bitcode bundle could not be generated because
'framework'
was built without full bitcode. All object files and libraries for bitcode must be generated from Xcode Archive or Install build for architecture armv7

From looking online, it looks like you can pass '-fembed-bitcode' in xcodebuild to get it to run correctly and buil

[2015-10-12 23:18] ExtremeMan commented on #610
xctool just forwards build requests to xcodebuild. You can run `xctool` with `-showTasks` option to see what `xcodebuild` command is called.

[2015-10-13 01:20] connork26 commented on #610
Fix for this would be just be adding  OTHER_CFLAGS="-fembed-bitcode"  as part of the argument.

[2015-10-13 01:28] ExtremeMan commented on #610
I guess it is better just to add to project setting then. Closing since it isn't xctool issue. Thanks for posting a solution that worked for you!

[2015-10-13 01:28] #610 closed

[2015-10-13 09:52] nextorlg commented on #605
Also waiting for this, we made it work with xcodebuild for now

[2015-10-13 10:53] tarbrain commented on #605
@ExtremeMan I know there have been some drastic changes in Xcode 7 but when can we expect a new production release of xctool? iOS 9 is public for a month now.

[2015-10-13 11:38] silvaric opened #611 "Simple project with pod Kiwi ... hangs on "Launching test host and running tests""
I'm new with this tool so I started with the most simple program with the Kiwi test tool.
This is very weird because this is so....so simples thing...
New project -> add Kiwi pod -> add kiwi test code -> run xctool and.... hangs / freezes in the "[Info] Launching test host and running tests ... (0 ms)"

Basically the problem appears when I add Kiwi Code

I already read almost all issues in this re

[2015-10-13 11:51] silvaric commented on #611
[Update] I changed Kiwi for Specta pod and works...

** TEST SUCCEEDED: 3 passed, 0 failed, 0 errored, 3 total ** (9120 ms)

[2015-10-13 13:03] aloifolia opened #612 "Failed to query the list of test cases in the test bundle"
I am trying to run a specific UI test that I wrote with XCode 7:
[code]
I get the following error message:
[code]

The target contains one test class with exactly one test called `testExample`.

[2015-10-13 16:14] ExtremeMan commented on #612
Please, subscribe to this task to track progress on this issue: https://github.com/facebook/xctool/issues/534.

[2015-10-13 16:14] #612 closed

[2015-10-13 16:15] ExtremeMan commented on #611
Are on xctool + Kiwi (or Specta) master? Latest xctool release doesn't have all fixes.

[2015-10-13 16:16] ExtremeMan commented on #605
Thanks for flagging. I want to finish some work before a new release. Give me a week or so, please.

[2015-10-13 16:59] hiltonc commented on #512
Merged, thanks!

[2015-10-13 16:59] #512 closed

[2015-10-14 10:54] silvaric commented on #611
I think so...

[2015-10-14 15:38] ExtremeMan commented on #611
You need to unlink first I think.

[2015-10-14 16:04] silvaric commented on #611
It worked!!! I did like you said, unlink first and install master (--HEAD)

Thanks and please you can close.

[2015-10-14 16:04] #611 closed

[2015-10-14 16:04] ExtremeMan commented on #611
Awesome. Thanks for letting me know that it worked!

[2015-10-14 18:20] x2on commented on #248
Yes i did see this too, problem is on calling `test` which recompiles all files.

[2015-10-15 20:16] jmig commented on #248
@ExtremeMan : https://github.com/jmig/xctool/commit/00c0defeecbf117322fb6a2203fab601b908a2be

I managed to make it work in this commit, it seems hacky to me but hopefully it will sparkles & help you find the root cause.

Setting the IDECustomLocationDerivedData flag seems to confuse xcodebuild, and even with SYMROOT, OBJROOT & SHARED_PRECOMPS_DIR set, it still thinks that something is missing and

[2015-10-15 22:27] jmig commented on #248
After someone pointed the obvious to me, `com.apple.dt.Xcode.plist` in `~/Library/Preferences` has a key `IDECustomDerivedDataLocation` with the associated path if the user has selected a specific path for DerivedData. I can add the check if you guys think it's a good way to solve that issue.

[2015-10-16 13:16] x2on commented on #607
What happens if you use `-derivedDataPath build/derivedData`?

[2015-10-19 02:45] FEB15 commented on #605
+1

[2015-10-19 09:21] pmwheatley commented on #605
+1

[2015-10-19 09:25] mihahribar commented on #605
-1 dude said he needs time. Just saing :+1:

[2015-10-19 09:34] pmwheatley commented on #605
Didn't mean to seem ungrateful, really appreciate the work going on here @ExtremeMan - just wanted to add my support for a new release

[2015-10-19 09:52] mihahribar commented on #605
:+1:

[2015-10-19 15:00] thelvis4 commented on #574
@ExtremeMan Actually, it doesn't seem to be so easy.
I've tried to pass `-enableCodeCoverage yes` to BuildTestsAction, and it ends up yelling
`The flag -enableCodeCoverage is only supported when testing.`
Adding  `-enableCodeCoverage yes` to xcodebuild arguments in RunTestsAction doesn't generate the code coverage data.
That's probably because the testing infrastructure of xctool is different than

[2015-10-20 11:56] zsbee opened #613 "Sometimes -test fails with 'Got output with no test running'"
Sometimes our clean tests fail with the following output. Please se the command on the bottom of the page. Could you please help us what we might be doing wrong?

Using xctool version 0.2.6

[code]

[2015-10-20 21:51] ExtremeMan commented on #613
Can you try xctool master for me, please?

[2015-10-21 13:13] n4me1ess commented on #534
hi. is there no news about support XC UI Testing? (Xcode7)

[2015-10-22 12:19] mfischer30 commented on #611
I have the same issue, it hangs with Kiwi. Just checked, xctool is at 0.2.6. I'm running Xcode 7.1.
Tried to brew unlink xctool and reinstall, but it said that it's already installed, it's just unlinked, so I linked it back. I don't see what could I be missing out?

[2015-10-22 13:07] silvaric commented on #611
I have :
* Xcode 7.0.1
* xctool 0.2.7

What I did  : (important.... install the master HEAD)

[2015-10-22 13:55] mfischer30 commented on #611
I would buy you a beer! it works! uninstalling it and putting back the master HEAD worked. thanks a lot!

[2015-10-22 14:23] silvaric commented on #611
Thanks to @ExtremeMan :)

[2015-10-23 08:20] Z0287yyy commented on #610
connork26 commented 10 days ago
Fix for this would be just be adding OTHER_CFLAGS="-fembed-bitcode" as part of the argument.

thank you, help me a lot.

[2015-10-23 14:34] Legoless commented on #574
This would really be needed. Can it be passed directly to xcodebuild?

[2015-10-23 15:06] jimix opened #614 "Feature? -waitForDebugger"
Not sure this is useful to anyone else.
I'm using Instruments a lot these days, and rather than do the [debugger dance](http://stackoverflow.com/questions/21031263/is-it-possible-to-run-xctest-based-tests-under-instruments-in-xcode-5), I have xctool do it for me.  Steps:

1. Run XCTool: `xctool .... test -waitForDebugger`
1. Attach to `xctest` process using one of:
   1. The Instruments app (note

[2015-10-23 21:22] kvarga commented on #605
Any update @ExtremeMan ? I'd rather not update all of our build machines to use --HEAD, but need to get this fixed by Monday.

[2015-10-23 21:37] ExtremeMan commented on #605
I apologize for a huge delay. I can probably make a release without changes I am working on now.

[2015-10-25 08:30] ExtremeMan commented on #605
New xctool release is pending approval on homebrew repo: https://github.com/Homebrew/homebrew/pull/45307.

[2015-10-25 09:27] mihahribar commented on #605
:+1:

[2015-10-25 12:42] tarbrain commented on #605
 🍻

[2015-10-26 05:37] ExtremeMan commented on #605
New version available via homebrew.

[2015-10-26 05:37] #605 closed

[2015-10-26 05:37] ExtremeMan commented on #613
New version of xctool was released. Please, try it and reopen if you still see the issue.

[2015-10-26 05:37] #613 closed

[2015-10-26 05:38] ExtremeMan commented on #608
Can you try latest release, please?

[2015-10-26 05:38] #594 closed

[2015-10-26 05:38] ExtremeMan commented on #596
Can you, please, try latest release for me? I will appreciate!

[2015-10-26 05:40] ExtremeMan commented on #569
Your PR was merged! Closing this issue.

[2015-10-26 05:40] #569 closed

[2015-10-26 05:42] ExtremeMan commented on #359
I found several fd leaks! I have about 10 commits coming soon that should fix them!

[2015-10-26 05:47] ExtremeMan commented on #614
Looks good. But it works only for logic tests, right? What about app tests?

[2015-10-26 10:30] hrskrs opened #615 "xctool build command fails on Jenkins Shell"
I am using this command in the local terminal and it works as supposed:
[code]

However using exactly the same one on Jenkins as an `Execute Shell` command, fails with this error:

[code]
[Asked on StackOverflow] (http://stackoverflow.com/questions/33345576/xctool-build-command-fails-on-jenkins-shell)

[2015-10-26 13:23] jimix commented on #596
Sorry, problem still persists and gives virtually identical output.
Here are my environment details:
[code]

Here are the crash details (inline, since I cannot make attachments):
[code]

[2015-10-26 14:27] jimix commented on #596
Here is test code that reproduces my specific scenario:
[code]
Should see the following in output:
[code]

Sadly, adding this as a formal test case looks like a little more work then I'm able to do at the moment.

[2015-10-26 14:50] joshaber commented on #605
Thanks!

[2015-10-26 15:04] ohadschn opened #616 "Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Test should not have started yet.'"
I'm hitting this exception in xctool 0.2.7 (XCode 7):

[code]

I extracted the following crash from Console.Log:
[code]

[2015-10-26 16:01] ohadschn opened #617 "xctool waits for manual simulator shutdown after test execution"
I'm running the following command line with xctool 2.7.0 (XCode 7):
```xctool workspace foo.xcworkspace -scheme foo -configuration foo -sdk iphonesimulator -reporter pretty -destination "platform=iOS Simulator,name=iPad Retina,OS=latest" -reporter junit:foo.xml run-tests -freshSimulator -resetSimulator -only fooTests:BarSpec -launch-timeout 60```

After all the tests finish I can see the summary m

[2015-10-26 18:01] ExtremeMan commented on #617
Can you try taking a sample? I would sample xctool, xctest and test host app (if tests are application tests).

[2015-10-26 18:02] ExtremeMan commented on #596
Thanks for looking! I am still working on a better fix. Thanks for the test case, I will use it to test coming changes!

[2015-10-26 18:57] lordkev commented on #454
I'm still getting "No keychain is available. You may need to restart your computer" with 0.2.7. Tests run fine using xcodebuild.

@ExtremeMan Is there something else I need to do to get it working with the switch to `simctl`?

[2015-10-26 18:58] ExtremeMan commented on #454
Hm. Are you tests application tests, @lordkev?

[2015-10-26 19:04] lordkev commented on #454
@ExtremeMan: No, unit tests.

[2015-10-26 19:09] ExtremeMan commented on #454
@lordkev, can you try moving the test to application tests? (xcodebuild is launching tests in Simulatora.app context, but xctool for performance is not doing that for logic tests).

[2015-10-26 19:22] lordkev commented on #454
@ExtremeMan I'll give it a shot, but I'm kind of confused about your comment from Aug 13 about `simctl` fixing the issue and the tests on the NitroKeychain passing. Was that only when changing them to run as application tests?

[2015-10-26 19:28] ExtremeMan commented on #454
Hm, my comment is about logic tests, true. I will need a sample project which I can use to test. Can you help me with that?

[2015-10-26 20:57] RyanCopley commented on #617
I'm experiencing the same issue and this is driving me nuts!

[2015-10-26 21:00] ohadschn commented on #617
@ExtremeMan Next time it happens I will.

[2015-10-26 21:19] RyanCopley commented on #617
@ExtremeMan Do you all unpublish former versions of xctool from brew? For now I'd like to just downgrade back to 0.2.6 but I don't see it in brew anymore

[2015-10-26 21:25] RyanCopley commented on #617
(Also, for the record, 0.2.6 is perfectly fine. I'll attempt a git bisect in a little bit)

[2015-10-26 21:30] lordkev commented on #454
Just realized - in our case it's tests for a framework, so there isn't really any application to host it. [NitroKeychain](https://github.com/danielalves/NitroKeychain) is still a good test project. I just verified that with xctool 0.2.7 three of 16 tests fail, but with xcodebuild all tests pass.

[2015-10-26 21:32] ExtremeMan commented on #454
Ok, I will try it out.

P.S. You can always create an empty test host app for your framework.

[2015-10-26 21:46] RyanCopley commented on #617
[code]

[2015-10-26 21:48] ExtremeMan commented on #617
Weird. Which Xcode version are you using?

[2015-10-26 21:49] RyanCopley commented on #617
Version 7.1 (7B91b)

[2015-10-26 21:50] RyanCopley commented on #617
I might be on a beta version... hmmm

[2015-10-26 22:22] RyanCopley commented on #617
Turns out that isn't a beta, but it worked after reinstalling Xcode :|

[2015-10-27 05:08] vase4kin opened #618 "Running KIF tests with xctool causes segmentation fault"
Hello,

Command:
`xctool -workspace App.xcworkspace -scheme App-Dev-Docker test -only Acceptance-Tests -sdk iphonesimulator -reporter junit:output.xml -reporter pretty`

Log:
[code]

Versions:
[code]

Running the same tests with `xcodebuild` causes no problem.

[2015-10-27 05:15] ExtremeMan commented on #618
Hello. I will need a sample project in order to reproduce and find the issue.

[2015-10-27 08:49] vase4kin commented on #618
False alarm, this issue is not reproducible on new brand shiny project, seems to be a local problem.
Will investigate further. Thanks!

[2015-10-27 08:49] #618 closed

[2015-10-27 11:57] ohadschn commented on #617
xctool:
[code]

xcodebuild (I assume you meant this, couldn't find xctest):
[code]

I can't really share the test app host sample (closed source), but let me know if there's anything specific you're interested in that sample and I'll see if I can sanitize it.

Thanks!

[2015-10-27 13:26] ohadschn commented on #617
I just experienced the same using xctool (with xcpretty, if it matters) so this may not be an xctool issue at all.

[2015-10-27 16:15] ExtremeMan commented on #617
If you hit the same with `xcpretty` then it is probably unrelated to `xctool`. xctool sample looks good. Most likely the problem is in test host app then. Can you remove everything below `Binary Images:` and all calls to your own methods and then post here your test host app sample?

I will be interested to see what xctool internal stuff is doing - `otest-shim` library, and xctest framework.

[2015-10-27 19:04] ohadschn commented on #617
No need, I know what the problem was. The finalization thread (the one killing static variables) was stuck on a deadlock. Sorry for bothering you :)

[2015-10-27 22:23] ExtremeMan commented on #617
Thanks for confirming that an issue is resolved.

[2015-10-27 22:23] #617 closed

[2015-10-27 22:46] ohadschn commented on #617
It was the least I could do after sending you to this wild goose chase :)

[2015-10-27 22:57] kgn opened #619 "xctools not working with iOS 9 on travis-ci xcode7.1"
I've been running into issues with my travis-ci automated tests once updated to their new `xcode7.1` image. In the ticket I filed there it looks like the issue is with `xctools`: [#5001](https://github.com/travis-ci/travis-ci/issues/5001)

[2015-10-28 16:43] juliangrosshauser opened #620 "Assertion failure in -[TestRunState beginTest:] with 0.2.7"
I'm getting the following assertion failure with xctool `0.2.7`:

[code]

`-[ActionParserTests testRichMediaExecuteActions]` is a C++ Google Test.
With `0.2.6` everything is working fine.

I'd love to share an example reproducing this issue, but the only code that's triggering the assertion failure I found so far is closed source. I'm investigating further, trying to find the commit between `0.2.6

[2015-10-28 16:49] ExtremeMan commented on #620
Do you use https://github.com/mattstevens/xcode-googletest? If yes, checkout my PR: https://github.com/mattstevens/xcode-googletest/pull/3.

[2015-10-28 17:53] juliangrosshauser commented on #620
That PR fixed my issue. Thank you very much!

[2015-10-28 17:53] #620 closed

[2015-10-28 17:58] ExtremeMan commented on #620
Thanks for letting me know that it helps!

We hit similar issue at Facebook and I was happy to share a fix ;)

[2015-10-29 21:18] RyanCopley commented on #617
Hey @ohadschn Could you elaborate on what you mean by "The finalization thread (the one killing static variables) was stuck on a deadlock." ?

[2015-10-30 02:01] RyanCopley commented on #617
I removed `GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES` as parameters and xctool properly terminates when the tests end

[2015-10-30 03:59] ryuzmukhametov commented on #617
I expired the same issue. So when I remove flow and coverage flags it works without hanging. When I enable this flags I have next partial sample of testing application:
[code]
So it's related to llvm_gcda_emit_function.

I still need to get coverage report for my project.
Do you have any suggestions how can I avoid it?

[2015-10-30 04:23] RyanCopley commented on #617
Xcode 7 has new coverage options in the scheme editor, I haven't had the chance to try it yet (CI has been down because of this), but I would give that a shot. I'll be trying it tomorrow morning and will report back

[2015-10-30 05:24] ryuzmukhametov commented on #617
Recently I did some investigations about new coverage profdata format. [Here](http://mgrebenets.github.io/mobile%20ci/2015/09/21/code-coverage-for-ios-xcode-7/) is a good article about it. But I was stuck on generating coverage report for CI.

[2015-10-30 13:24] ohadschn commented on #617
To clarify, in my case all the tests ran successfully. However, when application teardown was initiated, specifically the stage where all static variables are destructed, one of my C++ static variables had a destructor that ended up being stuck on a deadlock (for the sake of demonstration, it might just as well have been ```~Foo() { while (true) {} } ```).

[2015-11-02 10:50] mokagio commented on #172
I'm still getting the same issue. See https://circleci.com/gh/mokagio/Quick/11

[2015-11-02 10:58] mokagio commented on #314
I'm still getting the same issue, on version 0.2.7, with this command:

[code]

It happens both on my machine and CI, see https://circleci.com/gh/mokagio/Quick/11.

See alsohttps://github.com/facebook/xctool/issues/172

[2015-11-02 16:42] iwasrobbed commented on #580
We seem to be getting this even on xctool 0.2.6 via travis ([travis image notes](http://blog.travis-ci.com/2015-10-23-xcode-71-701-are-ready/)):

Command:

[code]

Error:

[code]

Any thoughts on how to fix?

[2015-11-02 21:38] ExtremeMan commented on #580
@iwasrobbed, your test bundle is most likely empty.

[2015-11-02 21:41] ExtremeMan commented on #314
@mokagio, in your case test framework or test classes are printing some logs when loaded:

    Pending: an example that will not run
    Pending: an example that will not run
    Pending: an example that will not run
    Pending: an example that will not run
    Pending: an example that will not run

Stop doing that and it will solve the problem. Also you can try my branch - https://github.com/fac

[2015-11-03 06:46] mokagio commented on #314
Hey @ExtremeMan thanks heaps for your feedback. Hopefully your fork will make it into upstream soon.

[2015-11-05 16:31] dev-mush commented on #588
I skipped working on my watchos branch for a long time, but still didn't manage to solve the problem, right now I had to fallback to xcodebuild + xcpretty, did somebody manage to solve this problem by any chance?

[2015-11-06 21:38] manonthemoon42 commented on #619
I've been also running into issues for iOS 9.
Is it a known issue ? Do you guys have a patch for fixing it ? In 0.2.8 ?

Thanks

[2015-11-08 09:02] anton-matosov commented on #534
I have dig a little bit into the problem with UI Tests. Here is what I have found:

 1. They are not 'regular' xctests, they are getting bundled into the special Runner. This is achieved by adding the user defined build settings; USES_XCTRUNNER=YES and TEST_TARGET_NAME=<TestTargetWithoutUITestsSuffix>
 2. However `xctool` treats them as regular xctest and tries to read xctest bundle from the defau

[2015-11-08 20:27] ExtremeMan commented on #534
@anton-matosov, thanks for the details. Have you looked into the branch I mentioned? I've already fixed querying of test cases there (see commit https://github.com/facebook/xctool/commit/118c30fe75345df537f63860bb1c69fee5038f40).

[2015-11-08 20:49] anton-matosov commented on #534
I have missed your branch @ExtremeMan, thanks for pointing it out.
I will base my future work on your changes.

[2015-11-08 20:50] ExtremeMan commented on #534
(y). Wondering what happens if to set `USES_XCTRUNNER=NO`. I stopped on trying to launch tests and might be because of I wasn't properly calling to xctrunner.

[2015-11-08 21:14] anton-matosov commented on #534
I have found the the following difference between xctrunner and default/xctool custom test runners:
xctrunner starts the main app bundle (TEST_TARGET_NAME) before while executing first:
[code]
and continues to run in the background.

[2015-11-08 21:18] anton-matosov commented on #534
So we might try to run tests hosted in the app bundle itself (not 100% sure that it will work, there might be a good reason why Apple invented new runner for this)

[2015-11-08 21:28] anton-matosov commented on #534
@ExtremeMan is there a way to run xctool directly from Xcode instead of attaching to it?
I get the following error if try to simply run it
`ERROR: Failed to launch reporter process /Users/amatosov.ctr/Library/Caches/AppCode33/DerivedData/xctool-aff12441/Build/Products/Debug/reporters/pretty: launch path not accessible`

[2015-11-08 21:29] ExtremeMan commented on #534
Yes, you should be able to directly run xctool from Xcode. I have never seen error you posted. May be try rebuilding/cleaning?

[2015-11-08 21:31] anton-matosov commented on #534
never mind, i have opened project, not workspace 😊

[2015-11-08 23:33] anton-matosov commented on #534
I have found the there is one more participant in the UI tests `testmanagerd`
[code]

[2015-11-08 23:40] anton-matosov commented on #534
So it is `testmanagerd` who does the coordination between XCTRunner and main application bundle
`testmanagerd` is getting launched by Xcode and xcodebuild as very first step of running tests.

It seems that it is a must have piece for the UI Tests,

[2015-11-09 23:43] aalmazzo commented on #574
Any help on providing the Code Coverage reports?

[2015-11-10 12:28] johnwanggithub commented on #538
thanks, ExtremeMan. just back from vacation. sorry for replying late. and just now I tried on following env:
OSX: 10.10.5
xctool: master
cmd : xctool.sh -workspace XXXXX.xcworkspace -scheme XXX -sdk iphoneos9.0 clean build

result: Build success!

[2015-11-10 18:33] ExtremeMan commented on #538
@johnwanggithub, awesome, thanks for reporting a bug!

[2015-11-11 00:52] marcomorain commented on #574
I'd love to see this implemented too.

[2015-11-11 11:25] mihahribar opened #624 "There are no available devices that support provided sdk: 9.1"
I'm having a strange issue with xctool that started to happen with the latest update, but only on one machine. To my knowledge they are both setup correctly. `xcode-select` is pointing to the correct Xcode which is up to date (latest 7.1). Ideas what can I check to see whats wrong?

[code]

[2015-11-11 23:20] Apocryphon commented on #326
Currently in Xcode 7, when xctool is run with `-destination 'id=${device_id}`, the following results:

[2015-11-12 00:20] ExtremeMan commented on #326
It means that we at Facebook aren't going to support running tests on real devices from xctool.

[2015-11-12 04:41] ExtremeMan commented on #624
Have you tried specifying simulator via `-destination` and running `xcrun simctl list`?

[2015-11-12 06:55] ExtremeMan commented on #454
I looked into it. Yes, NitroKeychain tests are failing. Even if I checkout the xctool revision dated when I closed this issue. I think it is related to Yosemite security changes. Nevertheless the easy fix exists - run those test within application context. I have created an empty test host application for the NitroKeychain test bundle and it just works now.

I will probably need to keep this issue

[2015-11-12 06:59] ExtremeMan commented on #454
Ah, that is interesting. After I reset my changes to NitroKeychain project (converted back to logic tests) they are passing. If I kill simulator app - they are failing. It might be related to some services triggered by Simulator app on launch.

[2015-11-12 07:01] ExtremeMan commented on #454
And if the simulator device is changed to the one that doesn't match the one used by xctool (for example, I open "iPhone 5" device in Simulator.app and specify "iPhone 4" when running tests via xctool) - tests fails again. So it is definitely related to Simulator.app running at the same moment. And simulated device should match.

[2015-11-12 07:47] mihahribar commented on #624
OK, I see the problem now. iOS9.1 devices list is empty for some reason. Will try and reinstall Xcode to see if that helps. Specifying `-destination 'platform=iOS Simulator,name=iPhone 5,OS=9.0'` works, so I will close this as it looks like a problem with my setup.

[code]

[2015-11-12 07:47] #624 closed

[2015-11-12 16:28] diogoguimaraes commented on #454
I'm facing the same problem and the workaround I'm using is described in the following steps:
* Check which device travis is using during tests, you can find it in the log right when travis begins the Xcode tests;
* Run `xcrun simctl list`to check the device's UDID;
* Open the simulator with the device's UDID before running xctool (`before_script`):
`- open /Applications/Xcode.app/Contents/Develop

[2015-11-12 16:56] ExtremeMan commented on #454
@diogoguimaraes, thanks for the notes! I will have a look if xctool could launch a simulator app before running logic tests. Should be doable =)

[2015-11-12 22:27] brendanjc opened #625 "Failure to run-tests for tvOS due to missing framework"
I'm running xctool 0.2.7 and Xcode 7.1.1.

I'm guessing that tvOS is not supported, but I ran into a problem that I'm hoping might be simple to address so I figured I'd ask.

Here's the message:
[code]

This framework doesn't exist in /System/Library/Frameworks - I'm guessing this is some place in xctool that's falling back to logic for OS X when detecting a non-iOS SDK. The tvOS SDK is structured

[2015-11-12 22:31] ExtremeMan commented on #625
Is your test bundle linked against correct framework?

P.S. Yes, we aren't going to support tvOS and tvSimulator in the nearest future. Unless someone from open source community will jump and do it. I doubt it would be super hard.

[2015-11-12 22:31] #625 closed

[2015-11-13 17:37] jimix opened #626 "xctool always rebuilds itself if not in a git tree"
My project grabs the xctool tarball and we use `xctool.sh` to build/use it.
There is no git information in the tar ball.
Every time we run `xctool.sh` it rebuilds itself.
I believe the test `$REVISION != "."` in [build_needed.sh#L28](../blob/master/scripts/build_needed.sh#L28) is killing me.
Is it even necessary?

[2015-11-13 19:34] ExtremeMan commented on #626
I guess it is required because script won't know if there are changes in xctool or not if it isn't under source control?

In your case - 1) why not `homebrew`?; or 2) can you build it once and then reuse cached version?

If nor 1), nor 2) works for you we can define extra env to force `build_needed.sh` behavior.

[2015-11-14 01:43] ExtremeMan commented on #616
Can you try master please? I have just merge 26 commits I was working on last 2 months. It should resolve the problem you are hitting. Thanks!

[2015-11-14 01:45] ExtremeMan commented on #608
Can you try master please? I have just merged 26 commits I was working on last 1-2 months. It should resolve the problem you are hitting. Thanks!

[2015-11-14 01:45] ExtremeMan commented on #596
Can you try master please? I have just merged 26 commits I was working on last 1-2 months. It should resolve the problem you are hitting. Thanks!

[2015-11-14 01:46] ExtremeMan commented on #586
Can you try master please? I have just merged 26 commits I was working on last 1-2 months. I have one commit (last one) that might resolve your issue. Thanks!

[2015-11-14 01:55] ExtremeMan commented on #359
Can you try master please? I have just merged 26 commits I was working on last 1-2 months. I found some places where we weren't closing fds. Thanks!

[2015-11-14 02:09] ExtremeMan commented on #436
Basically what Yiding said. Please, reopen if you thing the behavior should be different.

[2015-11-14 02:14] ExtremeMan commented on #396
Hey. I have just landed 26 commits to master. I've rewritten bunch of stuff of how xctool intercepts stdout and stderr and much more. So I've just tested your project with it and all tests are passed! Without these changes I see 5 failures!
[code]

Can you please confirm that it fixes the issue you reported?

[2015-11-14 02:29] jacebrowning commented on #436
I'm confused then. What is the intended effect of adding the `-failOnWarnings` option?

[2015-11-14 08:33] anton-matosov commented on #534
After several days of tries, I still can't find the way to make XCTRunner work w/o testmanagerd. And can't make testmanagerd run w/o xcodebuild.

[2015-11-14 08:39] anton-matosov commented on #534
While researching the issue I have found this opensource toolkit called [`fastlane`](https://github.com/fastlane/fastlane) that beats xctool from groundup. As part of the toolkit there is tool called [`scan`](https://github.com/fastlane/scan) that allows to run tests including UI tests and it is 100% forward compatible as it wraps xcodebuild + xcpretty command line

[2015-11-14 12:51] jimix commented on #596
@ExtremeMan, excellent work!
[code]

If only xcodebuild considered that an error, but that is not our problem :)

[2015-11-14 12:51] #596 closed

[2015-11-14 19:44] ExtremeMan commented on #596
@jimix, glad it helped!

[2015-11-15 19:16] shankar556288 commented on #380
This is still happening with XCode 7.0.1 and xctool 0.2.7 (via zipped installation) and xctool 0.2.8 (via homebrew). The interesting thing is that these errors are not permanent. It occurs 8 out of 10 times, the other two times, the tests pass successfully.

[code]

[2015-11-15 20:13] ExtremeMan commented on #380
@shankar556288, do you have an xctool crash report?

[2015-11-15 20:54] ExtremeMan commented on #615
Unfortunately I don't know how to help you here. But looking on StackOverflow thread I see that you resolved the issue by moving to OS X servers. Can we close this issue now?

[2015-11-15 20:54] ExtremeMan commented on #614
Mind sending a PR? We can continue discussion there.

[2015-11-15 21:16] gowrishankarsundersc commented on #380
I have attached the crash report from one of the runs. The same tests pass when run from within XCode.
[crash_report.txt](https://github.com/facebook/xctool/files/35022/crash_report.txt)

[2015-11-16 06:10] ExtremeMan commented on #380
You are probably incorrectly swizzling/stubbing `NSDate`. For example, http://shaune.com.au/nsdate-date-unrecognized-selector-sent-to-class-why-you-shouldnt-stub-foundation-classes/.
`+[NSDate date]` is defined in CoreFoundation and it should be available in runtime.

[2015-11-16 06:11] gowrishankarsundersc commented on #380
I did end up in that link through Googling but shouldn't that happen always then. These tests do pass quite a few times but fail a fairly good number of times as well. That is why, I am doubting if there is some problem with my xcodebuild/xctool configuration.

[2015-11-16 06:15] ExtremeMan commented on #380
If NSDate stub is autoreleased then it is race condition always, right? We may avoid usage of `NSDate` and some of other `CoreFoundation` classes in xctool and use C functions directly. Though not sure if it is worth to do.

[2015-11-16 07:15] hrskrs commented on #615
Yeah i resolved it by moving to OSX. Its up to you if you want to close or investigate it :)

[2015-11-16 18:24] ExtremeMan commented on #615
Thanks for confirming. I will close since I won't have a chance to work on this.

[2015-11-16 18:24] #615 closed

[2015-11-16 18:29] ExtremeMan commented on #608
Closing since I haven't receiving any response from a bug reporter. Please, reopen if you still see it using latest xctool from master.

[2015-11-16 18:29] #608 closed

[2015-11-16 18:30] ExtremeMan commented on #607
Closing since we haven't received any response from @floatplane after @x2on suggestion. Please reopen if you still see a problem.

[2015-11-16 18:30] #607 closed

[2015-11-16 22:58] danielribeiro opened #627 "Building for internal release: `dyld: could not load inserted library`"
Hi,

I'm doing an internal release of xctool 2.8 (from master, since 2.8 has not been released). Xctool.sh works great, and even running the binary directly out of `build/216a806/6E35b/Products/Release/bin/xctool`. However, I need to smallest binary for the internal release.

After building the zip with buck (`buck build :xctool-zip`), and unpacking it to a directory, I got this error:

[code]

Af

[2015-11-16 23:58] ExtremeMan commented on #627
Right. Those libraries are missing because they aren't required if you are running tests via buck. Since you are still using xctool you need them.

What you can do is remove reporters you don't use. It will reduce xctool package size.

[2015-11-17 00:03] danielribeiro commented on #627
I'm sorry, I guess I was confused about how the release zips were created: I assumed that they were done with `buck build :xctool-zip`.

On that light, it would be nice to have a build rule that does it ;)

[2015-11-17 00:07] ExtremeMan commented on #627
I will be happy to review your PR ;)

[2015-11-17 00:22] #627 closed

[2015-11-17 13:53] ohadschn commented on #616
Thanks ExtremeMan but we actually migrated to xcodebuild+xcpretty by now and I don't recall the specific circumstances leading to this error (it doesn't count as betrayal if you created the other tool as well right? :) ).

[2015-11-17 17:42] ExtremeMan commented on #616
We didn't create xcodebuild or xcpretty =)
Closing since I think I fixed that in xctool. If anyone hits this problem again, please, open new github issue.

[2015-11-17 17:42] #616 closed

[2015-11-17 19:20] vinnybad opened #628 "Build fails due to assetsd crash"
I'm trying to parallelize builds on Jenkins in one build plan but am having trouble doing so when using xctool.  It works perfectly if I queue up the builds.  The issue I encounter is that assetsd crashes (logs at the bottom of this issue).

**Some Background**
Since I've enabled 'execute builds concurrently,' I have also tried sandboxing each branch by doing the following before the xctool comman

[2015-11-17 19:40] ExtremeMan commented on #628
I have seen something similar in https://github.com/facebook/xctool/issues/551. Do you say you are trying to run application (not logic) tests in parallel? If yes I doubt it will work. Currently xctool only supports running application test using simulator shared with Xcode and other xctool instances. Another thing you can try is actually launching simulator app after you've created new device by

[2015-11-17 22:25] ExtremeMan commented on #628
You should pass `CurrentDeviceUDID` to simulator app, not to xctool.

Not yet, but I am going to change that behavior and do that in xctool.

But you are still running several xctool processes? If yes, it won't work with application tests but might work with logic tests for now, until we start launching simulator app even for logic tests.

[2015-11-18 10:41] paulz commented on #588
adding test sdk fixed this issue for me:
`-destination "platform=iOS Simulator,name=iPhone 6s" test -test-sdk iphonesimulator`

[2015-11-18 11:09] paulz commented on #396
Yes, redirecting stdout works for me on HEAD, while it did not on 0.2.7
Thank you, @ExtremeMan

[2015-11-18 13:14] danielalves commented on #396
Hey @ExtremeMan! Sorry I didn't answer you earlier. I'll test it today and will let you know. Anyway, thanks in advance :+1:

[2015-11-18 17:26] jimix commented on #626
Since I do through my own wrapper anyway I went with option 2.. thanks.

[2015-11-18 17:26] #626 closed

[2015-11-18 17:26] jimix commented on #614
good idea.

[2015-11-18 17:26] #614 closed

[2015-11-18 22:55] johnofcamas opened #630 "test-query-osx build failing"
building xctool fails with the following error

[code]

[2015-11-18 23:05] ExtremeMan commented on #630
How do you build it? Could you share OS X version, Xcode version.

[2015-11-18 23:12] johnofcamas opened #631 "xctool infinite recursion - segmentation fault"
blowing the stack:
... and it repeats projectPathsInProject until segmentation fault

[code]

[2015-11-18 23:13] ExtremeMan commented on #631
What command do you run?

[2015-11-18 23:22] johnofcamas commented on #631
xctool -workspace myProj.xcworkspace -scheme "my scheme"

One note.. the project I'm building is **very** complex with a lot of dependancies

[2015-11-18 23:24] ExtremeMan commented on #631
Is your project in the same directory where xctool is? Or in your case `myProj.xcworkspace` is something more complex?

[2015-11-18 23:31] johnofcamas commented on #631
no, myProj.xcworkspace is *very* complex .. as in over 30 schemes each with .. several targets. (think large company, large product)

[2015-11-18 23:34] johnofcamas commented on #631
also, looking at the method [XcodeSubjectInfo projectPathsInWorkspace], there are 31 project files as well that it's iterating over

[2015-11-19 02:50] danielalves commented on #396
@ExtremeMan No, it's still not ok :confused:

I'm using XCode Version 7.1.1 (7B1005), xctool 0.2.7. Using xcodebuild, everything is fine:

[2015-11-19 03:04] danielalves commented on #396
@ExtremeMan Hey, forget my last comment (in fact, I deleted it). It's what @paulz said: it still does not work on version 0.2.7, but HEAD is awesome :godmode: So go on, close this issue. And thanks again :+1:

[2015-11-19 03:14] ExtremeMan commented on #396
Huh =) Thanks for confirming!

Closing. Fixed on master.

[2015-11-19 03:14] #396 closed

[2015-11-19 07:37] thomasaw opened #632 "exception with invalid destination"
I'm seeing this problem with xctool 0.2.6 and 0.2.7. If an invalid destination is specified, like this `xctool test -workspace MyProj.xcworkspace/ -scheme MyScheme -configuration UnitTest -sdk iphonesimulator -destination "name=foobar"`,  the following exception occurs:
[code]

[2015-11-19 14:32] K76154 commented on #534
It's different, because xctool lets you to separate build and test, so you can build once and test many times. Fastlane uses xcodebuild, which has to build and test in a same command, and that sometimes is not what people want.

[2015-11-19 23:29] #436 closed

[2015-11-20 01:45] wooster commented on #632
I'm also seeing this with xctool 0.2.7 and Xcode 7.1.1 when specifying a destination by name.

[2015-11-20 07:08] johnwanggithub opened #635 "xctool 0.2.3 error with reporter json-compilation-database"
Hi there,

just met a exception as following when run xctool 0.2.3, but did not see with master. details as following, thanks for help in advance.

env:
xctool 0.2.3
OSX: 10.10.5
cmd: xctool -workspace XXX.xcworkspace -scheme XXX -sdk iphoneos9.0 -reporter json-compilation-database:compile_commands.json clean build

2015-11-20 14:49:20.585 json-compilation-database[2991:8539953] *** Terminating ap

[2015-11-20 09:06] x2on commented on #586
No it doesn't fix the problem. For me it looks like master did it worse :(
Example:
[code]

[2015-11-20 09:21] danielribeiro opened #636 "Xctool hangs when testing on a iOS 7 ipad simulator"
Hi,

Xctool master (sha 3C453A2F-3BAC-4646-82A9-4BE0C7D13301) hangs when testing on a iOS 7 ipad simulator. Sample project here: [xctool-ios-7-hanging-issue-demo](https://github.com/danielribeiro/xctool-ios-7-hanging-issue-demo).

The project can be run with the shell using [run.sh](https://github.com/danielribeiro/xctool-ios-7-hanging-issue-demo/blob/master/run.sh).

Screenshot of the part where

[2015-11-20 17:49] ExtremeMan commented on #635
Well, I guess we fixed that in master. I remember seeing similar issue reports some time ago.

I remember that issue as well. I ended up closing similar xctool issue since "We are using standard NSJSONSerialization class and not doing any pre/post processing of the output.".

[2015-11-23 04:03] johnwanggithub commented on #635
@ExtremeMan thanks for your information. then I hope oclint guys could take some time to help to have a look at the issue too.

[2015-11-24 11:12] micnguyen commented on #574
+1 for me on this one. gcovr days no more :(

[2015-11-25 17:23] Pegolon commented on #616
Hi,
I am having the same problem with xctool 0.2.7 and the current master.
Using Xcode 7.1.1 on OS X 10.11.1.
2015-11-25 18:22:02.840 xctool[51246:27411740] *** Assertion failure in -[OCTestEventState stateBeginTest], /Users/mk/Documents/repos/3rdparty/xctool/xctool/xctool/OCTestEventState.m:77
2015-11-25 18:22:02.841 xctool[51246:27411740] *** Terminating app due to uncaught exception 'NSInternal

[2015-11-25 18:09] Pegolon commented on #616
I have just found the problem: I had an Object-C-Testcase-Class with the same name as a Swift-Testcase-Class. Renaming the Objective-C-Testcase-Class solved the problem.

[2015-11-25 18:24] ExtremeMan commented on #616
Oh, interesting. Thanks for investigation, @Pegolon!

[2015-12-01 05:00] ExtremeMan commented on #636
Thanks for a bug report. I've checked out the sample project and it works for me fine:

[code]
I am on OS X 10.11.1, Xcode 7.1.1, xctool master (commit 60916bc3947169a13f1a9e8eb23c642250081b34).

Most likely it is something wrong with your simulator id. Can't you just specify `name=iPad Air`? I see that in your log "iPhone 5s" is printed but in shell script iPad Air. Also you don't need to prelaun

[2015-12-01 07:16] danielribeiro commented on #636
Interesting. I tested this on Xcode 6.4 and 6.3, with 8.4 and 8.2 sdk respectively (and OSX 10.11.1 and 10.9.5 respectively). All done with master b8aa79f9cd04d04e805f55136b44bba4040d6fdb

And yes, I also believe the log saying to use iphone 5s instead of ipad when I'm giving its id may be related.

When passing "name=", it works fine though.

[2015-12-01 07:18] danielribeiro commented on #636
And by fine I mean: not with the sdk I wanted:

<img width="896" alt="screen shot 2015-11-30 at 11 18 07 pm" src="https://cloud.githubusercontent.com/assets/148319/11494578/93d72b00-97b8-11e5-92a1-f1d68bcc3ea3.png">

`simctl list` output for reference:

<img width="896" alt="screen shot 2015-11-30 at 11 18 07 pm" src="https://cloud.githubusercontent.com/assets/148319/11494584/a9abae10-97b8-11e5-93

[2015-12-01 08:51] danielribeiro commented on #636
Side note: using full destination, like ` -destination 'platform=iOS Simulator,name=iPad Air,OS=7.1'` improves the message, but still makes it hang:

<img width="830" alt="screen shot 2015-12-01 at 12 51 18 am" src="https://cloud.githubusercontent.com/assets/148319/11496280/a8afacc0-97c5-11e5-9313-ef3473b7f8ce.png">

[2015-12-02 02:25] flovilmart commented on #574
It is worth noting that it also ignores GCC_GENERATE_TEST_COVERAGE_FILES=YES and CLANG_ENABLE_CODE_COVERAGE=YES

[2015-12-03 21:01] johnofcamas opened #640 "xctool does not respect CLANG_ENABLE_CODE_COVERAGE=YES"
I run xctool with that parameter and it does not generate the code coverage profdata file

[2015-12-03 22:43] johnofcamas opened #641 "How does one import the phabricator unit test report into phabricator?"
docs say: PhabricatorReporter produces a JSON array which you can plug directly into the
 'arc:unit' diff property in Phabricator.

Anybody with a quick primer on how that works?

[2015-12-04 04:06] bootstraponline commented on #248
Running tests with xctool is incredibly slow due to lack of incremental compilation. I've read through the comments and it looks the the only work around is to not use xctool.

[2015-12-04 04:20] bootstraponline commented on #248
https://github.com/jmig/xctool/commit/00c0defeecbf117322fb6a2203fab601b908a2be worked for me.

[2015-12-04 15:16] ecaselles commented on #574
Another +1 from here. It is unfortunate to see it is not as easy as it would appear.

[2015-12-04 22:49] #632 closed

[2015-12-07 23:25] DanielGibbsNZ commented on #553
I have a framework which can only be built for 32bit (due to APIs that don't exist on 64bit) and am unable to run it using XCTool. When I try the following:

    xctool -scheme "LegacyFrameworkTests" -configuration Release -destination arch=i386 test

I get the error:

    Failed to query the list of test cases in the test bundle: dlopen(/Users/daniel/Library/Developer/Xcode/DerivedData/LegacyFram

[2015-12-07 23:27] ExtremeMan commented on #553
@DanielGibbsNZ, you can try using `-destination "name=iPhone 4"` or any other device that is 32bit, I think.

[2015-12-08 00:02] DanielGibbsNZ commented on #553
My problem occurs for an OS X framework, not an iOS one.

[2015-12-08 00:21] ExtremeMan commented on #553
@DanielGibbsNZ, ah. Hm. xcodebuild man says:
[code]
So I guess you are doing it right way. If you check architecture of the build test bundle is it x86_64 only? If yes you can try running xctool with `--showTasks` option and check out if arguments passed to an `xcodebuild` are correct.

[2015-12-08 00:29] DanielGibbsNZ commented on #553
The architecture is set correctly (`i386`) and the `-destination arch=i386` is being passed into all the tasks except the last one (`otest-query`):

    LAUNCHING TASK (running otest-query):

    DYLD_LIBRARY_PATH=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/Library/Frameworks:/Users/daniel/Library/Developer/Xcode/DerivedData/LegacyFramework-fmaplfzbbgmgsjagpntkci

[2015-12-08 00:40] ExtremeMan commented on #553
And what about test bundle? Does it contain `i386' executable?

[2015-12-08 00:52] DanielGibbsNZ commented on #553
Yes:

    $ file /Users/daniel/Library/Developer/Xcode/DerivedData/LegacyFramework-fmaplfzbbgmgsjagpntkcipmzckc/Build/Products/Release/LegacyFrameworkTests.xctest/Contents/MacOS/LegacyFrameworkTests
    /Users/daniel/Library/Developer/Xcode/DerivedData/LegacyFramework-fmaplfzbbgmgsjagpntkcipmzckc/Build/Products/Release/LegacyFrameworkTests.xctest/Contents/MacOS/LegacyFrameworkTests: Mach-O bundle

[2015-12-08 18:33] ExtremeMan commented on #553
Can you open a new issue? I will have a look.

[2015-12-08 20:06] DanielGibbsNZ opened #643 "XCTool doesn't pass `-destination` to tests when running "logic" tests"
I have a framework which can only be built for 32bit (due to APIs that don't exist on 64bit) and am unable to run it using XCTool. When I try the following:

[code]

I get the error:

[code]

The framework and the tests are both configured to only build for `i386` and running `file` on the test bundle gives `Mach-O bundle i386`.

Running XCTool with `--showTasks` gives the following for the test t

[2015-12-09 01:52] ExtremeMan commented on #640
Tracked in https://github.com/facebook/xctool/issues/574.

[2015-12-09 01:52] #640 closed

[2015-12-09 12:17] x2on commented on #460
@ExtremeMan i'm currently running into the same problem. The app crashes during a tests and xctool installs the app again and runs the tests again. I don't use `-resetSimulator`, i use `-noResetSimulatorOnFailure`

[2015-12-11 10:35] samdeane opened #644 "xctool seemingly building/running the wrong tests"
This is a weird one.

We have a largish workspace - the scheme has about 45 entries in the target list, of which about 15 are test targets from various projects.

When I merge in a particular revision of one project (our version of FMDB), xctool seems to decide to completely ignore the workspace's idea of what to test. It runs the FMDB unit tests (which aren't listed in the scheme, let alone enabl

[2015-12-11 10:38] samdeane commented on #644
Some sample output:

[code]

[2015-12-11 10:41] samdeane commented on #644
I seemed to be able to cure this problem by deleting FMDB's "Tests" target completely, but of course that's not ideal. I then tried putting it back, and the problem returned. I then duplicated the target, and removed the original one, and the problem remained. I then *renamed* the target and output as "FMDB Tests" rather than just "Tests", which seems like it might have cured the problem.

[2015-12-11 12:12] samdeane commented on #644
The renaming thing was a false positive - the problem still exhibits on our 10.11 jenkins machine, but now not our 10.10 machine.

I'm wondering how xctool actually decides what to build/test.

Here's another example of weird output. This time we're trying to test the scheme "Sketch Jenkins", but the output is complaining about a scheme called "Tests" (which is inside FMDB's project).

[code]

[2015-12-11 17:35] AliSoftware commented on #588
Had the same issue. Adding `-test-sdk iphonesimulator` like @paulz said fixed it for me.

But I think `xctool` should deduce that itself from the fact that `-destination` includes `platform=iOS Simulator` (as `xcodebuild` does) so we don't need that.

[2015-12-17 18:48] tauheedkhan commented on #359
Is this bug fixed with the latest version ?

[2015-12-17 22:14] ExtremeMan commented on #359
@tauheedkhan, at least I should have improved the situation but only on master for now. I haven't released new xctool with a fix yet.

[2015-12-17 22:44] MattFoley commented on #575
I'm having what seems to be a similar problem, but slightly different. I wanted to check here before creating a new issue.

When I attempt to run my xctool command for running my tests, it looks like xctool skips the entire flow for booting up and installing the test host on the simulator.

```xctool -scheme QuickNDirty-Portrait-Tests -destination "platform=iOS Simulator,name=iPhone 6" -sdk iphone

[2015-12-17 23:50] ExtremeMan commented on #575
xctool, before launching and running tests, is querying test bundle to find all tests included into the bundle. In your case this particular step fails. Are you using any custom testing framework?

[2015-12-18 00:20] MattFoley commented on #575
I am using Specta/Expecta for testing. Just so you know, the exception that follows is an assert coming directly from my source code, stemming from one of my Specta specs. So xctool does seem to be starting to run the tests.

[2015-12-18 00:58] ExtremeMan commented on #575
Yeah, tests aren't run but they are loaded into memory. Do you do anything specific in `+initialize()` or `+load()`?

[2015-12-18 01:09] MattFoley commented on #575
Specta seems to begin executing it's specs on initialization, `SPTSpec` is a Specta class, and you can see that it begins executing my test at that point. Here's the log up until the spec begins running.

[code]

[2015-12-18 01:38] ExtremeMan commented on #575
I see. I would open a separate issue on Specta github project then. Doesn't seem like a good idea to run tests at that point.

[2015-12-18 01:51] MattFoley commented on #575
I'm not convinced it's an issue on Specta's part, just because xcodebuild works just fine, however I've opened an issue there as well.

[2015-12-21 14:24] mohjay opened #645 "xctool -only run mulitple test targets"
Hi,

Is it possible to run multiple test targets with the -only command?

[code]

It works fine for 1 target, as per the documentation, but seems to give me not build correctly for 2 targets. Thoughts? Is it supposed to work?

Cheers,
Mo

[2015-12-21 15:49] gferreri opened #646 "xctool running all unit tests twice"
when running

the tool runs each test twice.  In the output I see:

As you can see, the same unit tests are run twice, and the results are aggregated. When I run xcodebuild this does not happen.

[2015-12-21 16:27] gferreri commented on #646
Solved: somehow my scheme was referencing the same test project twice. Removing one of the entries solved the issue.

[2015-12-21 16:27] #646 closed

[2015-12-21 21:18] brennantaylor opened #647 "Parameter to allow test sharding"
Right now if I wanted to shard the tests across physical machines I would have to compute the buckets outside of xctool and pass the list of tests through `-only`.

I'm wondering if it is reasonable to request that xctool take on the responsibility of computing these buckets so I could split up the test runs between physical machines easily.

[code]

[2015-12-22 12:52] mohjay commented on #645
Actually got this same statement working. My environment was playing up. Closing for now.

[2015-12-22 12:52] #645 closed

[2015-12-22 16:19] OlegAnghelov opened #649 "Linking problems, Realm framework as casualty"
Hi guys!
Considering the title of the issue, I know it sounds like I came to the wrong neighbourhood :)

I still assume that there is a change I'm wrong, but first, please help me to get to the core of the problem.
After I will describe it (the problem), I will link some topics and some conclusions I made while researching the problem by myself, so you guys won't waste too much of your time on it.

[2015-12-22 19:31] ExtremeMan commented on #649
The problem is that you are doing some sort of preparation in your tests on load and not before the test run.

The difference between xctool and xcodebuild is because xctool first loads the test bundle and queries tests (in your case xctool fails here) and only then run tests. While xcodebuild just runs tests without querying them first.

You should move all your preparation code in `setUp`. Don't

[2015-12-22 21:07] danroberts commented on #248
@jmig your branch seems to work for me until I specific -sdk iphonesimulator, then it starts re-building on every build again.

[2015-12-23 14:34] gdunnjr commented on #574
I would also love to see this implemented. This is an important option for ci builds.

[2015-12-23 16:16] OlegAnghelov commented on #649
Thanks for quick answer!

Honestly, I'm not quite sure what you mean.
Are you talking about some preparations made by us, developers, or preparations made by the frameworks code?

Another small question: did you really mean the word "queries", and not "queues"?

[2015-12-23 21:32] ExtremeMan commented on #649
Yes, I mean queries.

Those preparations are made by developers and users of the testing framework. For example, why `-[RLMObject init]` is called on bundle load (`dlopen bundle.xctest` in case of xctool)? It is wrong architecture of a test.

[2015-12-24 03:56] tomahh commented on #607
Hey, I'm sorry to dig this issue, but I'm experiencing the exact same problem. Setting `-derivedDataPath` doesn't change anything, and the issue indeed goes away when `CLANG_ENABLE_MODULES` is set to `NO`.

Is there something I can provide that could help understand the issue ?

[2015-12-24 12:17] OlegAnghelov commented on #649
Since I have no idea about what is test querying (I would appreciate any helpful links on the topic), I excluded all tests, and started to add them one file for each try (read: run tests with xctool). Really lame way to debug, but this is the price that I pay by being lame :)

But, the resulsts were awesome. It was our mistake, one test file had some setup code outside any Cedar block. After I mov

[2015-12-24 12:27] #649 closed

[2015-12-28 05:58] ExtremeMan commented on #649
Thanks for letting us know. That was what I was trying to say =) I have little context about Cedar context so didn't know how to tell that correctly.

[2015-12-30 01:03] LegNeato commented on #641
My memory is a bit hazy but I think this is correct...

You can write the results via Conduit directly into the diff in Phabricator (for example, from CI machines that maybe don't use `arc`):

  https://secure.phabricator.com/conduit/method/differential.setdiffproperty/

Or, you can create your own UnitTestEngine that plugs into `arc unit` locally and that will handle sending the results up to the

[2015-12-30 09:20] nakhli opened #650 "CRASH version 2.0.7"
xctool crashing on both local machine and travis vm
[code]

command:
[code]

xctool version: `0.2.7`
@AlanKeiss

[2015-12-30 19:26] fcanas commented on #607
I'm also experiencing this issue. Like @tomahh, setting `-derivedDataPath` did not appear to have an effect. Unfortunately disabling modules, event temporarily, is not an option for my project.

[2015-12-31 07:04] ExtremeMan commented on #650
Looks like you have some problems with how your test bundle is built. Run `file <test_bundle>` and validate architectures included in the binary. You should see there at least one binary supported by iOS simulators.

[2015-12-31 09:06] nakhli commented on #650
fixed the issue by adding
[code]
to my .travis.yml. not sure why.

[2015-12-31 09:06] #650 closed

[2016-01-04 17:14] #395 closed

[2016-01-05 15:57] foulkesjohn commented on #534
@anton-matosov I've been playing around with `testmanagerd` myself whilst trying to get https://github.com/facebook/FBSimulatorControl to launch `XCTest` bundles. You can start `testmanagerd` using `simctl`. I've got a SO question which has the steps I took whilst trying to get simctl to launch an `XCTest` bundle as a precursor to getting `FBSimulatorControl` to do the same thing: http://stackover

[2016-01-06 12:53] ibrahimennafaa opened #651 "xctool is very slow when used in build phase's run script"
Hi,

Basically I have an "aggregate" target for building an universal framework. Inside I have a Run Script Build Phase with especially the following :
[code]

In the rest of the script I simply create an universal binary made of the output of the two builds above.

When I hit build on xcode, the progress bar on the top of xcode seems to be blocked but the build is properly done (Universal binary

[2016-01-07 02:59] raylcs opened #652 "How to generate .dst directory"
When I use xcodebuild install, there will generate .dst in the /tmp directory, but xctool doesn't. How could I do this by using xctool?

[2016-01-07 03:45] #652 closed

[2016-01-07 03:47] raylcs commented on #652
I just got the way to solve this issue, I added RSTROOT variable to specify the directory explicitly to do this.

[2016-01-08 19:31] cegonya commented on #574
I'd like to have this implemented too. I don't wanna run xctool for generating JUnit report and xcodebuild for generating Coverage Data, but I have to for now. Anyway, I could help with some implementation if it's needed.

[2016-01-08 21:17] armcknight opened #653 "test task invokes xcodebuild with a -target option instead of -scheme"
I have a scheme for a framework target (`TestFramework`) that also has a test target (`TestFrameworkTests`) set for running tests against the framework target. There is also a scheme created for the test target.

<img width="394" alt="screen shot 2016-01-08 at 4 09 45 pm" src="https://cloud.githubusercontent.com/assets/3241469/12209626/418d751a-b622-11e5-88bb-42e117ad9d71.png">

invoking `xcodebui

[2016-01-08 23:06] armcknight commented on #653
OK, I found this comment

[code]

here: https://github.com/facebook/xctool/blob/master/xctool/xctool/TestableExecutionInfo.m#L94

If there were a way to find if a scheme exists for the target (I'm sure there is somewhere in the project), I wonder if it would then be as easy as always providing `test` as the action and swapping out the `@"-target", target` with `@"-scheme", <corresponding name of s

[2016-01-08 23:17] armcknight commented on #653
tracking work at https://github.com/armcknight/xctool/pull/1

[2016-01-09 01:23] mjdetullio commented on #574
At this point the Fastlane tools make it easy enough to get formatted
output and JUnit results via xcpretty, which I assume is what most people
use this project for.  Fastlane uses Xcodebuild primarily for its build and
test actions so it supports coverage.
On Jan 8, 2016 2:31 PM, "cegonya" <notifications@github.com> wrote:

[2016-01-09 17:21] lawrencelomax commented on #534
I'm somewhat aware of the challenges that testmanagerd places on running tests directly. Last time I checked you end up having to launch the tests with the DVT frameworks rather than simply launching processes like can be done with Application Tests and code injection. I think most of this boils down to the DVT frameworks opening a socket with testmanagerd.

[2016-01-11 15:19] oozbekta opened #654 "xctool cannot find runtime/simulator on XCode 7.1 and 7.2"
We are receiving an error when xctool tries to launch the 9.x simulators. An example error message is below:
2016-01-07 15:48:45.110 xctool[50757:10108599] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Simulator with name "iPhone 5s" doesn't have configuration with sdk version "9.1". Available configurations: (
    "iPhone 5s: 8.1",
    "iPhone 5s: 8.2"

[2016-01-12 11:31] lawrencelomax commented on #534
cc @marekcirkos who is also working on a [solution for launching UITests directly](https://github.com/facebook/WebDriverAgent/issues/86#issuecomment-168958264).

If there is some magic that will enable us to launch `UITests` without going through `xcodebuild`/ the `DVT` frameworks and launch the tests directly (like with the `xctest` cli) that will be something that we'd want to add to `FBSimulato

[2016-01-13 08:06] jaskooo opened #655 "Failed to query the list of test cases in the test bundle"
Hello. I have a problem, after run the xctool. I am getting this error which tells nothing about the problem

`xctool 0.2.7 , xcode 7.2`

[code]

Is there a way to find what went wrong?

Thanks for help in advance

[2016-01-13 08:36] #655 closed

[2016-01-13 08:37] jaskooo commented on #655
I found a bug in my code. Sorry for trouble :)

[2016-01-14 22:00] bhamiltoncx opened #656 "json-stream reporter should always print at least {} on error"
I upgraded Xcode to 7.2 today without installing the simulators.

When I used `xctool -reporter json-stream` from Buck, Buck's JSON parser failed because `xctool` printed nothing to stdout (not even an empty JSON object `{}`). It did print an error message to stderr:

  % /path/to/xctool -reporter json-stream -sdk iphonesimulator run-tests -logicTest /path/to/test.xctest
  ERROR: SDK 'iphonesimula

[2016-01-14 22:22] bhamiltoncx commented on #656
(This is arguably not really that big of a deal, so feel free to close if you don't agree. I just filed it in case you wanted to consider including error reporting inside `json-stream` or another reporter.)

[2016-01-14 22:26] ExtremeMan commented on #656
Thanks for filing. I will have a look if it is something easy to fix. We have many asserts in the code though. So if we even fix such error messages and log them appropriately to reporters we will hit the same issue if any of asserts fires.

[2016-01-14 23:57] bhamiltoncx commented on #656
Right. I think asserts are probably not the best check for a lot of these (especially ones which can fire due to user-provided data).

It's probably time to introduce real error-reporting infrastructure to xctool and stop relying on asserts :)

[2016-01-18 05:31] ryuzmukhametov commented on #574
Hi everyone, what do you think, can help the direct usage of '-profile-generate' and '-profile-coverage-mapping', if they are used as additional clang or linker flags?
I've tried use them in my project and I've seen these flags in xcodebuild logs but I haven't found any produced profraw or profdata files in Derived Data folder after launching tests.
I suppose, when xcodebuild launches tests with e

[2016-01-20 03:40] xilin commented on #242
May I ask what's the best way to do archive and specifying the Provisioning Profile with xctool?

[2016-01-20 21:09] bartvangeneugden opened #657 "xctool test -only TestTarget:TestClass runs tests disabled in the scheme"
We have a Scheme (say `PhoneRegression`) with a couple of test targets in it (e.g. `PhoneSearchTests`, `PhoneCheckoutTests`) each with their own classes.
In one of our Jenkins jobs we only want to run the `PhoneCheckoutFormValidationTests` in `PhoneCheckoutTests`. Our configuration is the following:

    xctool -scheme PhoneRegression \
    -destination "platform=iOS Simulator,name=iPhone 6,OS=lat

[2016-01-20 21:24] ExtremeMan commented on #657
Hi. To be honest I don't know what behavior is better - to respect test disabled in the scheme or to force running all tests specified in `-only` option. Alternatively you can list tests you want to run and don't list already disabled tests.

[2016-01-20 21:57] bartvangeneugden commented on #657
I agree running `-only` could have this behaviour. However the behavior is inconsistent between functionalities of `-only`:

`xctool -scheme MyScheme test -only "MyTarget"` does adhere the scheme (doesn't run disabled tests)

`xctool -scheme MyScheme test -only "MyTarget:MyClass"` does not adhere the scheme

[2016-01-20 22:00] ExtremeMan commented on #657
Ah, got it. Yes, then probably we can improve that.

[2016-01-21 08:00] imjustice opened #658 "-listTestsOnly option will print all test cases including disabled cases"
We have test scheme (say `UnitTest`), inside that scheme we disabled some of the test cases inside it.
If we use following command to run the tests disabled test cases will not be run.
[code]

However, if we add `-listTestsOnly` option to list the test case, it will list all cases. I think that might be a bug.
[code]

[2016-01-25 15:20] mamaral opened #659 "Issue with scheme/target settings"
I'm working on getting my project set up with circle ci and was encountering issues with the builds - so I switched over to using xctool locally to attempt to replicate. The initial command I was running, which I believe was based on their documentation was:

`xctool -reporter pretty -reporter junit:~/Desktop/xcode/results.xml -reporter plain:~/Desktop/xctool.log CODE_SIGNING_REQUIRED=NO CODE_SIGN

[2016-01-25 15:51] mamaral commented on #659
So it looks like I was on v0.2.2 - upgrading to v0.2.7 seems to have solved the issue locally. Let me see if I can translate that to get my circle builds working.

[2016-01-25 16:03] mamaral commented on #659
Overriding the above command into my circle.yml worked. Sorry! Here's my circle.yml for anyone coming across this later:

[code]

[2016-01-25 16:03] #659 closed

[2016-01-27 00:43] stephanheilner opened #660 "Create 0.2.8 release tag"
I really would like to use some of the features in the latest Dev version of xctool. Any chance you could create a 0.2.8 so I can use it in my continuous build?

[2016-01-27 03:05] hiltonc commented on #660
+1

[2016-01-27 14:52] brandenr commented on #660
+1

[2016-01-27 20:31] adamshin commented on #660
+1

[2016-01-27 20:48] johnofcamas opened #661 "How can I attach to test in ios simulator from lldb?"
I used to attach to unit tests from lldb by issuing the following:
`(lldb) pro att --name xctest --waitfor`

But that is not working right now (running a single unit test).  Thoughts?  is there a different process I need to attach to?

[2016-01-28 15:25] sapieneptus commented on #534
@lawrencelomax Am I correct to assume that there are no plans to provide similar support for physical devices?

[2016-01-29 19:05] stephanheilner commented on #660
@ExtremeMan, can you make it so?

[2016-01-29 19:20] ExtremeMan commented on #660
I will try to make a new release next week!

[2016-01-29 19:21] stephanheilner commented on #660
Awesome!

[2016-02-02 09:23] cjwirth commented on #574
Yeah it would be great if this could be added.
I took a look a the project, thinking maybe it would be a quick fix, but it seems like there's a lot going on. Maybe I can give it more time on the weekend or something.

[2016-02-03 15:06] emoleumassi commented on #534
It is possible to run the XCode UI Tests with xctool? I tried this command line:

and i got this error:  ...ERROR: build-tests: 'E-UITestsTarget' is not a testing target in this scheme.

[2016-02-03 16:43] bagage opened #662 "Crash when logging invalid characters"
Using master version, tests are crashing consistently when invoked from Jenkins using XCode7.2 (SDK 9:2). Before updating to master, I was getting crashes similar to #555 and #650. I am/was also affected by #623 hence I had to strip XML after xctool completed, so there was always an issue with bad characters I am dumping in logs. Any clue? (except of removing logs!).

[code]

[2016-02-04 00:10] ExtremeMan commented on #662
Can you write a simple test case which will cause this crash? I would really appreciate so I can iterate on it and fix xctool eventually.

[2016-02-04 00:14] ExtremeMan commented on #662
But most likely crash is hit at this line: https://github.com/facebook/xctool/blob/master/Common/TaskUtil.m#L127.
Can you try wrapping it into `if (line) { [lines addObject:line]; }`

[2016-02-04 00:15] ExtremeMan commented on #661
@yiding, can you help here?

[2016-02-04 00:17] ExtremeMan commented on #658
Good point. Though I am not sure if we should change `-listTestsOnly` behavior (to skip disabled tests) or add new option that will skip disabled tests.

[2016-02-04 00:18] yiding commented on #661
What's your xcode version? Maybe the process for running simulator tests has changed.

[2016-02-04 03:07] ExtremeMan commented on #661
You can also run `xctool` with `-showTasks` option to see what processes are triggered.

[2016-02-04 14:46] bagage commented on #662
Thanks for the hint @ExtremeMan . A few notes:
* bug is not 100% reproducible. Probably because it depends on the characters I am dumping which vary from time to time (dumping ZIP network data). I get exceptions around 40% of the time.
* I cannot reproduce the bug if I attach Xcode debugger to xctool. So that's a bit annoying... :(
* The bug seems only present on one of my 2 machines.
* Your work-

[2016-02-05 03:30] ExtremeMan commented on #658
I am about to push some changes to how `-omit` and `-only` options work. I think that `-listTestsOnly` should list all test cases, no matter if they are disabled or not. If for your purposes you need to list enabled tests only I would introduce new xctool flag. Closing since it is a feature request and we won't be doing that by our own. But we will be happy to review your PR. I think it wouldn't b

[2016-02-05 03:30] #658 closed

[2016-02-05 05:57] ExtremeMan commented on #647
I would personally say it should be a CI responsibility. At Facebook we are using buck dependencies to compute what test targets are included in different builds and then distribute same test bundles across multiple builds. After that buck test invokes xctool with `only` option to run a specified test bundle.

[2016-02-05 06:01] ExtremeMan commented on #644
Sorry I didn't get back earlier. Really hard to say what is happening. My guess is that the problem is with project/scheme configuration. Another idea is that xctool internally creates a workspace + scheme to build and run tests. May be the problem is there. But hard to debug without an example.

[2016-02-05 16:08] bagage commented on #662
I am able to reproduce the bug with this quick&dirty test:

[code]

With [test.txt](https://github.com/facebook/xctool/files/119420/test.txt).

Interesting enough: copying/pasting file content in a variable and escaping quotes lead to no exception.

[2016-02-05 20:44] ExtremeMan commented on #657
Fix is on master. Thanks for reporting a bug!

[2016-02-05 20:44] #657 closed

[2016-02-05 20:51] ExtremeMan commented on #662
Thanks for the example. I am able to reproduce locally. `iconv` fails actually. I will have some workaround for such use cases but most likely xctool will just print empty string in that case.

[2016-02-05 22:51] gblotter commented on #660
+1

[2016-02-06 01:03] BryanJBryce commented on #660
+1

[2016-02-06 06:03] ExtremeMan commented on #662
Can you try this branch for me - https://github.com/facebook/xctool/tree/nekto/utf8_handling?

[2016-02-06 12:53] cjwirth commented on #574
I just took a look at this. Maybe someone more familiar with it than me can solve it easily, but it seems like this is definitely not trivial.

As, @thelvis4 mentioned,

Where `xctool` has separate `build-tests` and `run-tests` actions, `xcodebuild` only has `test`. Conceptually, it's similar to `xctool`'s two actions combined.

However, the `-enableCodeCoverage YES` option is _only_ supported whe

[2016-02-08 09:49] bagage commented on #662
Yep, it solves the issue!

[2016-02-08 15:54] PorterHoskins commented on #660
+1

[2016-02-08 18:27] lynns commented on #660
+1

[2016-02-08 20:53] ExtremeMan commented on #660
I want to merge another one PR and then I will cut.

[2016-02-09 00:43] #662 closed

[2016-02-09 01:49] ExtremeMan commented on #660
New release created. Sent PR to homebrew: https://github.com/Homebrew/homebrew/pull/48987.

[2016-02-09 01:49] #660 closed

[2016-02-09 06:24] plu commented on #248
Please let me know if anyone faces some issues using this approach: https://github.com/facebook/xctool/pull/665

[2016-02-09 21:56] marcHBO commented on #454
Having the same issue here!

[2016-02-10 09:37] bzarzoza commented on #624
I'm experiencing the same issue - could this be reopened, please?

[2016-02-10 12:00] shusso commented on #624
this `xctool` command fails:
[code]
but using `xcodebuild`succeeds:
[code]

[2016-02-10 17:15] ExtremeMan commented on #624
This is strange. Does `xcrun simctl list` list same configurations?

[2016-02-11 07:34] artemyarulin commented on #624
https://github.com/facebook/xctool/issues/654 could be related

[2016-02-11 09:30] shusso commented on #624
@ExtremeMan seems to list the same configurations

[code]

[2016-02-11 15:28] pesterhazy commented on #607
My project also rebuilds every time I run the tests because of `CLANG_ENABLE_MODULES`. As I'm using cocaoapods, I cannot easily influence the dependent projects, which will always re-build every run.

[2016-02-11 21:28] ExtremeMan commented on #624
@artemyarulin, you are most likely right. Looking right now into this issue. Let's move our discussion to https://github.com/facebook/xctool/issues/654.

[2016-02-13 06:13] ExtremeMan commented on #248
Just merged @plu's PR. I am about to close this issue since it looks like passing `-derivedDataPath PATH` should solve the problem discussed here. Any concerns before I close it?

[2016-02-15 11:49] paulz opened #666 "Crash while running tests with Xcode Version 7.3 beta 3"
After upgrading Xcode to 7.3 beta 3
xctool fails to start tests
[code]
[code]

[code]

[2016-02-16 18:17] ExtremeMan commented on #515
Sorry, not sure how to address this question. Probably it is worth asking on KIWI project page or StackOverflow.

[2016-02-16 18:17] #515 closed

[2016-02-16 18:19] ExtremeMan commented on #326
Sorry, folks, but we aren't going to support running tests on real devices in the nearest future. If any of you want to hack we are open to pull requests!

[2016-02-16 18:19] #326 closed

[2016-02-16 18:20] ExtremeMan commented on #359
If not fixed then it should be significantly improved. Please, open a new issue if you still observe mentioned problems.

[2016-02-16 18:20] #359 closed

[2016-02-16 18:23] ExtremeMan commented on #437
`-derivedDataPath` is now respected by test workspaces. Closing since there is nothing else we can address here.

[2016-02-16 18:23] #437 closed

[2016-02-16 18:24] ExtremeMan commented on #485
Closing since we aren't going to work on this request in the nearest future. We will be happy to review your PR though!

[2016-02-16 18:24] #485 closed

[2016-02-17 02:57] ExtremeMan commented on #619
Fixed on master.

[2016-02-17 02:57] #619 closed

[2016-02-17 02:57] ExtremeMan commented on #654
Thanks for reporting an issue and actually providing a workaround. I pushed similar one to master.

[2016-02-17 02:57] #654 closed

[2016-02-17 11:46] Pegolon commented on #574
Any progress on this? I would really appreciate it if this would finally be working.
Thanks in advance for your effort.

[2016-02-17 17:30] ExtremeMan commented on #666
Thanks for reporting. Should be fixed on master.

[2016-02-17 17:30] #666 closed

[2016-02-17 17:31] ExtremeMan commented on #661
Closing since it isn't an xctool issue.

[2016-02-17 17:31] #661 closed

[2016-02-17 17:33] ExtremeMan commented on #647
Closing this issue since we aren't going to work on this in the nearest future.

[2016-02-17 17:33] #647 closed

[2016-02-17 17:35] ExtremeMan commented on #635
Closing since we aren't going to work on this.

[2016-02-17 17:35] #635 closed

[2016-02-17 17:36] #630 closed

[2016-02-17 17:36] ExtremeMan commented on #630
Closing since I hope the issue was resolved.

[2016-02-17 17:37] ExtremeMan commented on #628
Closing since I don't think we can address this issue in xctool. Hopefully it was fixed in one of Xcode releases since we didn't see it on our end for a long time.

[2016-02-17 17:37] #628 closed

[2016-02-17 17:39] ExtremeMan commented on #575
Looks like this was fixed.

[2016-02-17 17:39] #575 closed

[2016-02-18 15:44] thomasvl commented on #619
Any time table for the 0.2.9 release with this fix included?

[2016-02-19 05:32] ExtremeMan commented on #619
I will make a new release with the fix this or next week.

[2016-02-25 12:08] qiuhm commented on #172
I have the same problem.My xctool's version is 0.2.7。

[2016-02-25 18:08] oliverhu commented on #651
I use xcodebuild to build and leverage xctool to run tests. Save 20+ minutes

[2016-02-26 08:23] lzybala commented on #326
xctool -project EMMIosSdkTest.xcodeproj \
-scheme EMMIosSdkTestTests \
-destination id="7e3076a27c365c6d39751438873528b28cb4062a" \
run-tests -only EMMIosSdkTestTests:EMMIosSdkTest_Actived

ERROR: '7e3076a27c365c6d39751438873528b28cb4062a' isn't a valid device id.

[2016-02-26 08:24] lzybala commented on #326
xctool -project EMMIosSdkTest.xcodeproj \
-scheme EMMIosSdkTestTests \
-destination name="My iPhone" \
run-tests -only EMMIosSdkTestTests:EMMIosSdkTest_Actived

*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '+[SimDeviceType supportedDeviceTypesByName]: unrecognized selector sent to class 0x10d990968'

[2016-03-07 03:58] danielribeiro commented on #248
This is awesome!

However, something really weird happens if you just try to re-use the derived data folder. Simple example: clone the project in two different paths, and build using the same derived data path. If you build form the same path it works, but as soon as you go to the clone project, it will rebuilt it from scractch (even though the contents of the underlying filesystem tree are **exac

[2016-03-07 23:34] brennantaylor opened #671 "Running KIF test with xctool 0.2.6/0.2.7 works, hangs on 0.2.8"
I'm wondering what could have changed that introduced this behaviour. Downgrading to a previous version works as expected.

The test is running in isolation with `-freshInstall` and `-freshSimulator`.

Also when this locks up `-testTimeout` doesn't appear to kick in.

[2016-03-08 11:46] mmmulani commented on #671
whoa Brennan sup.

can you run `sample xctool 1` when it's hanging, so we can understand where it's stuck. Also what version of Xcode are you running under? `xcodebuild -version` should provide that.

[2016-03-10 22:49] brennantaylor commented on #671
Will do!

[2016-03-10 23:12] brennantaylor commented on #671
@mmmulani Here you go

[code]

[2016-03-14 09:13] lolgear opened #672 "What is a main purpose of xctool?"
Well, note in readme says: "... building will not be supported for future versions of Xcode".

Is it correct that this repository will be discontinued ( for example ) in next two Xcode releases ( major )?